
/* ::::: http://www.sciencedirect.com.ejproxy.a-star.edu.sg/science/page/static/stylesheets/css_art_v01.css ::::: */

.articleHeaderInner a { color: rgb(0, 0, 255); }
a.articleHeaderInner:hover { text-decoration: underline; }
p { line-height: 150%; }
.articleTitle { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 150%; display: inline; }
.articleText { display: inline; line-height: 150%; }
.graphText { display: inline; line-height: 150%; }
.graphTextOnly { display: inline; line-height: 150%; }
.refText { display: inline; line-height: 150%; }
.articleToc { line-height: 150%; }
* { -moz-box-sizing: border-box; }
.infobubble-container { position: relative; z-index: 10; }
.infobubble { border: 1px solid grey; padding: 8px 10px 10px; background-color: rgb(239, 239, 239); display: none; text-indent: -1px; position: absolute; top: 0px; left: -300px; width: 290px; }
.mlktScroll { border: 1px solid rgb(204, 204, 204); overflow: auto; height: 100px; width: 270px; background-color: rgb(255, 255, 255); }
.mlktLink { padding: 5px 5px 0px; background-color: rgb(246, 246, 246); }
.mlktEmpty { border-bottom: 1px solid rgb(204, 204, 204); padding: 5px; background-color: rgb(246, 246, 246); }
.outerPage { padding: 5px 0px 0px; }
.articlePage { border: 1px solid rgb(153, 153, 153); padding: 5px; width: 100%; background-color: rgb(246, 246, 246); background-repeat: repeat-x; }
.articleHeaderInner { border: 5px none ; padding: 5px; background-color: rgb(255, 255, 255); margin-right: 350px; }
.FATTABInner { display: block; background-color: rgb(246, 246, 246); padding-left: 0px; padding-right: 0px; font-size: 0.9em; float: right; height: 100%; width: 350px; }
.refersTable { background-color: rgb(255, 255, 255); font-family: arial,helvetica,sans-serif; font-size: 1em; line-height: 16px; }
.refersLeftColumn { vertical-align: top; text-align: right; font-weight: bold; width: 55px; padding-left: 5px; }
.refersDivider { margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); height: 10px; width: 100%; }
.refPreview { padding: 8px; background-color: rgb(238, 238, 238); z-index: 5; display: none; width: 300px; }
.greyTable { border-style: solid solid none; border-color: rgb(204, 204, 204); border-width: 1px 1px 0px; padding: 0px; background-color: rgb(246, 246, 246); font-size: 0.9em; }
.greyHeader { border-bottom: 1px solid rgb(204, 204, 204); padding: 7px 5px; background-repeat: repeat-x; }
.tabSelectedOuter { float: left; height: 28px; }
.tabUnselectedOuter { float: left; height: 25px; }
.tabSelectedInner { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); float: left; font-family: arial,verdana,helvetica,sans-serif; font-size: 1.5em; height: 28px; padding-left: 5px; padding-right: 5px; padding-top: 5px; position: relative; }
.tabUnselectedInner { border-bottom: 1px solid rgb(204, 204, 204); padding-left: 5px; padding-top: 5px; padding-right: 5px; height: 25px; position: relative; font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; color: rgb(0, 0, 0); float: left; }
.tabUnselectedOuter:hover { cursor: pointer; }
.tabUnselectedInner:hover { cursor: pointer; }
.disabledTabLink { color: rgb(188, 188, 188); }
.bottomArticle { background-color: rgb(255, 255, 255); position: relative; }
.footerArticle { background-color: rgb(255, 255, 255); }
.ppvMSG { padding: 5px; float: right; display: block; z-index: 1; }
.ppvMSG img { border: 0pt none ; padding: 5px; }
.figTblUpiOuter { border: 0px none ; padding: 0px; margin-left: 10px; }
.tblScroll { padding: 0px 0px 17px; width: 100%; overflow-x: auto; overflow-y: visible; }
.tblScrollBox {  }
.tblScrollLink { display: inline; }
.eqImgScroll { padding: 0px 0px 17px; width: 100%; overflow-x: auto; vertical-align: middle; text-align: left; overflow-y: visible; }
.eqImgScroll img, .eqImgScroll a, .eqImgScroll a:hover { border: 0pt none ; }
.inlMMLBox { border: 0pt none ; margin: 0px; padding: 0px; display: inline; }
.fdBox { border: 0pt none ; margin: 0px; padding: 0px; width: 100%; position: relative; }
.fdNoLabel { text-align: center; vertical-align: middle; }
.fdWithLabel { margin-right: 10%; text-align: center; vertical-align: middle; }
.fdLabel { width: 10%; text-align: right; position: absolute; top: 45%; right: 0px; }
.fdLabelTxt { vertical-align: super; }
.sizeImg { max-width: 100%; height: auto; }
.sizeImgBox {  }
.sizeImgLink { display: inline; }
.viewWithinBtn:hover, .viewWithinBtn { border: 1px solid rgb(102, 102, 102); margin: 0px; padding: 1px 10px; text-decoration: none; display: inline; background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); font-size: 11px; font-weight: bold; height: 19px; width: auto; }
.graphTextOnly a:hover { text-decoration: none; }
.outwardBox { border: 1px solid rgb(204, 204, 204); margin: 0px; padding: 3px; background-color: rgb(255, 255, 255); font-size: 0.8em; text-align: center; }
.outwardBox td { padding: 3px; }
.MMCvRow { border: 0px none ; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); }
.MMCvOuter { border: 0px none ; margin: 0px; padding: 0px 5px 0px 0px; overflow: hidden; display: block; float: right; width: 350px; background-color: rgb(255, 255, 255); font-size: 0.9em; }
.MMCvTitleBox { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); border-width: 0px 0px 1px; margin: 2px 2px 12px; padding: 0px; font-weight: bold; }
.MMCvTitleSpan { position: relative; top: 2px; background-color: rgb(255, 255, 255); }
.MMCvRefHovs { border: 0px none ; margin: 0px; padding: 0px; }
.MMCvTabs { border-bottom: 1px solid rgb(204, 204, 204); margin: 0px; padding: 2px 0px; }
.MMCvTab { border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-width: 1px 1px 0px; margin: 0px 5px 0px 0px; padding: 2px 9px; text-align: center; color: rgb(0, 0, 255); background-color: rgb(255, 255, 255); font-weight: bold; cursor: pointer; }
.MMCvTab:hover { text-decoration: underline; }
.MMCvTabActive { border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-width: 1px 1px 0px; margin: 0px 5px 0px 0px; padding: 2px 9px 3px; text-align: center; font-weight: bold; background-color: rgb(242, 242, 242); }
.MMCvTabActive a:hover { text-decoration: none; }
.MMCvSelector { border-style: none solid; border-color: -moz-use-text-color rgb(204, 204, 204); border-width: 0px 1px; margin: 0px; padding: 0px 5px 0px 0px; width: 345px; text-align: right; background-color: rgb(242, 242, 242); }
.MMCvSelectDiv { border: 0px none ; margin: 0px; padding: 3px; }
.MMCvSelectorItem { border: 0px none ; margin: 0px; padding: 0px; cursor: pointer; color: rgb(0, 0, 255); }
.MMCvSelectorCollapseItem { cursor: pointer; }
.MMCvSelRover { border: 0px none ; margin: 0px; padding: 0px; display: inline; font-size: 145%; }
.MMCvSelRover a { background-color: rgb(204, 204, 204); }
.MMCvSelRover a:hover { background-color: rgb(0, 0, 255); }
.MMCvSelRover img { border: 0px none ; margin: 0px; padding: 0px; vertical-align: -4px; }
.MMCvViewBacking { border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); border-width: 0px 1px 1px; margin: 0px; padding: 0px 5px 1px 0px; width: 345px; background-color: rgb(242, 242, 242); }
.MMCvViewer { border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; border-width: 1px 1px 0px 0px; margin: 0px; padding: 0px; overflow: hidden; position: absolute; width: 340px; background-color: rgb(255, 255, 255); }
.MMCvVideoComponent, .MMCvAudioComponent, .MMCvOtherComponent { border: 0px none ; margin: 0px 195px 0px 0px; padding: 0px; position: absolute; top: 0pt; left: 345px; width: 340px; display: block; }
.MMCvCaptionArea { border: 0px none ; margin: 0px; padding: 0px; overflow: hidden; display: block; float: right; width: 195px; }
.MMCvCaptionWrapper { border: 0px none ; margin: 0px; padding: 0px; overflow: hidden; display: block; width: 195px; }
.MMCvCaption { border: 0px none ; margin: 0px; padding: 5px; display: block; width: 195px; }
.MMCvMoreSpacer { border-style: none none dashed; border-color: -moz-use-text-color -moz-use-text-color rgb(0, 0, 0); border-width: 0px 0px 1px; margin: 0px; padding: 0px 0px 2px; }
.MMCvMoreWrapper { border: 0px none ; margin: 0px; padding: 0px 5px; display: none; width: 195px; color: rgb(0, 0, 255); cursor: pointer; }
.MMCvLessWrapper { border: 0px none ; margin: 0px; padding: 0px 5px; display: none; width: 195px; color: rgb(0, 0, 255); cursor: pointer; }
.MMCvImageArea { border: 0px none ; margin: 0px; padding: 5px; width: 138px; }
.MMCvImage { border: 0px none ; margin: 0px; padding: 0px; width: 128px; }
.MMCvViewWithin { border: 0px none ; margin: 0px; padding: 0px; width: 128px; }
#shadow-container { position: relative; top: 3px; left: 3px; margin-right: 3px; margin-bottom: 3px; float: left; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; }
.shadow1, .shadow2, .shadow3, .container { position: relative; left: -1px; top: -1px; width: 220px; }
.shadow1 { background: rgb(241, 241, 241) none repeat scroll 0% 0%; width: 220px; }
.shadow2 { background: rgb(219, 218, 219) none repeat scroll 0% 0%; }
.shadow3 { background: rgb(184, 182, 184) none repeat scroll 0% 0%; }
.container { padding: 8px; background-color: rgb(242, 242, 242); font-size: 1.1em; font-family: Geneva,Arial,Helvetica,sans-serif; color: rgb(85, 85, 85); width: 220px; }
.alphaNavSIBorder { border-bottom: 1px dashed rgb(204, 204, 204); margin: 1px; font-size: 1.2em; padding-bottom: 0px; font-weight: bold; }
ul.artAlphaNavBar { display: block; }
ul.artAlphaNavBar li { border-left: 1px solid rgb(153, 153, 153); list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 3px; padding-right: 3px; display: inline; }
dl dl dl { margin: 0pt; padding: 0pt; line-height: 100%; }
dt { margin: 0px; padding: 0pt; line-height: 14pt; }
dd { margin: 10px; padding: 0pt; line-height: 150%; }
dl p { margin-left: 0px; line-height: 100%; }
dt p { margin-left: 0px; line-height: 100%; }
dd p { margin-left: 0px; line-height: 100%; }

/* ::::: http://www.2collab.com/static/css/bart/sdcolint.css ::::: */

.collab_infobox a a:link { color: rgb(0, 0, 181); text-decoration: none; }
.collab_infobox a:visited { color: rgb(87, 87, 87); text-decoration: none; }
.collab_infobox a:hover { color: rgb(0, 126, 181); text-decoration: none; }
.collab_infobox div, html, input, select, table, td { font-family: arial,verdana,helvetica,sans-serif; font-size: 1em; }
.collab_body { margin: 0px; padding: 0px; font-family: Helvetica,Arial,sans-serif; font-size: 1em; background-color: rgb(255, 255, 255); color: rgb(87, 87, 87); }
.collab_grayTable { border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; border-width: 1px 1px 0px; padding: 0px; background-color: rgb(246, 246, 246); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 0.9em; }
.collab_grayHeader { border-bottom: 1px solid rgb(204, 204, 204); padding: 7px 5px; background-repeat: repeat-x; }
.collab_collabHeader { border-bottom: 1px solid rgb(204, 204, 204); background-repeat: repeat-x; padding-bottom: 7px; padding-top: 7px; }
#rightPane { display: inline; }
#rightPane.hide { display: none; }
#colint_box, #colint_box_timeout, #colint_box_noinfo { border: 1px solid rgb(204, 204, 204); width: 338px; }
.collab_infobox img { border-style: none; }
.collab_infobubble-container { position: relative; z-index: 10; }
.collab_infobox ul { margin: 0px 0px 0px 15px; padding: 0px; list-style-type: none; text-indent: 3px; vertical-align: middle; }
.collab_infobox li a:hover { text-decoration: none; }
.collab_infobubble { border: 1px solid rgb(153, 153, 153); padding: 8px 10px 10px; background-color: rgb(239, 239, 239); display: none; left: -300px; position: absolute; text-indent: -1px; top: 0px; width: 290px; }
.collab_infobubble2 { border: 1px solid rgb(153, 153, 153); padding: 8px 10px 10px; background-color: rgb(239, 239, 239); display: none; left: 0px; position: absolute; text-indent: -1px; top: 10px; width: 290px; z-index: 30; }
.collab_infobubble span { color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; text-decoration: none; }
.collabScroll { border: 1px solid rgb(204, 204, 204); padding: 2px; overflow: auto; background-color: rgb(255, 255, 255); height: 100px; }
.collabLink { background-color: rgb(246, 246, 246); padding-bottom: 5px; padding-top: 5px; width: 336px; }
.collabContainer { background-color: rgb(255, 255, 255); }

/* ::::: http://www.sciencedirect.com.ejproxy.a-star.edu.sg/science/page/static/stylesheets/css_gen_v01.css ::::: */

body { margin: 0.4em 0em 0em; }
div, html, img, input, select, table, td, li, .pageText { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; }
.alertMsg, .errMsg { color: rgb(255, 0, 0); font-weight: bold; }
div.msgBox { border: 1px solid rgb(222, 222, 222); padding: 6px 5px; width: 80%; }
div.imgIcon { float: left; color: rgb(255, 0, 0); font-weight: bold; padding-right: 5px; }
div.imgIcon h3 { margin: 0px; padding: 0px; font-size: 1em; }
div.errMsgText, div.alertMsgText { color: rgb(255, 0, 0); font-weight: bold; padding-left: 26px; }
div.confirmMsgText, div.infoMsgText { color: rgb(0, 0, 0); font-weight: bold; padding-left: 26px; }
div.msgText { color: rgb(0, 0, 0); padding-left: 50px; font-weight: normal; }
div.errMsgText a, div.alertMsgText a { color: rgb(255, 0, 0); font-weight: bold; }
div.confirmMsgText a, div.infoMsgText a { color: rgb(0, 0, 0); font-weight: bold; }
div.msgText a { font-weight: normal; }
.pageHeading { margin: 5px 0px 0px 5px; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; font-size: 150%; color: rgb(140, 201, 25); }
.pageHeadingBlack { margin: 5px 0px 0px 5px; font-family: arial,helvetica,sans-serif; font-weight: bold; font-size: 150%; color: Black; }
.pageContent { margin: 5px; }
#sdLoginBox { padding: 0.1em; overflow: hidden; background-color: rgb(221, 221, 221); background-repeat: repeat-x; background-position: left bottom; height: 6.7em; width: 29.5em; font-size: 0.8em; }
#sdLoginBox input { font-size: 0.9em; }
#sdLoginBox div, #sdLoginBox html, #sdLoginBox img, #sdLoginBox input, #sdLoginBox select, #sdLoginBox table, #sdLoginBox td { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; }
#sdLoginBoxFold { overflow: hidden; text-align: right; }
#sdQuickSearch table { font-size: 1em; padding-bottom: 0.3em; }
#sdQuickSearch input { font-size: 1em; }
#sdQuickSearch td { font-family: arial,verdana,helvetica,sans-serif; }
#sdBody { font-size: 75%; font-family: arial,verdana,helvetica,sans-serif; width: 100%; padding-top: 4px; padding-bottom: 4px; }
a.ActionButton { text-decoration: none; }
a.ActionButton:hover, a.ActionButton:visited:hover, #a:link .ActionButton.Active, a:visited .ActionButton.Active { text-decoration: underline; }
.ActionButtonDisabled { text-decoration: none; color: rgb(153, 153, 153); }
a, a:link { text-decoration: none; }
a:hover { text-decoration: underline; }
a.linkclosed:hover, a.linkopen, a.linkopen:link, a.linkopen:visited, a.linkopen:active, span.linkopen { color: white; background-color: rgb(119, 119, 119); text-decoration: none; }
.linknoborder img { border: medium none ; }
.linkdisabled { color: rgb(153, 153, 153); }
input.xpstyle { border: 1px solid rgb(102, 102, 102); }
input.qsinput { height: 1.6em; font-family: arial,verdana,helvetica,sans-serif; }
table.sdMainNav { border-bottom: 0.1em solid black; background-repeat: repeat-x; background-position: left top; height: 2em; margin-top: 0.2em; width: 100%; font-size: 1em; }
td.sdMainNav { background-position: left top; background-repeat: repeat-x; }
.sci_dirNav { background-color: rgb(108, 157, 49); }
.sci_dirNavActive {  }
.blueNav { background-color: rgb(0, 0, 170); }
.blueNavActive { background-color: rgb(186, 211, 243); color: rgb(0, 0, 170); }
.redNav { background-color: rgb(153, 0, 0); }
.redNavActive { background-color: rgb(247, 206, 206); color: rgb(153, 0, 0); }
.greyNav { background-color: rgb(127, 127, 127); }
.greyNavActive { background-color: rgb(230, 230, 230); color: rgb(127, 127, 127); }
.greenNav { background-color: rgb(0, 119, 3); }
.greenNavActive { background-color: rgb(194, 237, 192); color: rgb(0, 119, 3); }
.orangeNav { background-color: rgb(204, 82, 0); }
.orangeNavActive { background-color: rgb(255, 223, 202); color: rgb(204, 82, 0); }
table.sdMainNav a:hover { text-decoration: none; }
table.sdMainNavCenter td { border-left: 0.01em solid white; height: 1.82em; font-size: 1em; }
table.sdMainNavCenter tbody, td, tr, div { font-size: 1em; }
table.sdMainNavCenter { border-right: 0.01em solid white; height: 1.82em; }
table.sdMainNav a, table.sdMainNav a:link, table.sdMainNav a:visited { color: white; font-weight: normal; height: 1.82em; padding-bottom: 0.33em; padding-top: 0.19em; vertical-align: middle; text-decoration: none; }
div.sdMainNavPadding { padding-left: 1em; padding-right: 1em; }
.alphaDivider { position: relative; display: inline; width: 0px; height: 0px; }
.alphaSelect { position: absolute; top: -11px; left: 0px; height: 14px; background-color: rgb(119, 119, 119); }
.libBannerText { font-size: smaller; font-family: Verdana,Arial,Helvetica,sans-serif; }
.sci_dirBtn { background-color: rgb(122, 165, 68); }
.sci_dirBtnHov { color: rgb(255, 255, 255); background-color: rgb(29, 107, 47); }
.blueBtn { background-color: rgb(0, 0, 170); }
.blueBtnHov { color: rgb(0, 0, 170); background-color: rgb(186, 211, 243); }
.greenBtn { background-color: rgb(0, 119, 3); }
.greenBtnHov { color: rgb(0, 119, 3); background-color: rgb(194, 237, 192); }
.greyBtn { background-color: rgb(127, 127, 127); }
.greyBtnHov { color: rgb(127, 127, 127); background-color: rgb(230, 230, 230); }
.redBtn { background-color: rgb(153, 0, 0); }
.redBtnHov { color: rgb(153, 0, 0); background-color: rgb(247, 206, 206); }
.orangeBtn { background-color: rgb(204, 82, 0); }
.orangeBtnHov { color: rgb(204, 82, 0); background-color: rgb(255, 223, 202); }
input.btn { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 0px 1px; overflow: visible; font-weight: bold; color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; vertical-align: middle; cursor: pointer; width: auto; }
input.btnhov { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 0px 1px; overflow: visible; font-weight: bold; font-size: 12px; text-decoration: none; vertical-align: middle; cursor: pointer; width: auto; }
a.articleBtn, a.articleBtn:hover { border: medium none ; margin: 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(153, 153, 153); text-decoration: none; cursor: pointer; }
a.articleBtnActive, a.articleBtnActive:hover { background-color: rgb(122, 165, 68); text-decoration: none; cursor: default; }
a.articleBtn:hover { background-color: rgb(122, 165, 68); }
a.btn, a.btn:hover { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 1px 5px; font-size: 12px; font-family: arial,verdana,helvetica,sans-serif; height: 1.17em; font-weight: bold; color: rgb(255, 255, 255); vertical-align: middle; text-decoration: none; }
a.sci_dirBtn { background-color: rgb(122, 165, 68); }
a.sci_dirBtn:hover { color: rgb(255, 255, 255); background-color: rgb(29, 107, 47); }
a.blueBtn { background-color: rgb(0, 0, 170); }
a.blueBtn:hover { color: rgb(0, 0, 170); background-color: rgb(186, 211, 243); }
a.greenBtn { background-color: rgb(0, 119, 3); }
a.greenBtn:hover { color: rgb(0, 119, 3); background-color: rgb(194, 237, 192); }
a.greyBtn { background-color: rgb(127, 127, 127); }
a.greyBtn:hover { color: rgb(127, 127, 127); background-color: rgb(230, 230, 230); }
a.redBtn { background-color: rgb(153, 0, 0); }
a.redBtn:hover { color: rgb(153, 0, 0); background-color: rgb(247, 206, 206); }
a.orangeBtn { background-color: rgb(204, 82, 0); }
a.orangeBtn:hover { color: rgb(204, 82, 0); background-color: rgb(255, 223, 202); }
a.noul:hover { text-decoration: none; }
.tableFmBg { border-top: 2px solid rgb(140, 201, 25); border-bottom: 2px solid rgb(140, 201, 25); margin: 0px; padding: 0px; background-color: rgb(239, 239, 239); }
.sci_dirBorder { border-top: 2px solid rgb(140, 201, 25); border-bottom: 2px solid rgb(140, 201, 25); }
.blueBorder { border-top: 2px solid rgb(0, 0, 170); border-bottom: 2px solid rgb(0, 0, 170); }
.greenBorder { border-top: 2px solid rgb(0, 119, 3); border-bottom: 2px solid rgb(0, 119, 3); }
.greyBorder { border-top: 2px solid rgb(127, 127, 127); border-bottom: 2px solid rgb(127, 127, 127); }
.redBorder { border-top: 2px solid rgb(153, 0, 0); border-bottom: 2px solid rgb(153, 0, 0); }
.orangeBorder { border-top: 2px solid rgb(204, 82, 0); border-bottom: 2px solid rgb(204, 82, 0); }
.sci_dirBorderBtm { border-bottom: 2px solid rgb(140, 201, 25); }
.blueBorderBtm { border-bottom: 2px solid rgb(0, 0, 170); }
.greenBorderBtm { border-bottom: 2px solid rgb(0, 119, 3); }
.greyBorderBtm { border-bottom: 2px solid rgb(127, 127, 127); }
.redBorderBtm { border-bottom: 2px solid rgb(153, 0, 0); }
.orangeBorderBtm { border-bottom: 2px solid rgb(204, 82, 0); }
.sci_dirBoxBorder { border: 2px solid rgb(140, 201, 25); }
.blueBoxBorder { border: 2px solid rgb(0, 0, 170); }
.greenBoxBorder { border: 2px solid rgb(0, 119, 3); }
.greyBoxBorder { border: 2px solid rgb(127, 127, 127); }
.redBoxBorder { border: 2px solid rgb(153, 0, 0); }
.orangeBoxBorder { border: 2px solid rgb(204, 82, 0); }
.tableFmBgGray { background-color: rgb(239, 239, 239); font-family: arial,helvetica,sans-serif; font-size: 1em; }
.tableFmBgGrayNoCell { margin: 5px; padding: 5px; background-color: rgb(239, 239, 239); font-family: arial,helvetica,sans-serif; font-size: 1em; }
.tableFmBgPad { background-color: rgb(239, 239, 239); padding-top: 5px; padding-bottom: 5px; margin-top: 5px; margin-bottom: 5px; }
.tableFmCell { padding-left: 10px; margin-left: 10px; padding-top: 3px; padding-bottom: 3px; text-align: right; font-weight: bold; vertical-align: top; }
.tableFmCellTop { padding-top: 0px; text-align: right; font-weight: bold; vertical-align: top; }
.tableFmCellAbove { padding: 5px; text-align: left; font-weight: bold; }
.tableFmCellL { padding-left: 10px; margin-left: 10px; padding-top: 3px; padding-bottom: 3px; text-align: left; font-weight: bold; vertical-align: top; }
.tableFmDivider { margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); height: 2px; width: 100%; }
.redtableFmDivider { margin: 0px; padding: 0px; background-color: rgb(153, 0, 0); height: 2px; width: 100%; }
.SDtxtLarger { font-family: arial,helvetica,sans-serif; font-size: larger; font-weight: bold; }
.SDtxtSmall { font-family: arial,helvetica,sans-serif; font-size: xx-small; color: rgb(0, 0, 0); }
.SDtxtSmallBold { font-size: 0.9em; font-weight: bold; }
.SDtxtNote { font-family: arial,helvetica,sans-serif; font-weight: normal; color: rgb(0, 0, 0); font-size: 1em; }
.SDtxtNoteSmall { font-family: arial,helvetica,sans-serif; font-weight: normal; color: rgb(0, 0, 0); font-size: 10px; }
.SDtxtPgTitleBlack { font-family: arial,helvetica,sans-serif; font-weight: bold; color: rgb(0, 0, 0); font-size: 150%; }
a.errMsg { color: rgb(255, 0, 0); text-decoration: none; }
a.errMsg:hover { text-decoration: underline; }
.boldText { font-weight: bold; }
.sci_dirColor { color: rgb(122, 165, 68); }
.blueColor { color: rgb(0, 0, 170); }
.greenColor { color: rgb(0, 119, 3); }
.greyColor { color: rgb(127, 127, 127); }
.redColor { color: rgb(153, 0, 0); }
.orangeColor { color: rgb(204, 82, 0); }
.tablePlainWhite { padding: 0px; background-color: rgb(255, 255, 255); }
.inputBox { border: 1px solid rgb(102, 102, 102); background-color: rgb(255, 255, 255); vertical-align: top; font-size: 1em; }
a.tabActive, a.tabActive:hover { border: medium none ; margin: 0px 2px 0px 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 1em; text-decoration: none; }
a.tab, a.tab:hover { border: medium none ; margin: 0px 2px 0px 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 1em; background-color: rgb(153, 153, 153); text-decoration: none; }
a.sci_dirTabActive, a.sci_dirTabActive:hover { background-color: rgb(122, 165, 68); text-decoration: none; cursor: default; }
a.sci_dirTab:hover { background-color: rgb(122, 165, 68); }
a.blueTabActive, a.blueTabActive:hover { background-color: rgb(0, 0, 170); text-decoration: none; cursor: default; }
a.blueTab:hover { background-color: rgb(0, 0, 170); }
a.greenTabActive, a.greenTabActive:hover { background-color: rgb(0, 119, 3); text-decoration: none; cursor: default; }
a.greenTab:hover { background-color: rgb(0, 119, 3); }
a.greyTabActive, a.greyTabActive:hover { background-color: rgb(127, 127, 127); text-decoration: none; cursor: default; }
a.greyTab:hover { background-color: rgb(127, 127, 127); }
a.redTabActive, a.redTabActive:hover { background-color: rgb(153, 0, 0); text-decoration: none; cursor: default; }
a.redTab:hover { background-color: rgb(153, 0, 0); }
a.orangeTabActive, a.orangeTabActive:hover { background-color: rgb(204, 82, 0); text-decoration: none; cursor: default; }
a.orangeTab:hover { background-color: rgb(204, 82, 0); }
.textBoxMultipleRow { font-family: Arial,Helvetica,sans-serif; background-color: rgb(255, 255, 255); font-size: 1em; }
a.nextPrev { margin: 0px 10px; width: 1%; color: rgb(255, 255, 255); font-size: 1em; text-decoration: none; }
a.nextPrev:hover { margin: 0px 10px; width: 1%; color: rgb(255, 255, 255); font-size: 1em; text-decoration: underline; }
input.nextPrev { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 238); font-size: 1em; text-decoration: none; vertical-align: middle; background-color: transparent; width: auto; }
input.nextPrevHov { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 238); font-size: 1em; text-decoration: underline; vertical-align: middle; background-color: transparent; width: auto; }
input.listAction { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 0); font-size: 0.95em; text-decoration: none; cursor: pointer; vertical-align: middle; background-color: transparent; width: auto; }
.smCaps { font-variant: small-caps; }
.nowrap { white-space: nowrap; }
span.hit { color: rgb(255, 0, 0); font-weight: bold; }
span.bf { font-weight: bold; }
span.it { font-style: italic; }
span.monospace { font-family: courier; }
span.sans-serif { font-family: sans-serif; }
span.underline { text-decoration: underline; }
span.pit { font-family: arial,verdana,helvetica,sans-serif; color: rgb(115, 115, 115); font-size: 0.9em; }
.charImg { border: medium none ; vertical-align: baseline; }
span.cross-out { text-decoration: line-through; }
.h1 { font-size: 2em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h2 { font-size: 1.3em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h3 { font-size: 1.2em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h4 { font-size: 1.1em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h5 { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.ImageScroller { overflow: auto; width: 100%; }
.ImageScrollerPurchHist { overflow: auto; width: 455px; }
.ImageScrollerPurchCurr { overflow: auto; width: 415px; }
div.auto_complete { border: 1px solid rgb(136, 136, 136); margin: 0px; padding: 0px; position: absolute; width: 250px; background-color: white; z-index: 100; }
div.auto_complete ul { margin: 0px; padding: 0px; list-style-type: none; }
div.auto_complete ul li.selected { background-color: blue; color: white; }
div.auto_complete ul li { margin: 0pt; padding: 2px; list-style-type: none; display: block; cursor: pointer; }
.previewBox { border: 1px solid grey; padding: 10px; display: none; width: 95%; height: 325px; background-color: rgb(238, 238, 238); }
.previewBar1 { padding: 0.5em; display: block; clear: both; float: none; background-color: rgb(255, 255, 255); }
.previewBar2 { border-bottom: 1px solid rgb(204, 204, 204); display: block; width: 100%; height: 20px; font-weight: bold; }
.previewContent { padding: 0.5em; overflow: auto; height: 280px; background-color: rgb(255, 255, 255); }
.txtHidden { overflow: hidden; position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; }
.font1 { font-size: 0.8em; }
.font2 { font-size: 0.9em; }
.font3 { font-size: 1em; }
.font4 { font-size: 1.1em; }
.font5 { font-size: 1.2em; }
.resultRow { border-top: 1px solid rgb(238, 238, 238); }
a.blackLink { font-size: 0.95em; color: rgb(0, 0, 0); }
