/* ::::: http://tuprints.ulb.tu-darmstadt.de/style/auto.css ::::: */

form { display: inline; }
body { margin: 1em; font-family: Arial,Sans-serif; font-size: 80%; }
h1 { margin: 0px 0px 10px; font-family: Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 130%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; text-align: center; color: rgb(96, 96, 96); }
h2 { font-family: Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 110%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(96, 96, 96); }
hr { border: 0px none ; color: rgb(204, 204, 204); background-color: rgb(204, 204, 204); height: 2px; }
th.ep_row { border-bottom: 1px dashed rgb(187, 187, 255); padding-right: 0.25em; text-align: right; width: 20%; }
td.ep_row { border-left: 1px dashed rgb(187, 187, 255); border-bottom: 1px dashed rgb(187, 187, 255); padding-left: 0.25em; text-align: left; }
.ep_block { margin: 0.25em auto; width: auto; text-align: center; }
.ep_block td { text-align: left; }
ul { text-align: left; }
.ep_doc_icon { padding: 2px; }
.ep_search_feed { white-space: nowrap; }
.ep_search_feed img { vertical-align: -2px; padding-left: 0.5em; }
.ep_search_feed a { text-decoration: none; color: rgb(136, 136, 136); }
.ep_summary_content {  }
.ep_summary_content_top {  }
.ep_summary_content_bottom {  }
.ep_summary_content_left { float: left; }
.ep_summary_content_right { float: right; }
.ep_summary_content_after { clear: both; }
.ep_tm_main { margin: 1em; }
hr.ep_tm_last { color: rgb(36, 15, 120); background-color: rgb(36, 15, 120); }
.ep_tm_footer { clear: both; }
ul.ep_tm_menu { margin: 0px; padding: 0px; background: rgb(32, 79, 118) url('blue_bar.png') repeat scroll 0% 0%; clear: both; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.ep_tm_menu li { border-right: 2px solid white; list-style-type: none; list-style-image: none; list-style-position: outside; display: inline; padding-left: 10px; padding-right: 10px; font-weight: bold; }
ul.ep_tm_menu li:hover { background: rgb(39, 154, 226) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
ul.ep_tm_menu li a { text-decoration: none; color: white; }
ul.ep_tm_menu li a:visited { color: white; }
.ep_tm_searchbar { border-top: 4px solid white; padding: 4px 10px; background: rgb(204, 204, 204) url('gray_bar.png') repeat scroll 0% 0%; color: rgb(96, 96, 96); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.ep_tm_searchbarbutton { padding: 0px; text-align: center; background-image: url('blue_bar.png'); background-color: rgb(31, 79, 118); color: white; font-weight: normal; font-size: 80%; }
.ep_tm_searchbarbox { border: 1px solid rgb(96, 96, 96); padding: 2px; font-size: 80%; }
ul.ep_tm_menu { background: rgb(229, 245, 242) url('gray_bar.png') repeat scroll 0pt 0pt; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
ul.ep_tm_menu li a:visited { color: rgb(51, 51, 51); }
ul.ep_tm_menu li a { color: rgb(51, 51, 51); }
ul.ep_tm_menu li a:hover { color: rgb(255, 255, 255); }
* a:visited { color: rgb(51, 51, 51); }
* a { color: rgb(51, 51, 51); }
hr.ep_tm_last { background-color: rgb(160, 160, 160); color: rgb(160, 160, 160); }
h1, h2, h3, h1 a, h2 a, h3 a, .farbig, div#rechte_marginalienspalte h2, div#rechte_marginalienspalte h3 { color: rgb(0, 157, 129) ! important; }
h1 a, h2 a, h3 a, a:focus, a:hover, a:active, span.gehe_zu, div#suche input.abschicken { color: rgb(0, 157, 129); }
div#navigationsspalte { border-top-color: rgb(0, 157, 129); }
/* ::::: http://tuprints.ulb.tu-darmstadt.de/style/nojs.css ::::: */

