
/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.basic.css ::::: */

body { margin: 0px; padding: 0px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
h1 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h2 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h3 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h4 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h5 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h6 { margin: 0px; padding: 0px; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; }
h1 { font-size: 75%; }
h2 { font-size: 110%; }
h3 { font-size: 105%; }
h4 { font-size: 80%; }
h5 { font-size: 85%; }
h6 { font-size: 72%; }
h5 { color: rgb(51, 51, 51); }
h6 { color: rgb(51, 51, 51); }
p { font-size: 70%; color: rgb(51, 51, 51); font-family: geneva,arial,helvetica,sans-serif; }
li { font-size: 70%; color: rgb(51, 51, 51); font-family: geneva,arial,helvetica,sans-serif; }
dt { font-size: 70%; color: rgb(51, 51, 51); font-family: geneva,arial,helvetica,sans-serif; }
dd { font-size: 70%; color: rgb(51, 51, 51); font-family: geneva,arial,helvetica,sans-serif; }
.txt { font-size: 70%; color: rgb(51, 51, 51); font-family: geneva,arial,helvetica,sans-serif; }
li li { font-size: 100%; }
p { margin-top: 0em; }
dl {  }
ol {  }
ul {  }
a { color: rgb(51, 102, 153); }
a:link { color: rgb(51, 102, 153); }
a:active { color: rgb(51, 102, 153); }
a:hover { color: rgb(51, 102, 153); }
a:visited { color: rgb(51, 102, 153); }
form { margin: 0px; padding: 0px; }
fieldset { border-style: none ! important; margin: 0px; padding: 0px ! important; }
legend { margin: 0px; padding: 0px; }
select {  }
option {  }
input {  }
textarea {  }
ul {  }
.sideCol ul li {  }
ul.noBullet { margin: 0px; padding: 0px; }
ul.noBullet li { list-style-type: none; }
ul.dotBullet li { list-style-image: url('icon.bullet.dot.gif'); }
ul.bullet li { list-style-image: url('icon.bullet.gif'); }
ul.orangeBullet li { list-style-image: url('icon.bullet.orange.gif'); }
ul.blueBullet li { list-style-image: url('icon.bullet.blue.gif'); }
ol { margin: 0.25em 0px 0.25em 1.25em; padding: 0px; }
dl { margin: 0px; padding: 0px; }
dt { margin: 0px; padding: 0px; }
dd { margin: 0px; padding: 0px; }
dt { font-weight: bold; }
dd { margin-bottom: 1em; }
hr { display: none; }
.BGpowderblue { background-color: rgb(235, 245, 255); }
.BGlgtblue { background-color: rgb(102, 163, 194); }
.BGmedblue { background-color: rgb(153, 204, 255); }
.BGmedblue2 { background-color: rgb(19, 112, 157); }
.BGdrkblue { background-color: rgb(0, 102, 153); }
.BGgrey { background-color: rgb(204, 204, 204); }
.BGllgrey { background-color: rgb(229, 229, 229); }
.BGyellow { background-color: rgb(255, 255, 204); }
.BGslateblue { background-color: rgb(127, 178, 204); }
.BGwhite { background-color: rgb(255, 255, 255); }
.homepageFragment { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment p { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment p { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment li { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment li { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment td { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment td { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment dd { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment dd { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment td p { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.HomepageFragment td p { font-size: 11px; font-family: arial,helvetica,sans-serif; }
.homepageFragment h1 { font-weight: bold; font-size: 20px; color: rgb(255, 153, 0); }
.homepageFragment h2 { font-weight: bold; font-size: 18px; color: rgb(255, 153, 0); }
.homepageFragment h3 { font-weight: bold; font-size: 16px; color: rgb(255, 153, 0); }
.homepageFragment h4 { font-weight: bold; font-size: 16px; color: rgb(255, 153, 0); }
.homepageFragment h5 { font-weight: bold; font-size: 14px; color: rgb(255, 153, 0); }
.homepageFragment h6 { font-weight: bold; font-size: 12px; color: rgb(255, 153, 0); }
.HomepageFragment h1 { font-weight: bold; font-size: 20px; color: rgb(255, 153, 0); }
.HomepageFragment h2 { font-weight: bold; font-size: 18px; color: rgb(255, 153, 0); }
.HomepageFragment h3 { font-weight: bold; font-size: 16px; color: rgb(255, 153, 0); }
.HomepageFragment h4 { font-weight: bold; font-size: 16px; color: rgb(255, 153, 0); }
.HomepageFragment h5 { font-weight: bold; font-size: 14px; color: rgb(255, 153, 0); }
.HomepageFragment h6 { font-weight: bold; font-size: 12px; color: rgb(255, 153, 0); }
.homepageFragment a:link { color: rgb(51, 102, 153); }
.homepageFragment a:active { color: rgb(51, 102, 153); }
.homepageFragment a:visited { color: rgb(51, 102, 153); }
.HomepageFragment a:link { color: rgb(51, 102, 153); }
.HomepageFragment a:active { color: rgb(51, 102, 153); }
.HomepageFragment a:visited { color: rgb(51, 102, 153); }
.homepageFragment address { font-size: 11px; font-family: arial,helvetica,sans-serif; font-style: normal; }
.HomepageFragment address { font-size: 11px; font-family: arial,helvetica,sans-serif; font-style: normal; }
table.menuIEFOUR { margin: 0px; background-position: left top; background-image: url('fill.personal-nav.gif'); padding-bottom: 0.3em; background-repeat: repeat-y; background-color: rgb(19, 112, 157); }
.menuIEFOURDOWN { background-image: url('arrow.blue.gif'); }
.menuIEFOURSIDE { background-image: url('menu.arrow.0.gif'); }
.menuIEFOURDOWN { background-image: url('arrow.blue.gif'); }
.menuIEFOURDOWN { background-position: left center; background-repeat: no-repeat; }
.menuIEFOURSIDE { background-position: left center; background-repeat: no-repeat; }
.menuIEFOURDOWN { background-position: left center; background-repeat: no-repeat; }
table.menuIEFOUR td { font-weight: bold; font-size: 70%; padding-bottom: 0.2em; padding-top: 0.2em; }
.menuIEFOURUser { padding-left: 30px; font-weight: normal; color: white; text-decoration: none; }
.menuIEFOUR a { color: rgb(153, 204, 255); text-decoration: none; }
.menuIEFOUR a:link { color: rgb(153, 204, 255); text-decoration: none; }
.menuIEFOUR a:visited { color: rgb(153, 204, 255); text-decoration: none; }
.menuIEFOUR a:hover { color: rgb(153, 204, 255); text-decoration: none; }
#menu a:link {  }
#menu a:hover {  }
#menu a:visited {  }
#menu a {  }
#menu ul li { list-style-type: none; }
.hideNSFOUR {  }
h3.navigationHeader { font-weight: bold; font-size: 0.7em; text-transform: uppercase; color: rgb(96, 137, 178); font-style: normal; }
h3.navigationHeader em { font-size: 1.1em; color: rgb(255, 155, 6); font-style: normal; }
.homepageFragment .mostAccessed { margin: 0pt 0pt 0pt 1.5em; padding: 0pt; }
.HomepageFragment .mostAccessed { margin: 0pt 0pt 0pt 1.5em; padding: 0pt; }
.homepageFragment .mostAccessed li { margin: 0.25em; padding: 0pt; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; font-weight: bold; font-size: 11px; }
.HomepageFragment .mostAccessed li { margin: 0.25em; padding: 0pt; color: rgb(255, 153, 0); font-family: geneva,arial,helvetica,sans-serif; font-weight: bold; font-size: 11px; }
.homepageFragment .mostAccessed li div { color: rgb(0, 0, 0); font-size: 100%; font-weight: normal; }
.HomepageFragment .mostAccessed li div { color: rgb(0, 0, 0); font-size: 100%; font-weight: normal; }
.homepageFragment .mostAccessed .title { font-weight: bold; }
.HomepageFragment .mostAccessed .title { font-weight: bold; }
div.banner table td a { display: block; }

/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.dhtml.css ::::: */

#container { margin-top: 12px; }
ul.menuDOM, ul.menuIEMAC { float: right; }
ul.menuDOM { background-image: url('fill.personal-nav.gif'); background-repeat: repeat-y; background-position: left top; background-color: rgb(19, 112, 157); }
ul.menuDOM li { padding-top: 0.3em; padding-bottom: 0.2em; float: left; display: block; background-image: none; }
ul.menuDOM li ul li { background: white none repeat scroll 0% 0%; padding-top: 0pt; padding-bottom: 0pt; font-size: 100%; color: white; font-weight: bold; display: block; }
.menuDOM li, .menuIEMAC li { font-size: 70%; }
ul.menuDOM, ul.menuDOM li ul, ul.menuIEMAC { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.menuDOM a { padding: 0.1em; display: block; color: rgb(144, 215, 255); font-weight: bold; }
.hideNSFOUR li a { white-space: normal; }
ul.menuDOM a:link, ul.menuDOM a, ul.menuDOM a:visited { text-decoration: none; color: rgb(153, 204, 255); }
ul.menuDOM li ul li a:hover { background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
ul.menuDOM li ul li a:link, ul.menuDOM li ul li a, ul.menuDOM li ul li a:visited, li.nosaved em { padding: 5px 10px 10px; text-decoration: underline; display: block; color: rgb(51, 102, 153); voice-family: inherit; width: 180px; }
.bmfixie5 {  }
ul.menuDOM a.menuSideArrow, ul.menuIEMAC a.menuSideArrow { margin: 0pt 1em 0pt 0pt; background-image: url('arrow.blue.gif'); background-repeat: no-repeat; background-position: left center; padding-left: 1em; }
ul.menuDOM li ul { position: absolute; left: -999em; top: 2.25em; }
ul.menuDOM li.menuhover ul { border: 1px solid rgb(144, 215, 255); background: white none repeat scroll 0% 0%; top: auto; left: auto; display: block; margin-left: -1.25em; voice-family: inherit; width: 200px; z-index: 999; }
ul.menuDOM li iframe { position: absolute; left: -999em; top: 2.25em; }
ul.menuDOM li.menuhover iframe { left: auto; top: auto; width: 202px; margin-left: -1.25em; z-index: 998; }
.bmfixie5 {  }
ul.menuDOM li ul li.hoverTitle { padding: 5px; background: rgb(255, 153, 0) none repeat scroll 0% 0%; color: white ! important; font-weight: bold; display: block; margin-top: 0pt ! important; voice-family: inherit; width: 190px; }
li.nosaved em { text-decoration: none ! important; color: black ! important; font-weight: normal ! important; }
li.noroll a, li.noroll a:hover { background: white none repeat scroll 0% 0% ! important; }
li.hide a { display: none ! important; }
.bmfixie5 {  }
.domArrowOver { margin: 0pt 1em 0pt 0pt; background-image: url('menu.arrow.1.gif') ! important; background-repeat: no-repeat; background-position: left center; padding-left: 1.25em; }
.domArrowOut { margin: 0pt 1em 0pt 0pt; background-image: url('menu.arrow.0.gif') ! important; background-repeat: no-repeat; background-position: left center; padding-left: 1.25em; }
ul.menuIEMAC a { padding: 0.1em; color: rgb(144, 215, 255); font-weight: bold; }
ul.menuIEMAC a:link, ul.menuIEMAC a { text-decoration: none; }
ul.menuIEMAC li { display: inline; padding-bottom: 3px; }
ul.menuIEMAC li ul { position: absolute; left: -999em; }
ul.menuIEMAC { background-image: url('fill.personal-nav.gif') ! important; background-repeat: repeat-y; background-position: left top; background-color: rgb(19, 112, 157); padding-bottom: 0.1em; }
#user { color: white; padding-left: 5em; padding-right: 2em; background-image: none; }
#mycart { color: white; padding-left: 5em; background-image: none; }
#menu { border: 1px solid transparent; }
.hideNSFOUR li a, .hideNSFOUR li { white-space: normal; }

/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.standards.css ::::: */

#browserWarning { display: none; }
.structureTable { margin: 0pt auto; }
ul { margin: 0.25em 0em; padding-left: 1em; }
ul.blueBullet, ul.orangeBullet, ul.bullet { padding-left: 1.5em; }
ul.inline li { display: inline; margin-right: 6px; list-style-image: url('icon.bullet.gif'); }
ul.inline li img { margin-right: 6px; }
#contentFrame .mainCol #intro { background-image: url('bg.basic.gif'); background-position: 100% 100%; background-repeat: no-repeat; }
#searchBox { background-image: url('bg.search.gif'); background-position: 0% 100%; background-repeat: no-repeat; }
#citationBox { background-image: url('bg.citation-finder.gif'); background-position: 0% 0%; background-repeat: no-repeat; }
#contentFrame .mainCol #content .listingContent table, #contentFrame .mainCol #content .listingFooter table, #contentFrame .mainCol #footer table, .journalIssues .mainCol #content table, .profileLevel .mainCol #content .item table, .databaseLevel .mainCol #content table, .referenceLevel .mainCol #content table, .collectionsLevel .mainCol #content table, .collectionsCollection .mainCol #content table, .helpTopic #intro table, .helpTopic #heading table, #headerFrame .item table, .aboutLevel #content table { voice-family: inherit; width: 100%; }

/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.generic.css ::::: */

#contentFrame .mainCol #intro { padding: 10px 10px 0pt; }
#contentFrame #content h4 { padding-bottom: 4px; }
#contentFrame .mainCol { padding-bottom: 10px; }
#contentFrame .mainCol #content { padding: 10px; }
#contentFrame .mainCol #content h4 span { color: rgb(0, 0, 0); }
#contentFrame .mainCol #intro .subnav { margin: 10px 0pt; }
#contentFrame .mainCol #intro .subnav a { text-decoration: none; color: rgb(68, 143, 170); }
#contentFrame .mainCol #intro .subnav div.active, #contentFrame .mainCol #intro .subnav div.inactive { margin: 0pt; padding: 2px 3px 2px 22px; font-weight: bold; color: rgb(102, 102, 102); text-indent: -16px; }
#contentFrame .mainCol #intro .subnav div.active { background-color: rgb(255, 204, 102); }
#contentFrame .mainCol #intro .subnav div.inactive {  }
#contentFrame .dataTable td, #contentFrame .dataTable th { font-family: geneva,arial,helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 70%; }
#contentFrame .dataTable th { text-align: left; }
.listingHeader, .listingFooter { margin: 6px 0pt; }
#contentFrame .mainCol #content td p.listingNav { margin: 0pt; text-align: right; font-weight: bold; }
#contentFrame .mainCol #content p.listingNav span { color: rgb(255, 153, 0); }
#contentFrame .mainCol #content p.listingNav strong { color: rgb(102, 102, 102); }
#contentFrame .mainCol #content p.listingNav strong.pageSet { color: rgb(0, 0, 0); }
#contentFrame .mainCol #content td p.listingNav a { font-weight: normal; }
#contentFrame .mainCol #content .listingContent .dataTable th { border-bottom: 2px solid rgb(204, 204, 204); color: rgb(255, 153, 0); }
#contentFrame .mainCol #content .listingContent .dataTable td { border-bottom: 1px solid rgb(204, 204, 204); }
#contentFrame .mainCol #content .formTable th { text-align: left; font-weight: normal; }
#contentFrame .mainCol #footer { border-top: 2px solid rgb(204, 204, 204); margin: 10px 10px 0pt; padding-top: 10px; }
#contentFrame .mainCol #footer h6 { font-size: 70%; color: rgb(102, 102, 102); margin-bottom: 0px; }
#contentFrame .mainCol #footer td .item { margin-right: 1em; }
#contentFrame .mainCol #footer ul { margin: 0px; }
#contentFrame .sideCol { margin-left: 1px; }
#contentFrame .sideCol h3 { margin-bottom: 6px; }
#contentFrame .sideCol .area { border-left: 1px solid rgb(204, 204, 204); margin: 0pt 0pt 15px; padding: 7px 10px; }
#contentFrame .sideCol .area li { padding-bottom: 4px; }
#contentFrame .sideCol .area p { margin-bottom: 0.5em; }
#contentFrame .sideCol .area .item { margin-bottom: 10px; }
#contentFrame .sideCol .area .line { margin-bottom: 10px; }
#contentFrame .sideCol #searchBox, #contentFrame .sideCol #citationBox { width: 190px; }
#contentFrame .sideCol #searchBox .item { border-left: medium none; padding: 10px; margin-bottom: 0pt; }
#contentFrame .sideCol #searchBox #articleGo { padding-top: 4px; }
#contentFrame .sideCol #citationBox { border-bottom: 1px solid rgb(204, 229, 255); margin-top: 1px; }
#contentFrame .sideCol #citationBox .item { margin: 0pt 10px; padding: 10px 0pt; }
#contentFrame .sideCol #providedBy {  }
#contentFrame .sideCol #latestNews {  }
#contentFrame .sideCol #latestNews p a { font-weight: bold; }
#contentFrame .sideCol #relatedProducts {  }
#contentFrame .sideCol #relatedProducts h6 { color: rgb(102, 102, 102); margin-bottom: 0px; font-size: 70%; }
#contentFrame .sideCol #relatedProducts ul { padding-bottom: 8px; margin-top: 0pt; }
#contentFrame .sideCol #relatedProducts li { padding-bottom: 2px; }
#contentFrame .sideCol #newsFromWI li a { font-weight: bold; }
#contentFrame .sideCol #news {  }
#contentFrame .sideCol #featuredCollection {  }
#contentFrame .sideCol #freeTrials {  }
#contentFrame .sideCol #freeTrials table { width: 169px; }
#contentFrame .sideCol #featuredProduct table { width: 169px; }
#contentFrame .sideCol #featuredProduct p { font-weight: bold; }
#contentFrame .sideCol #introducing a { font-weight: bold; }
#contentFrame .sideCol #quickQuestion h6 { margin-bottom: 4px; }
#contentFrame .sideCol #quickQuestion legend { font-weight: bold; }
#contentFrame .sideCol #quickQuestion div { padding-top: 6px; }
#contentFrame .sideCol #alsoOfInterest li { padding-bottom: 2px; }
#contentFrame .sideCol #specialIssue {  }
#contentFrame .sideCol #specialIssue table { width: 169px; }
#contentFrame .sideCol #newAddition {  }
#contentFrame .sideCol #moreFromCollection {  }
#contentFrame .sideCol #featuredProtocol {  }
#contentFrame .sideCol #mobileEdition {  }
#contentFrame .sideCol #profiledAlerts {  }
#contentFrame .sideCol #recentlyPublished {  }
#contentFrame .sideCol #recentlyPublished h6 { font-size: 70%; }
#contentFrame .sideCol #searchTips {  }
#contentFrame .sideCol #searchTips li em { color: rgb(153, 153, 153); }
#contentFrame .sideCol #nowAvailableOnline {  }
#contentFrame .sideCol #nowAvailableOnline .dataTable th { text-align: right; padding-right: 0.5em; }
#contentFrame .sideCol #forYourUsers {  }
#contentFrame .sideCol #forYourUsers li { padding-bottom: 1px; }

/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.objects.css ::::: */

.structureTable {  }
#personalnavFrame, #statusFrame, #headerFrame, #contentFrame, #footerFrame {  }
#statusFrame { padding: 2px 0pt 0pt 10px; }
#statusFrame .txt { color: rgb(153, 153, 153); }
#statusFrame a { font-weight: bold; }
#personalnavFrame { margin-top: 11px; }
#personalnavFrame .txt { color: rgb(255, 255, 255); }
#personalnavFrame a { font-weight: bold; text-decoration: none; color: rgb(153, 204, 255); }
#personalnavFill { background-image: url('fill.personal-nav.gif'); background-repeat: repeat-y; background-position: right top; width: 100%; }
#personalnavFill div { width: 70px; }
#personalnavMenus div.txt { padding: 0pt 10px; white-space: nowrap; }
#personalnavSpecial { margin: 0pt 0pt 0.15em; padding: 0pt; font-weight: bold; }
#personalnavSpecialName { margin: 0pt 0pt 0.5em; padding: 0pt; color: rgb(0, 102, 153); }
#headerFrame {  }
#headerFrame img { display: block; }
#pdfHeaderFrame { border: 2px solid rgb(0, 102, 153); padding: 2px; font-family: arial; font-size: 11pt; }
#footerFrame { margin-top: 4px; }
#footerFrame p { text-align: center; line-height: 140%; }
#footerFrame p a { font-weight: bold; }
#footerFrame .copyright { font-weight: normal; }
#searchHeader .item { padding: 10px; }
#searchHeader .item h4 { margin-bottom: 3px; }
#searchHeader .item h4 span { color: rgb(0, 0, 0); }
#logoCellHome { background-image: url('bg.logo.home.jpg'); background-repeat: no-repeat; }
#logoCell { background-image: url('bg.logo.jpg'); background-repeat: no-repeat; }
#sectionHeader {  }
#breadcrumb { color: rgb(102, 102, 102); font-weight: bold; padding-left: 1em; }
#headerFrame #breadcrumb {  }
#contentFrame .mainCol #breadcrumb {  }
#browseSubjArea {  }
#browseCategory {  }
#browseProdType {  }
#searchTitles #titlesPubtitle { margin: 2px 0pt; width: 140px; }
#searchTitles #titlesGo { margin: 0pt 4px; }
#searchArticles, #searchContent, #searchInTitle { width: 170px; }
#searchArticles #articleKeywords, #searchInTitle #titleKeywords { margin: 2px 0pt; width: 164px; }
#searchArticles select, #searchInTitle select { margin: 2px 0pt; width: 170px; }
#searchContent #contentKeywords { margin: 2px 0pt; width: 125px; }
#searchContent #contentGo { margin: 0pt 4px; }
#searchInTitle .txt { margin: 4px 0pt; }
#searchCitationForm #articleKeywords { margin: 2px 0pt; width: 164px; }
#searchCitationForm select { margin: 2px 0pt; width: 170px; }
#searchCitationForm { background-color: rgb(255, 255, 229); }
.featureBox {  }
.mainCol {  }
.sideCol {  }
.lCol {  }
.rCol {  }
#content {  }
.subContent { padding: 0pt 10px; }
.area {  }
.item {  }
.promo {  }
.intro {  }
.subnav {  }
.info {  }
.tools {  }
.hdr {  }
.prerendered {  }
.listingHeader {  }
.listingContent {  }
.listingFooter {  }
.featureBox { margin: 10px 0pt 0pt 20px; }
.featureBox .item { padding: 10px; }
.featureBox ul { padding-bottom: 10px; }
.formTable {  }
.dataTable {  }
.debug { border: 1px solid red ! important; background-color: rgb(255, 204, 204); }
#browserWarning { border: 1px solid rgb(204, 0, 0); margin: 5px 28px; padding: 0.3em; font-family: arial; font-size: 100%; color: rgb(51, 0, 0); background-color: rgb(255, 238, 255); }
.invisible { overflow: hidden; height: 0pt; width: 0pt; position: absolute; }
.pageSet { color: rgb(0, 0, 0); }
.pageSetLabel { color: rgb(102, 102, 102); }
.issueNav { white-space: nowrap; }
.available { color: rgb(51, 153, 0); }
.unavailable { color: rgb(255, 0, 0); }
.productImage { margin-right: 10px; }
.linkMore { font-weight: bold; }
.linkBack { margin: 10px; float: left; }
.linkPrint { margin: 10px 20px 0pt 0pt; float: right; }
.linkTop { text-align: right; clear: both; }
.icon { vertical-align: middle; margin-right: 2px; }
.spacer {  }
.border {  }
.line { margin: 10px 0pt; }
.lineNopad {  }
.spacer img {  }
.spacer img, .border img, .line img, .lineNopad img { display: block; }
#errorTxt { color: rgb(204, 0, 0); font-weight: bold; }
#errorList li { color: rgb(204, 0, 0) ! important; font-weight: bold; list-style-type: none; }

/* ::::: http://download.interscience.wiley.com.ejproxy.a-star.edu.sg/freeflow/css/wis.template.journal.css ::::: */

#contentFrame #intro { padding: 0pt ! important; }
#contentFrame #intro .item { padding: 10px; }
#contentFrame #intro .published { border-left: 1px solid rgb(204, 204, 204); margin: 10px 0pt; padding: 0pt 0pt 6px 8px; }
#contentFrame #intro .published p { margin: 0pt; color: rgb(153, 153, 153); }
#contentFrame #intro .info { padding: 0pt 10px; }
#contentFrame #intro .info h2 { color: rgb(51, 102, 153); font-size: 80%; }
#contentFrame #intro .info h6 { margin: 3px 0pt; }
#contentFrame #intro .info h6 a { color: rgb(51, 51, 51); }
#contentFrame #intro .info p { margin: 0pt; color: rgb(102, 102, 102); padding-left: 2em; text-indent: -2em; }
#contentFrame #intro .tools { padding-left: 6px; }
#contentFrame #intro .lCol { padding-right: 10px; }
#contentFrame #intro .rCol li a { font-weight: bold; }
#contentFrame #intro #subnav { border-top: 1px solid rgb(204, 204, 204); padding-top: 4px; margin-top: 8px; line-height: 150%; color: rgb(0, 0, 0); }
#contentFrame #intro #subnav span a { font-weight: bold; }
#contentFrame #intro #pdfInfoArea { font-family: geneva,arial,helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 70%; }
#contentFrame .mainCol #content { padding-top: 16px; }
.journalAbstract .mainCol #content, .journalReferences .mainCol #content, .journalArticleMain .mainCol #content { padding: 16px 0pt 0pt ! important; }
.journalArticleMain .mainCol #content .subContent {  }
#contentFrame #content ul, #contentFrame #content ol { padding-bottom: 10px; }
#contentFrame #content .issueNav { margin: 0pt; text-align: center; }
#contentFrame #content .issueNav span { color: rgb(255, 153, 0); font-weight: bold; }
#contentFrame #intro #pdfInfoArea { font-family: geneva,arial,helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 70%; }
.journalLevel #intro #branding { background-color: rgb(255, 255, 255); }
.journalIssues {  }
.journalIssues #content .item { margin-bottom: 1em; }
.journalIssues #content .item p { margin-bottom: 1em; }
.journalIssues #content .inlineNav { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); margin: 4em 0pt 0.5em; padding: 0.5em 0pt; }
.journalIssues #content .featureBox .item { margin-bottom: 0pt; }
.journalToc #intro h2 { margin-bottom: 2px; }
.journalToc #content .line { margin: 4px 0pt; }
.journalLevel #content ol { padding-left: 10px; }
.journalLevel #content .refListing li { padding-bottom: 10px; padding-left: 6px; }
.journalAbstract #content .item p { margin-bottom: 0.5em; }
.journalAdvertising {  }
.journalAdvertising #content .line { margin-top: 2em; }
.journalSubscribe {  }
.journalSubscribe #content .line { margin-top: 1em; }
.journalAuthors {  }
.journalAuthors ol { padding-left: 0.5em; }
.journalAuthors ol li { padding-bottom: 1em; }
.journalEditorial {  }
.journalProductinfo {  }
.journalArticleMain {  }
.journalArticleMain .mainCol #intro { background-image: none ! important; }
.journalArticleMain #intro .item { padding: 0px ! important; }
.journalArticleMain #intro .item .info { padding-left: 0px ! important; padding-top: 10px ! important; }
.journalArticleMain #intro .item .tools { padding-top: 10px ! important; }
.journalArticleMain #searchBox { border-right: 1px solid rgb(153, 194, 214); width: 150px; }
.journalArticleMain #intro #searchBox .item { padding: 10px ! important; }
.journalArticleMain #intro #searchBox #articleKeywords { width: 120px; }
.journalArticleMain #content { padding-top: 0px ! important; padding-left: 0px ! important; }
.journalArticleMain #content .item p { margin-bottom: 0.5em; }
#headerFrame .BGdrkblue .item { padding: 10px; background: rgb(86, 85, 101) none repeat scroll 0% 0%; }
#headerFrame .item img { display: inline; }
div.framedHeaderHack { padding: 10px; }
h2.framedHeaderHack { color: rgb(51, 102, 153); font-size: 80%; }
#contentFrame #content .prerendered { font-family: arial,helvetica,sans-serif; font-size: 12px; color: rgb(51, 51, 51); }
#contentFrame #content .prerendered table { padding: 0pt; }
#contentFrame #content .prerendered td { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: 12px; }
#contentFrame #content .prerendered th { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; }
#contentFrame #content .prerendered td a { color: rgb(51, 51, 51); }
#contentFrame #content .prerendered td font { font-size: 12px; color: rgb(51, 51, 51); font-weight: bold; }
#contentFrame #content .prerendered font a { font-size: 12px; color: rgb(51, 51, 51); }
#contentFrame #content .prerendered font[size="+1"] { font-size: 12px; font-weight: bold; color: rgb(102, 102, 102); }
#contentFrame #content .prerendered font[size="+2"] { font-size: 14px; font-weight: bold; }
#contentFrame #content .prerendered font[size="4"] a { font-size: 14px; color: rgb(0, 153, 0); }
#contentFrame #content .prerendered p { font-size: 12px; color: rgb(51, 51, 51); }
#contentFrame #content .prerendered hr { display: block; }
.journalArticleNav { margin-top: 10px; }
.journalArticleNav .prerendered { font-family: arial,helvetica,sans-serif; font-size: 12px; color: rgb(51, 51, 51); }
.journalArticleNav .prerendered ul { margin: 1em 0pt 1em 0.5em; }
.journalArticleNav .prerendered ul li { margin: 0.5em 0pt; }
.prerendered a:link { color: rgb(51, 102, 153); }
.prerendered a:visited { color: rgb(51, 102, 153); }
.prerendered a:active { color: rgb(51, 102, 153); }
.prerendered a:hover {  }
.prerendered .articleTitle { display: block; font-size: 140%; font-weight: bold; }
.prerendered .articleSubTitle { display: block; font-weight: bold; }
.prerendered .mainSectionHeader { display: block; font-size: 110%; font-weight: bold; text-transform: uppercase; color: rgb(255, 153, 0); }
.prerendered .firstLevelHeading { display: block; color: rgb(51, 102, 153); font-size: 11pt; font-weight: bold; }
.prerendered .secondLevelHeading { display: block; color: rgb(51, 102, 153); font-size: 11pt; }
.prerendered .thirdLevelHeading { display: block; color: rgb(51, 102, 153); }
.prerendered .otherHeadings { color: rgb(51, 102, 153); font-size: 10pt; }
.prerendered .referenceNum { color: rgb(51, 102, 153); font-size: 10pt; }
.journalReferences #content .subContent .item p { margin-bottom: 0.5em; }
#contentFrame #content #accessdeniedLogin td p { font-family: arial,helvetica,sans-serif; font-size: 11px; }
#contentFrame #content #accessdeniedPurchaseBox td p { font-family: arial,helvetica,sans-serif; font-size: 11px; }
#contentFrame #content #accessdeniedRegisterBox td p { font-family: arial,helvetica,sans-serif; font-size: 11px; }
