
/* ::::: http://www.wadsworth.org/templates/css/home1.css?skin= ::::: */

html, body { margin: 0pt; padding: 0pt; }
html { min-height: 100%; margin-bottom: 1px; background-color: rgb(231, 228, 212); }
body { margin: 4px auto auto; font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0.8125em; font-size-adjust: none; font-stretch: normal; color: rgb(85, 85, 85); width: 813px; line-height: 1; }
div#mainview { border: medium none ; margin: auto; display: table; height: auto; width: 800px; background-color: rgb(255, 255, 255); color: inherit; }
ul, ol { line-height: 1.5em; }
dt { font-weight: bold; padding-top: 1.25em; }
.nodisplay { display: none; }
p { line-height: 1.25em; }
a { text-decoration: none; color: rgb(51, 102, 153); }
a img { border: medium none ; }
a:link, a:visited { border-bottom: medium none; color: rgb(51, 102, 153); }
a:hover { color: rgb(102, 102, 102); }
h1 { border-bottom: 1px solid rgb(128, 118, 74); font-family: Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.25em; line-height: normal; font-size-adjust: none; font-stretch: normal; letter-spacing: 1px; color: rgb(128, 118, 74); }
h2 { border-bottom: medium none; font-family: Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-size: 1em; line-height: normal; font-size-adjust: none; font-stretch: normal; letter-spacing: 1px; color: rgb(85, 85, 85); font-weight: bold; }
h3 { border-bottom: medium none; font-family: Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-size: 0.95em; line-height: normal; font-size-adjust: none; font-stretch: normal; letter-spacing: 1px; color: rgb(85, 85, 85); font-weight: bold; }
h2.new { border-bottom: 1px solid rgb(128, 118, 74); font-family: Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.25em; line-height: normal; font-size-adjust: none; font-stretch: normal; letter-spacing: 1px; color: rgb(128, 118, 74); }
hr { border-bottom: 1px solid rgb(140, 172, 187); }
ul li { list-style-image: url('graybox.gif'); }
input { border: 1px solid rgb(221, 221, 221); background: rgb(238, 238, 238) none repeat; color: rgb(102, 102, 102); }
input.event { border: medium none ; background: transparent none repeat; }
#science { text-align: center; }
#standardnav a { text-transform: lowercase; font-size: 80%; white-space: nowrap; font-weight: 500; float: right; color: rgb(128, 128, 128); text-decoration: none; }
#standardnav form { float: right; padding-bottom: 0.5em; font-size: 80%; }
#c1 { width: 170px; float: left; text-align: left; }
#col1, #col2, #col3 { width: 200px; float: left; text-align: left; }
#acknowledge { padding-top: 3em; padding-left: 10em; text-align: center; font-size: 80%; clear: both; }
#c2 { border: medium none ; width: 440px; float: left; padding-top: 1em; padding-left: 0.5em; padding-right: 0.5em; }
#c2full { border: medium none ; width: 610px; float: left; text-align: left; padding-top: 1em; padding-left: 0.75em; padding-right: 0.5em; }
#c3 { border-right: 0.025em solid rgb(255, 255, 255); width: 170px; float: left; padding-top: 0.5em; }
#search { width: 80px; }
#search, #submit { vertical-align: bottom; }
#footer { border-top: thin solid rgb(221, 221, 221); border-bottom: thin solid rgb(221, 221, 221); width: 800px; height: 18px; text-align: center; clear: both; background-color: rgb(240, 238, 229); }
.tn { margin: 0.25em; background-color: rgb(240, 238, 229); width: 150px; height: 150px; text-align: center; }
.tn2text { padding: 1.5em; float: left; }
.highlight { border: thin dashed rgb(238, 238, 238); width: 170px; height: 200px; padding-top: 2em; }
.mainimage { margin: 0pt 0.5em; padding: 0pt 12px; height: 240px; width: 400px; text-align: center; }
.mainimage2 { margin: 0pt 0.5em; padding: 0pt 12px; height: 240px; width: 500px; text-align: center; }
.lists { padding: 0.5em 0pt 0pt; }
.content { border-left: 0.025em solid rgb(238, 238, 238); width: 800px; }
.leftalign { text-align: left; }
.rightalign { text-align: right; }
.center { text-align: center; }
.lpadded { padding: 0.5em 2.5em; text-align: left; }
.rpadded { padding: 0pt 0.5em; text-align: right; }
.cpadded { padding: 0.5em; text-align: center; }
.highlight a { background-color: rgb(184, 205, 223); }
#keyboardMsg { float: right; }
#lightbox { border-right: 2px solid rgb(102, 102, 102); border-bottom: 2px solid rgb(102, 102, 102); padding: 10px; background-color: rgb(238, 238, 238); }
#lightboxDetails { font-size: 0.8em; padding-top: 0.4em; }
#lightboxCaption { float: left; text-align: left; }
#keyboardMsg { float: right; }
#closeButton { top: 5px; right: 5px; }
#lightbox img { border: medium none ; clear: both; }
#overlay img { border: medium none ; }
#overlay { background-image: url('overlay.png'); }
* html #overlay { background-color: transparent; background-image: url('bit.gif'); }
.curvy { margin: 0em auto; background: rgb(215, 211, 190) none repeat; position: relative; width: 150px; height: 200px; color: rgb(0, 0, 0); }
#ctl { top: 0px; left: 0px; }
#cbl { top: 180px; left: 0px; }
#ctr { top: 0px; left: 130px; }
#cbr { top: 180px; left: 130px; }
#txt { position: absolute; top: 10px; left: 6px; width: 140px; height: 140px; }
#txt p a { font-size: 4px; line-height: 17px; }
#ctl, #cbl, #ctr, #cbr { background: rgb(255, 255, 255) none repeat; overflow: hidden; position: absolute; width: 20px; height: 20px; color: rgb(215, 211, 190); }
#quadtl, #quadtr, #quadbl, #quadbr { background: inherit inherit inherit inherit inherit; position: absolute; font-size: 150px; font-family: arial; color: rgb(215, 211, 190); line-height: 40px; }
#quadtl { left: -8px; }
#quadtr { left: -25px; }
#quadbl { left: -8px; top: -17px; }
#quadbr { left: -25px; top: -17px; }
.wctable { border: medium none ; margin: 0px; border-collapse: collapse; font-size: 100%; }
.wctable, tr td { margin: 0px; padding: 0px; }
@media print {
  * { background-color: rgb(255, 255, 255) ! important; }
  a { color: rgb(0, 0, 0) ! important; background-color: rgb(255, 255, 255); text-decoration: underline; font-weight: bold; }
  a.external { padding: 0pt; background: transparent none repeat; }
  a:link, a:visited { color: rgb(85, 34, 0); background-color: rgb(255, 255, 255); }
}
fieldset { border: 1px solid rgb(140, 172, 187); margin: 2em 0em 1em; padding: 1em 0em; }
legend { padding: 0.5em; background: rgb(255, 255, 255) none repeat; }
form { border: medium none ; margin: 0pt; }
textarea { border: 1px solid rgb(140, 172, 187); padding: 0.1em; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); width: 88%; }
select { border: 1px solid rgb(140, 172, 187); font-family: Verdana,Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: normal; font-size-adjust: none; font-stretch: normal; vertical-align: top; }
.netscape4 { display: none; }
div.box div.body { border: 1px solid rgb(140, 172, 187); padding: 0.5em; background: rgb(255, 255, 236) none repeat; position: relative; border-collapse: collapse; font-size: 100%; }
div.linklist { border: medium none ; padding: 0.5em; float: right; margin-top: 0.5em; right: 0.5em; text-align: left; width: auto; clear: right; }
span.folder { padding: 0pt 0.5em 0pt 1em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll left center; height: 16px; width: 25px; }
span.folder1 { padding: 0pt 0.5em 0pt 2em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll right center; height: 16px; width: 16px; }
span.folder2 { padding: 0pt 0.5em 0pt 3em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll right center; height: 16px; width: 16px; }
div.document h1 { font-size: 100%; }
div.main ul li { font-size: 100%; color: rgb(0, 0, 0); }
div.document ul li { font-size: 85%; color: rgb(0, 0, 0); }
.dblarrows { position: relative; }
.dblarrows li { border: medium none ; line-height: 1.25em; position: relative; }
.hiv { margin-left: -30px; margin-top: 0pt; margin-bottom: 0.25em; padding-left: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.hiv li { border: medium none ; padding-left: 1em; padding-right: 0pt; background-position: 0pt 2px; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 0.75em; }
img { border: medium none ; vertical-align: middle; }
#tabs { border-bottom: 1px solid rgb(140, 172, 187); padding: 0.75em 0pt 0pt; background: transparent none repeat; white-space: nowrap; }
#elaptabs { border-bottom: 1px solid rgb(140, 172, 187); padding: 0.5em 0pt 0pt; background: transparent none repeat; }
div.box .content { padding: 0.5em; }
.lowercase { text-transform: lowercase; }
div.normal { font-family: Verdana,Sans-Serif; font-size: 85%; }
.topic2 { background: transparent none repeat; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 80%; color: rgb(51, 102, 204); float: left; }
.topic { background: transparent none repeat; font-family: arial,Helvetica,Geneva,Swiss,SunSans-Regular,sans-serif; font-size: 100%; font-weight: 600; color: rgb(51, 102, 204); float: left; }
.white { background: transparent none repeat; color: rgb(255, 255, 255); display: none; }
span.white { background: transparent none repeat; color: rgb(255, 255, 255); }
.highlight { background: rgb(222, 231, 236) none repeat; }
div.contact { border: medium none ; }
div.labservices { background-image: url('micro.jpg'); background-repeat: no-repeat; background-position: left center; line-height: 270px; width: 200px; }
#genomics { margin: 0px; padding: 0px 175px 0px 110px; background: transparent url('comp2.1_03.jpg') no-repeat scroll left center; height: 467px; width: 155px; float: left; }
span.folder { padding: 0pt 0.5em 0pt 1em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll left center; height: 16px; width: 25px; }
span.folder1 { padding: 0pt 0.5em 0pt 2em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll right center; height: 16px; width: 16px; }
span.folder2 { padding: 0pt 0.5em 0pt 3em; background: transparent url('dbl_arrow_blue.gif') no-repeat scroll right center; height: 16px; width: 16px; }
span.indent { padding: 0pt 0pt 0pt 0.5em; }
div.indent { padding-left: 4em; }
span.goto { padding: 0pt 0.5em 0pt 1em; background: transparent url('red_arrow.gif') no-repeat scroll left center; width: 23px; height: 18px; }
.validation a { font-size: 80%; line-height: 1.75em; font-weight: normal; }
#email { padding: 0pt 0.5em 0pt 1em; background: transparent url('mail_icon.gif') no-repeat scroll left center; height: 16px; width: 16px; }
#print { padding: 0pt 0.5em 0pt 1em; background: transparent url('print_icon.gif') no-repeat scroll left center; height: 16px; width: 16px; }
span.arrow { padding: 0pt 0.5em 0pt 2em; background: transparent url('arrow.gif') no-repeat scroll left center; height: 13px; width: 13px; }
span.redarrow { padding: 0pt 0.5em 0pt 2em; background: transparent url('red_arrow.gif') no-repeat scroll left center; height: 23px; width: 18px; }
html[xmlns] .greensq { padding-left: 2em; }
html[xmlns] .greensq li { padding: 0pt; background: transparent none repeat; list-style-image: url('sq_green.gif'); }
.brownsq { margin-left: 10px; padding-left: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.brownsq li { padding-left: 1.5em; background-image: url('browndot.gif'); background-repeat: no-repeat; background-position: 0pt 2px; list-style-type: none; list-style-image: none; list-style-position: outside; }
html[xmlns] .brownsq { padding-left: 2em; }
html[xmlns] .brownsq li { padding: 0pt; background: transparent none repeat; list-style-image: url('browndot.gif'); }
.right { padding: 0pt 2em 0pt 0pt; text-align: right; }
.centered { text-align: center; }
div.centered { text-align: center; }
div.figure { border: 1px solid silver; margin: 0.25em; padding: 0.5em; float: left; text-align: center; width: 90%; }
p.caption { font-style: italic; font-size: smaller; text-indent: 0pt; }
p.caption2 { background: transparent none repeat; text-align: left; font-size: 10pt; text-indent: 2em; color: rgb(204, 255, 51); }
p.caption3 { background: transparent none repeat; text-align: center; color: rgb(153, 0, 0); font-weight: bold; }
p.caption4 { background: transparent none repeat; text-align: center; color: rgb(204, 204, 153); font-weight: bold; font-size: 10pt; }
.lalign { text-align: left; }
.navigation_right * { margin: 0pt; padding: 0.25em; }
.navigation_right dt { border-left: 1px solid rgb(222, 231, 236); border-right: 1px solid rgb(222, 231, 236); padding: 0.25em 0pt 0.25em 0.25em; font-weight: 400; font-family: Arial,Helvetica,sans-serif; color: rgb(128, 128, 128); background-color: rgb(155, 129, 40); }
.navigation_right dd { border-bottom: 1px solid rgb(239, 239, 239); font-family: Arial,Helvetica,sans-serif; font-size: 0.9em; }
.navigation_right dd a { padding: 0.025em 0pt 0.025em 10px; text-decoration: none; display: block; }
.navigation_right dt a { text-decoration: none; display: block; }
.navigation_right dd a:hover { background-color: rgb(240, 248, 255); }
.navigation_right dt a:hover { background-color: rgb(240, 248, 255); }
.navigation_right dd ul, .navigation_right dd.under ul { display: none; }
.navigation_right dd.over ul { display: block; }
div.databank { padding: 0.5em; float: left; }
div.databank2 { padding: 0pt 1.5em; }
.redhighlight { color: rgb(255, 0, 0); }
#navigation_left * { margin: 0pt; padding: 0pt; }
#navigation_left dd ul, #navigation_left dd.under ul { display: none; }
#navigation_left dd.over ul { display: block; }
#navigation_left dd.over a { background-image: url('lnav_arrow_on_blue.jpg'); }
#navigation_left dd.over a:hover { background-image: url('lnav_arrow_on_blue.jpg'); }
#navigation_left dt { border-left: 18px solid rgb(184, 205, 223); padding: 0.25em 0pt 0.25em 0.5em; font-weight: 500; font-family: Verdana,Arial,sans-serif; color: rgb(72, 93, 122); background-color: rgb(218, 220, 183); }
#navigation_left dd { border-bottom: 1px solid rgb(239, 239, 239); font-family: Arial,Helvetica,sans-serif; font-size: 1em; }
#navigation_left dd a { padding: 0.25em 0pt 0.25em 22px; background: transparent url('lnav_arrow_off.gif') no-repeat scroll left center; text-decoration: none; color: rgb(85, 85, 85); display: block; }
#navigation_left dd a:hover { background-color: rgb(218, 220, 183); background-image: url('lnav_arrow_off.gif'); }
#navigation_left dd li a { border-left: medium none; background-image: none; margin-left: 0pt; padding-left: 10px; }
#navigation_left dd li a:hover { background-image: url('graybox.gif'); }
#navigation_left ul { margin: 0pt; padding: 0pt 0pt 0pt 22px; list-style-image: url('graybox.gif'); }
#navigation_left li { border-top: 1px solid rgb(239, 239, 239); margin: 0px; background-color: rgb(213, 220, 227); }
#navigation_left dd ul, #navigation_left dd.under ul { display: none; }
#navigation_left dd.over ul { display: block; }
#navigation_left dd.over li a { background-image: none; }
#navigation_left dd.over li a:hover { background-image: none; }
div.figure1 { border: 1px dashed silver; margin: 0.5em; padding: 0.75em; float: left; width: 95%; }
img.float_alm { padding: 0.5em; float: right; }
p.alm_margin { margin-left: 10px; }
p.alm_word { background: transparent none repeat; text-align: left; color: rgb(0, 51, 204); font-weight: bold; }
h2.alm { border-bottom: medium none; }
div.c4 { white-space: nowrap; }
span.c3 { display: none; }
h2.c2 { white-space: nowrap; }
div.column { margin: 0.5em; padding: 0.5em; float: left; width: 45%; text-align: left; line-height: 1.5; }
div.content { padding: 0pt; width: 100%; }
div.c9 { text-indent: 6em; }
div.c8 { text-indent: 4.5em; }
div.c7 { text-indent: 3em; }
div.c6 { text-indent: 1.5em; }
div.c5 { border-bottom: thin dotted rgb(221, 221, 221); padding: 0pt 0pt 0pt 6em; }
div.c4 { float: left; }
div.c3 { text-align: center; }
p.c2 { text-align: center; font-size: 110%; }
div.c1 { text-align: right; }
#keywords { display: none; }
div.tabs { border-bottom: 1px solid rgb(140, 172, 187); padding: 2em 0em 0em; background: transparent none repeat; white-space: nowrap; }
#tabs { border-bottom: 1px solid rgb(140, 172, 187); padding: 0.75em 0pt 0pt; background: transparent none repeat; white-space: nowrap; }
#elaptabs { border-bottom: 1px solid rgb(255, 255, 255); padding: 0.5em 0pt 0pt; background: transparent none repeat; }
div.tabs a { border-style: solid solid none; border-color: rgb(140, 172, 187); border-width: 1px; padding: 0em 1em; background: transparent none repeat; color: rgb(67, 105, 118); font-weight: normal; height: 1.2em; margin-right: 0.5em; text-transform: lowercase; }
#tabs a, #elaptabs a { border-style: solid solid none; border-color: rgb(140, 172, 187); border-width: 1px; padding: 0em 1em; background: transparent none repeat; color: rgb(67, 105, 118); font-weight: normal; height: 1.2em; margin-right: 0.5em; text-transform: lowercase; }
div.tabs a.selected { border-style: solid; border-color: rgb(140, 172, 187) rgb(140, 172, 187) rgb(222, 231, 236); border-width: 1px; background: rgb(222, 231, 236) none repeat; color: rgb(67, 105, 118); font-weight: normal; }
#tabs a.selected, #elaptabs a.selected { border-style: solid; border-color: rgb(140, 172, 187) rgb(140, 172, 187) rgb(222, 231, 236); border-width: 1px; background: rgb(222, 231, 236) none repeat; color: rgb(67, 105, 118); font-weight: normal; }
div.tabs a.home { border-style: solid; border-color: rgb(140, 172, 187) rgb(140, 172, 187) rgb(222, 231, 236); border-width: 1px; background: rgb(222, 231, 236) none repeat; color: rgb(67, 105, 118); font-weight: bold; }
div.tabs a:hover { border-color: rgb(140, 172, 187) rgb(140, 172, 187) rgb(222, 231, 236); background: rgb(222, 231, 236) none repeat; color: rgb(67, 105, 118); }
#tabs a:hover, #elaptabs a:hover { border-color: rgb(140, 172, 187) rgb(140, 172, 187) rgb(222, 231, 236); background: rgb(222, 231, 236) none repeat; color: rgb(67, 105, 118); }
.c1 { text-align: left; }
dt.indent { padding-left: 3.5em; padding-top: 1.5em; color: rgb(85, 85, 85); font-weight: bold; }
dt.events { line-height: 1.5em; text-transform: uppercase; font-weight: normal; padding-left: 2em; }
dd.events { line-height: 1.5em; }
dd.eventsNoEvents { line-height: 1.5em; color: rgb(128, 169, 103); font-weight: 500; }
dd.eventTitle { padding: 0.25em 0pt; font-size: 100%; line-height: 1em; font-weight: bold; }
dd.eventsHighlighted { line-height: 1.5em; color: rgb(128, 169, 103); font-weight: 600; }
h2.events { border-bottom: 1px solid rgb(128, 118, 74); line-height: 1.5em; text-transform: uppercase; font-weight: normal; color: rgb(128, 118, 74); }
.bold { font-weight: 600; }
.centered { border: medium none ; padding: 0.5em; display: table; float: left; height: auto; margin-left: auto; margin-right: auto; width: 400px; }
#breadcrumbs { text-transform: lowercase; font-size: 80%; white-space: nowrap; font-weight: 500; float: left; color: rgb(128, 128, 128); text-decoration: none; }
#breadcrumbs a { text-transform: lowercase; font-size: 80%; white-space: nowrap; font-weight: 500; float: left; color: rgb(128, 128, 128); text-decoration: none; }
#breadcrumbs2 a { margin-top: 0pt; text-transform: lowercase; font-size: 40%; white-space: nowrap; font-weight: 500; float: left; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(219, 221, 181); width: 100%; }
div.width { margin-left: 225px; padding-bottom: 1em; }
div.height { margin-left: 165px; padding-bottom: 2em; }
.mainnews { border: 1px solid rgb(204, 204, 204); width: 200px; }
.month { background-color: rgb(238, 238, 238); font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; color: rgb(0, 0, 0); }
.daysofweek { background-color: rgb(238, 238, 238); font-family: verdana; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; color: rgb(0, 0, 0); }
.days { padding: 2px; font-size: 10px; font-family: verdana; color: rgb(0, 0, 0); background-color: rgb(255, 248, 188); }
.days #today { font-weight: bold; color: rgb(255, 0, 0); }
.hiv { margin-left: -30px; margin-top: 0pt; margin-bottom: 0.25em; padding-left: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
.hiv li { border: medium none ; padding-left: 1em; padding-right: 0pt; background-position: 0pt 2px; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 0.75em; }
div.stx table { border-left: 1px solid rgb(140, 172, 187); border-bottom: 1px solid rgb(140, 172, 187); margin: 0.25em 0em 1em; border-collapse: collapse; font-size: 90%; clear: both; }
table.listing th, div.stx table th { border-top: 1px solid rgb(140, 172, 187); border-right: 1px solid rgb(140, 172, 187); border-bottom: 1px solid rgb(140, 172, 187); padding: 1em 0pt 1em 0.5em; background: rgb(222, 231, 236) none repeat; color: rgb(0, 0, 0); font-weight: normal; white-space: nowrap; }
div.stx table th.maintitle { border-top: 1px solid rgb(140, 172, 187); border-right: 1px solid rgb(140, 172, 187); border-bottom: 1px solid rgb(140, 172, 187); padding: 1em 0pt; background: rgb(255, 255, 204) none repeat; color: rgb(0, 0, 0); font-weight: normal; white-space: nowrap; }
div.stx table td { border-right: 1px solid rgb(140, 172, 187); padding: 0em 1em; text-align: center; }
div.stx th.left { padding: 0pt 0pt 0pt 2em; text-align: left; background-color: rgb(255, 255, 204); }
div.stx td.left { padding: 0pt 0pt 0pt 2em; text-align: left; }
div.stx td.right { padding: 0pt 3em 0pt 0pt; text-align: right; }
div.stx table p { margin: 0pt; padding: 0pt; }
div.stx table { border: 1px solid rgb(140, 172, 187) ! important; }
div.stx table td { border-bottom: 1px solid rgb(140, 172, 187); }
div.stx2 table th { border-top: 1px solid rgb(140, 172, 187); border-right: 1px solid rgb(140, 172, 187); border-bottom: 1px solid rgb(140, 172, 187); padding: 1em 0pt; background: rgb(222, 231, 236) none repeat; color: rgb(0, 0, 0); font-weight: normal; white-space: nowrap; }
div.stx2 table th.maintitle { border-top: 1px solid rgb(140, 172, 187); border-right: 1px solid rgb(140, 172, 187); border-bottom: 1px solid rgb(140, 172, 187); padding: 1em 0pt; background: rgb(255, 255, 204) none repeat; color: rgb(0, 0, 0); font-weight: normal; white-space: nowrap; }
div.stx2 table td { border-right: 1px solid rgb(140, 172, 187); padding: 0em 1em; text-align: left; }
div.stx2 th.left { padding: 0pt 0pt 0pt 2em; text-align: left; background-color: rgb(255, 255, 204); }
div.stx2 td.left { padding: 0pt 0pt 0pt 2em; text-align: left; }
div.stx2 td.right { padding: 0pt 3em 0pt 0pt; text-align: right; }
div.stx2 table p { margin: 0pt; padding: 0pt; }
div.stx2 table { border: 1px solid rgb(140, 172, 187) ! important; }
div.stx2 table td { border-bottom: 1px dashed rgb(140, 172, 187); line-height: 1.5em; }
.red { background-color: transparent; color: rgb(255, 0, 0); }
li.set { margin: 0pt; padding: 0pt; background-color: transparent; color: rgb(0, 0, 0); display: inline; }
th.c1 { padding: 0.5em; }
tr.c2 { padding: 0.5em; background-color: rgb(222, 231, 236); }
tr.c1 { padding: 0.5em; background-color: rgb(255, 255, 204); }
td.c3 { padding: 0.5em; }
