/* Site: Page */

.header  
{
	padding-top: 15px;
	font: 12px Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
}
.text 			{font-size: 12px;}
.text_small 	{font-size: 11px;}
.text_tiny 		{font-size: 10px;}

/* Site: Tables */
.tr_even     	{color: #000000; padding-top: 5px;}
.tr_even_text	{color: #000000;}
.tr_odd      	{background-color: #EFEFEF; font-weight: 400; padding-top: 5px;}
