
/* ::::: http://www.biomedcentral.com/stylesheets/screen.css ::::: */

dl { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
li { margin-top: 0px; margin-bottom: 0px; }
ol { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
p { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
sub { vertical-align: -20%; }
sup { vertical-align: 20%; }
ul { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.block { display: block; }
.blog, .latest { margin: 0px 0px 18px; padding: 0px; list-style-type: none; }
.latest { margin: 0px 0px 0px 16px; }
.blog li, .latest li { margin: 0px 0px 8px; padding: 0px; }
.blog strong a, .latest strong a { text-decoration: none; }
.blog strong a:hover, .latest strong a:hover { text-decoration: underline; }
.bmcblog strong a, .latest strong a { color: rgb(0, 0, 0); }
.bodytext { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.bodytextwhite { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); }
.borderblack { border: 1px solid rgb(0, 0, 0); }
.bordergrey { border: 1px solid rgb(102, 102, 102); }
.celltext { font-size: 12px; line-height: 20px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.center { margin: 0px auto; text-align: center; }
.compact { font-size: 11px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.compactbody { font-size: 12px; line-height: 13px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.compactsmall { font-size: 11px; line-height: 12px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.entity { font-family: 'Times New Roman','Times Roman',Times,Garamond,serif; font-size: 110%; }
.error { border: 1px solid rgb(255, 0, 0); padding: 4px; color: rgb(255, 0, 0); font-weight: bold; }
.floatedmenu { border: 1px solid rgb(153, 153, 153); margin: 17px 0px 10px 10px; padding: 3px; width: 120px; float: right; font-size: 11px; }
.floatedmenu ul { margin: -5px 0px 0px; padding: 0px; list-style-type: none; }
.floatedmenu li { margin: 0px 0px 0px 1px; padding: 0px; }
.floatedmenu li.flags { margin: 0px 25px; }
.floatedmenu img { padding-top: 5px; }
.floatedmenu { clear: right; }
.infobox { border: 1px solid rgb(204, 204, 204); padding: 20px; background: rgb(217, 238, 255) none repeat; text-align: justify; font-family: verdana,arial,helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: 18px; font-size-adjust: none; font-stretch: normal; }
a.hiddenlink { text-decoration: none; }
a.hiddenblack { color: rgb(0, 0, 0); text-decoration: none; }
a.hiddenblack:hover { color: rgb(0, 0, 0); }
.inlineimg img { margin: 0px 10px 5px 0px; float: left; }
.mainHead { font-size: 18px; font-weight: bold; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.message { border: 1px solid rgb(102, 102, 102); margin: 1em 0px; padding: 5px; }
.messagealert { font-size: 12px; font-family: verdana,trebuchet,arial,helvetica; line-height: 16px; color: RED; }
.monospace { font-weight: normal; font-family: Courier,'Courier New',monospace; }
.nowrap { white-space: nowrap; }
.notunderlined a { text-decoration: none; }
.offsetbg { margin-top: 5px; font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.offsetsm { margin-top: 5px; font-size: 10px; line-height: 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
img { border: 0px none ; }
.addfile { border-top: 1px dashed rgb(102, 102, 102); margin: 10px 80px 0px 20px; padding: 0px; clear: left; }
.addfile object { margin-bottom: 2px; }
.addfile p { margin: 5px 0px 0px; font-size: 11px; }
.fig img.play, #popwindow img { margin: 0px; float: none; }
.additional .addfile { border-top: medium none; border-bottom: 2px solid rgb(170, 170, 170); margin: 15px 0px; padding: 0px 0px 10px; font-size: 12px; }
#popwindow .addfile { border: medium none ; margin: 5px; }
#popwindow .addfile p, #popwindow .fig p, .additional .addfile p { font-size: 12px; }
#popwindow { background: rgb(255, 255, 255) none repeat; }
.embedded, p.embedded { margin-bottom: 16px; }
.addfile span img { display: block; }
.movie { position: relative; }
.movie img { padding-bottom: 20px; display: block; }
.movie embed, .movie object { display: block; }
.movie br { display: none; }
.play { position: relative; bottom: 24px; left: 4px; }
.movie .play { position: absolute; bottom: 6px; left: 4px; }
.poster { border: 1px solid rgb(153, 153, 153); }
.progress2 td { line-height: 8px; }
.rightbutton {  }
.rightbutton img { display: block; }
.smalltext { font-size: 11px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.smallcelltext { font-size: 11px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.softMainHead { font-size: 18px; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.softsubBHead { font-size: 15px; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.softsubCHead { font-size: 13px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.softsubHead { font-size: 16px; line-height: 22px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.subBHead { font-size: 15px; font-weight: bold; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.subCHead { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; line-height: 14px; }
.subHead, .subhead { font-size: 16px; font-weight: bold; line-height: 22px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.tinytext { font-size: 10px; line-height: 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.topad { background: transparent url('ad_background.jpg') repeat-x scroll center bottom; height: 95px; padding-top: 2px; white-space: nowrap; vertical-align: middle; }
.topad div { display: inline; }
.topad table { display: inline; }
#topnav { font-size: 11px; line-height: 20px; padding-right: 5px; text-align: right; white-space: normal; }
#topnav a { color: rgb(0, 0, 0); text-decoration: none; white-space: nowrap; }
#topnav a:hover { text-decoration: underline; }
.topright img { margin-bottom: 3px; margin-top: 3px; }
.topright img { display: block; }
.info { border: 1px solid rgb(153, 153, 153); margin-bottom: 5px; font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.info .smcol { width: 100px; vertical-align: top; }
.info .bgcol { width: 200px; }
.info th { border-bottom: 1px solid rgb(153, 153, 153); background-color: rgb(215, 213, 213); text-align: left; }
.info .label { font-weight: bold; text-align: left; width: 90px; }
.alt { background: rgb(242, 242, 242) none repeat; }
.vevent abbr { border: 0px none ; }
.xalphabet { font-weight: bold; font-size: 16px; color: rgb(170, 170, 170); font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xalphabet a { color: rgb(0, 102, 204); text-decoration: none; }
.xalphabet a:hover { color: rgb(0, 102, 204); }
.xalphabeton { background-color: rgb(0, 102, 204); color: rgb(255, 255, 255); }
.xauthor { font-size: 12px; font-weight: bold; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
a.xbmclink { color: rgb(0, 51, 153); text-decoration: none; }
a.xbmclink:active { color: rgb(102, 153, 255); }
a.xbmclink:visited { color: rgb(51, 102, 204); }
.xborder { border: 1px solid rgb(0, 0, 0); }
.xbuttontext { font-size: 11px; line-height: 11px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xbuttontext a { color: rgb(0, 0, 0); text-decoration: none; }
.xbuttontext a:hover { color: rgb(86, 137, 232); }
.xbuttontext a:hover font { color: rgb(86, 137, 232); }
.xcaption { font-size: 11px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xcaptionscheme { border-bottom: 1px solid rgb(204, 204, 204); font-size: 12px; line-height: 24px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; margin-top: 10px; padding-left: 5px; width: 80%; }
.xcitation { page-break-inside: avoid; }
.xcitationtitle { font-size: 14px; font-weight: bold; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xcitationtitle a { text-decoration: none; }
.xcitationtitle2 { font-size: 16px; font-weight: bold; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xcitationtitle2 a { text-decoration: none; }
.xdispform { text-align: center; width: 100%; }
.xdispformid { text-align: right; }
.xfull { font-size: 13px; line-height: 17px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xfullindent1 { padding-left: 20px; font-size: 13px; line-height: 17px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xfullindent2 { padding-left: 40px; font-size: 13px; line-height: 17px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xfullindent3 { padding-left: 60px; font-size: 13px; line-height: 17px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.ximage { margin-top: 1.5em; margin-bottom: 2.5em; }
.xindent { padding-left: 10px; padding-bottom: 5px; text-indent: -10px; font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xindent a { color: rgb(0, 51, 255); text-decoration: none; }
.xindent2 { color: rgb(153, 153, 153); font-style: italic; }
.xindent2 a { color: rgb(153, 153, 153); }
.xinfo img { display: block; }
.xinfoheading { padding-top: 3px; font-size: 11px; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xinfoheading a { text-decoration: none; }
.xinfoheadingon { padding-top: 3px; font-size: 11px; color: rgb(0, 153, 102); font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xinfolink { font-size: 11px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xinfolink a { text-decoration: none; }
.xinfolinkon { font-size: 11px; color: rgb(0, 153, 102); font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xinfolinkon a { text-decoration: none; color: rgb(0, 153, 102); }
#xinfomaincol { padding: 0pt 5px; width: 605px; }
#xinfoonecol { padding: 0pt 0pt 0pt 5px; width: 600px; }
#xinforightcol { border-width: 0pt; padding: 0pt; width: 160px; margin-top: 10px; text-align: left; }
.xnavbox td { font-size: 11px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
#auth1, #auth2, .xon { padding-left: 13px; }
.xpagehead { font-size: 16px; font-weight: bold; color: rgb(0, 153, 102); font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xpagesubhead { font-size: 13px; font-weight: bold; line-height: 14px; color: rgb(0, 153, 102); font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xpapertitle { color: rgb(0, 0, 0); font-size: 20px; line-height: 26px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xpushbutton { border-style: solid; border-color: rgb(178, 193, 224) rgb(0, 51, 153) rgb(0, 51, 153) rgb(178, 193, 224); border-width: 1px; padding: 0px 5px; color: rgb(0, 51, 153); font-size: 11px; line-height: 14px; font-style: italic; text-decoration: none; }
.xpushbutton:hover { border-style: solid; border-color: rgb(0, 51, 153) rgb(178, 193, 224) rgb(178, 193, 224) rgb(0, 51, 153); border-width: 1px; color: rgb(0, 51, 153); text-decoration: none; }
.xprocess { color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xprocess a:link, .xprocess a:visited { color: rgb(255, 255, 255); text-decoration: none; }
.xprocess a:hover { color: rgb(51, 255, 153); }
.xqctext { color: rgb(255, 0, 0); font-size: 12px; font-weight: normal; font-family: Courier,'Courier New',monospace; }
.xqctextblack { color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; font-family: Courier,'Courier New',monospace; }
.xreference { font-size: 12px; line-height: 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xscientist td { padding-top: 6px; }
.xscientisttop { background-color: rgb(153, 204, 255); }
.xsection { font-size: 18px; line-height: 24px; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xsideheading { font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; color: rgb(255, 255, 255); }
.xsideheading a { color: rgb(255, 255, 255); text-decoration: none; }
.xspacer { color: rgb(204, 204, 204); font-size: 16px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xswitchsearch { font-size: 11px; line-height: 8px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.xtab { font-size: 15px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
.xtab a { text-decoration: none; }
.xthumb td { padding-top: 5px; padding-bottom: 5px; }
.xtoplinks { color: rgb(255, 255, 255); font-size: 10px; line-height: 15px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
@media print {
  #leftcolumn { display: none; }
}
.sectionrow { border: 0pt none ; width: 720px; float: left; margin-bottom: 10px; }
.section { margin: 0px 10px 0px 0px; padding: 10px 0px 0px; float: left; width: 350px; }
.section img { margin: 0px 10px 0px 0px; padding: 0px 10px 2px 0px; display: block; }
.section img.floating { margin: 0px 10px 0px 0px; padding: 0px 10px 2px 0px; float: left; }
.section h2 { border: 0pt none ; margin: 0px 0px 10px; padding: 0px; color: rgb(0, 79, 139); font-size: 17px; line-height: 20px; font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; }
.section h2 a:link, .section h2 a:visited { text-decoration: none; }
.section h2 a:hover { text-decoration: underline; }
body { margin: 0px; padding: 0px; font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
#article td, #article p, #article ul, #article ol { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
#article { margin: 0px auto; max-width: 1024px; min-width: 776px; position: relative; }
#article img { border: 0px none ; }
#article p { margin: 0px 0px 1em; line-height: 18px; }
#article hr { border: 0px none ; height: 1px; width: 100%; background-color: rgb(102, 102, 102); color: rgb(102, 102, 102); }
#article .hrgrey { border: 0px none ; height: 1px; width: 100%; background-color: rgb(153, 153, 153); color: rgb(153, 153, 153); }
#article a:link { color: rgb(0, 51, 153); }
#article a.xtoplinks:link { color: rgb(255, 255, 255); }
#article a:visited {  }
#article a.xtoplinks:visited { color: rgb(255, 255, 255); }
#article h1 { margin: 15px 0px; padding: 0px; font-size: 22px; line-height: 24px; font-weight: normal; font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; }
#article #topmatter h1 { margin: 0px; padding: 7px 0px 10px; }
#article h1 img { margin-left: 20px; }
#article h2 { border-bottom: 1px solid rgb(102, 102, 102); margin: 10px 0px; padding: 5px 8px 4px 0px; font-size: 15px; font-weight: bold; color: rgb(0, 51, 153); background-color: rgb(255, 255, 255); clear: left; font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; }
#article h3 { border-bottom: 1px solid rgb(102, 102, 102); margin: 10px 0px; padding: 5px 8px 4px 0px; font-size: 15px; font-weight: bold; color: rgb(0, 51, 153); background-color: rgb(255, 255, 255); clear: left; font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; }
#article h3.notitle { padding-top: 24px; }
#article h4 { margin: 0px; padding: 10px 0px 5px; font-size: 14px; clear: left; font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; }
#article h4.message { border-style: dashed; border-color: rgb(102, 102, 102); border-width: 1px 0px; margin: 1em 0px; padding: 5px 0px; background: rgb(242, 242, 242) none repeat; font-size: 12px; font-weight: normal; }
#article h4.bottommessage { border: 1px solid rgb(102, 102, 102); margin: 40px 120px 0px; padding: 20px; text-align: center; background-color: rgb(242, 242, 242); font-size: 12px; font-weight: normal; clear: right; }
#article h4.error { border-style: dashed; border-color: rgb(255, 0, 0); border-width: 1px 0px; margin: 1em 0px; padding: 5px 0px; background: rgb(255, 240, 245) none repeat; color: rgb(255, 0, 0); font-size: 12px; font-weight: normal; }
#article h5 { margin: 0px; padding: 10px 0px 0px; font-size: 12px; clear: left; font-family: Verdana,Arial,Geneva,Helvetica,sans-serif; }
.skip { display: block; position: absolute; top: -50px; left: 0pt; z-index: 0; width: 100%; }
.skip a { padding: 5px; left: 0pt; z-index: 0; }
.skip a:focus, .skip a:active { border: 1px solid rgb(255, 0, 0); display: inline; z-index: 2; background-color: rgb(255, 240, 245); color: rgb(255, 0, 0); text-decoration: none; position: absolute; top: 50px; left: 0pt; }
#article #content { padding: 15px 10px 10px; width: 100%; }
#article #leftcolumn { padding-top: 15px; }
#article #outline { border: 1px solid rgb(153, 153, 153); margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat; top: auto; left: 0px; width: 119px; font-size: 11px; text-align: right; color: rgb(0, 0, 0); }
#article #outline li { border-bottom: 1px dashed rgb(204, 204, 204); overflow: hidden; list-style-type: none; min-height: 26px; width: 119px; position: relative; vertical-align: top; }
#article #outline li.long { overflow: visible; }
#article #outline a:link, #outline a:visited { padding: 5px; color: rgb(0, 0, 0); text-decoration: none; display: block; }
#article #outline a:hover { border-left: 3px double rgb(102, 102, 102); padding: 5px 5px 5px 2px; background-color: rgb(242, 242, 242); color: rgb(0, 51, 153); }
#article #outline .long a { display: block; }
#article #outline a.full { border-style: dashed solid dashed double; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) rgb(102, 102, 102); border-width: 1px 1px 1px 3px; margin: -1px 0px 0px; padding: 5px 5px 5px 7px; overflow: hidden; white-space: nowrap; position: absolute; left: 0px; top: auto; width: 600px; background-color: rgb(242, 242, 242); text-align: left; }
#article #outline li.lowest { border-bottom: medium none; }
#article .articletype { font-size: 12px; }
#article #topmatter, #article #topmatter td, #article #topmatter p { font-size: 11px; line-height: 14px; }
#article #topmatter td { padding-right: 10px; }
#article #topmatter table { margin-bottom: 10px; }
#article .pseudotab { margin-left: 20px; }
#article .pseudotabau { margin-right: 20px; }
#article .access { padding: 2px 0px 0px; float: right; margin-left: 5px; vertical-align: baseline; }
.singleins, .multipleins { margin-bottom: 1em; position: static; }
#article .singleins p { margin: 0px; padding: 0px; line-height: 14px; }
#article .multipleins p { margin: 0px 0px 0px 20px; padding: 0px; line-height: 14px; }
#article .multipleins p sup { float: left; display: block; width: 16px; margin-left: -20px; }
#article .singleins p.authors, #article .multipleins p.authors { margin: 0px; padding: 0px; }
#article .multipleins p.authors sup { width: auto; float: none; display: inline; margin-left: 0px; }
#article .articlepager { float: right; width: 200px; margin-top: 3px; text-align: right; font-size: 11px; }
#article .articlepager a { margin-left: 7px; white-space: nowrap; text-decoration: none; }
#article .articlepager a:hover { text-decoration: underline; }
#article #navbox { margin: 0px -3px 0px 0px; padding: 0px 0px 0px 7px; float: right; width: 180px; background-color: rgb(255, 255, 255); z-index: 20; position: relative; }
#article #navbox table { width: 180px; }
#article #navbox td { border: 1px solid rgb(102, 102, 102); font-size: 11px; line-height: 14px; }
#article #navbox ul { margin: 0px; padding: 0px 0px 10px 2px; }
#article #navbox li { background: transparent url('navbullet.gif') no-repeat scroll 1px 6px; list-style-type: none; font-size: 11px; line-height: 14px; padding-left: 8px; }
#article #navbox li div { margin-left: 7px; }
#article #navbox #auth { margin-left: 20px; }
#article #navbox ul li img { vertical-align: bottom; }
#article #navbox a:link, #article #navbox a:visited { text-decoration: none; }
#article #navbox a:hover { text-decoration: underline; }
#article #navbox p img { margin: 10px auto; display: block; }
#article #navbox ul.iconlist { margin: 0px; padding: 0px 0px 0px 2px; list-style-type: none; }
#article #navbox ul.iconlist li { margin: 0px; padding: 0px; background: transparent none repeat; }
#article .navboxmessage { margin: 5px; font-size: 11px; line-height: 14px; }
#article li div#authg, #article li div#authpm, #article li div#authos, #article li div#autha { margin-left: 20px; }
#article .addfile object { margin-bottom: 2px; }
#article .additional .addfile { border-top: medium none; border-bottom: 1px dashed rgb(102, 102, 102); margin: 15px 0px; padding: 0px 0px 10px; background-color: transparent; }
#article .additional .addfile p { font-size: 12px; }
#article .embedded, #article p.embedded { margin-bottom: 16px; }
#article .fig, #article .table, #article .scheme, #article .addfile { border-top: 1px dashed rgb(102, 102, 102); border-bottom: 1px dashed rgb(102, 102, 102); margin: 12px 0px 0px; padding: 0px 8px 1px; clear: left; background-color: rgb(242, 242, 242); }
#article .fig p, #article .table p, #article .scheme p, #article .addfile p { margin: 5px 0px; font-size: 11px; line-height: 16px; }
#article .fig:after, #article .table:after, #article .scheme:after, #article .addfile:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#article .figs { margin: 20px 80px 20px 20px; padding: 0px; }
#article .figs .fig img.thumbnail, #article .figs .addfile img.thumbnail { margin: 3px 8px 7px 0px; float: left; display: inline; }
#article .figs .scheme img { margin: 3px -70px 0px 0px; }
#article img.mathimg { vertical-align: middle; }
#article .poster { border: 1px solid rgb(153, 153, 153); }
#popup { background: rgb(232, 232, 232) url('square.gif') repeat; font-size: 12px; line-height: 16px; }
#popup p, #popup td { font-size: 12px; line-height: 16px; }
#popup hr { border: 0px none ; height: 1px; width: 100%; background-color: rgb(102, 102, 102); color: rgb(102, 102, 102); }
#poparticle { border: 1px solid rgb(102, 102, 102); margin: 10px; padding: 5px; background-color: rgb(255, 255, 255); }
#poparticle table { margin: 5px 0px 5px -5px; }
#poparticle td { padding-right: 10px; }
#poparticle h1 { margin: 0px; padding: 0px; font-size: 15px; line-height: 16px; color: rgb(0, 51, 153); font-weight: bold; }
#poparticle p { margin: 5px 0px; }
#poparticle .legend { border-top: 1px dashed rgb(102, 102, 102); font-size: 12px; line-height: 16px; padding-top: 5px; }
.helptext { font-size: 11px; line-height: 14px; vertical-align: bottom; }
.headinglinks { margin: 24px -5px 15px 0px; float: right; width: 35%; text-align: right; font-size: 11px; }
.headinglinks a { margin: 0px 5px; white-space: nowrap; }
.headinglinks a.active { text-decoration: none; color: rgb(0, 0, 0); font-weight: bold; }
.headinglinks .active { color: rgb(0, 0, 0); font-weight: bold; }
.headinglinks img { vertical-align: middle; }
#article .inlinenumber { text-align: center; }
#article .inlinenumber span { position: absolute; right: 50px; }
#article .inlinenumber span.entity { position: static; }
#article .inlinenumber span.lineno { position: absolute; text-align: left; }
#article #references { margin: 0px 0px 0px 55px; padding: 0px; }
#article #references li { padding-bottom: 15px; }
#article #references li p { margin: 0px; padding: 0px; }
#article #references li p img { vertical-align: middle; }
#article #references a { white-space: nowrap; }
#article #qcarticle { margin-left: 70px; }
#article #qcarticle h3 span, #article #qcarticle h4 span, #article #qcarticle h5 span { color: rgb(255, 0, 0); font-size: 12px; }
#article #qcarticle .entity { color: rgb(0, 0, 0); }
#article #cqbox { border: 1px solid rgb(102, 102, 102); margin: 1em 0px; padding: 10px; background: rgb(242, 242, 242) none repeat; }
#article #cqbox table { margin-left: -5px; }
#article #cqbox td { padding-right: 5px; }
#article #cqbox h4, #article #cqbox h5 { margin: 5px 0px; }
#article #cqbox a:link, #article #cqbox a:visited, #article #cqbox a:hover { color: rgb(255, 0, 0); }
#article .qccheck { color: rgb(255, 0, 0); }
#article .lineno { color: rgb(255, 0, 0); position: absolute; left: 130px; top: auto; font-weight: bold; }
#article .lineref { color: rgb(255, 0, 0); }
#article .lineref span.math { color: rgb(0, 0, 0); }
#article .math img { padding: 5px 0px; }
#article .standardform, #article .searchform, #article .searchresults { width: auto; }
#article .standardform { margin-right: 185px; }
#article .formtable { border: 1px solid rgb(153, 153, 153); margin: 0px 0px 10px; width: 100%; background-color: rgb(242, 242, 242); clear: left; }
#article #topmatterbox td h3 { border-bottom: 0px none; margin: 0px; padding: 0px 0px 5px; background-color: rgb(242, 242, 242); font-size: 14px; }
#article #topmatterbox p { font-size: 11px; line-height: 14px; }
#article .label { text-align: right; width: 165px; font-weight: bold; }
#article .formbuttons { margin: 0px 0px 10px 165px; padding: 5px 5px 5px 13px; }
#article .top { text-align: right; }
#article .top a:link, #article .top a:visited { background: transparent url('top_arrow.gif') no-repeat scroll right bottom; text-decoration: none; padding-right: 13px; }
#article .top a:hover { text-decoration: underline; padding-right: 13px; }
#article ul.standalone { margin: 1em 0px 1em 20px; padding: 0px; }
#article .alt { background: rgb(242, 242, 242) none repeat; }
#article .info { border: 1px solid rgb(153, 153, 153); margin-bottom: 5px; width: 100%; }
#article .info { min-width: 635px; }
#article .info .smcol { width: 100px; }
#article .info .bgcol { width: 200px; }
#article .info th { border-bottom: 1px solid rgb(153, 153, 153); background-color: rgb(215, 213, 213); text-align: left; }
#article .info .label { font-weight: bold; text-align: left; width: 90px; }
.err { color: rgb(255, 0, 0); font-size: 10px; }
.navbutton img { display: block; }
.vcard { padding: 5px; width: 600px; }
.vcard .logo, .vcard .url, .vcard .geo, .vcard .tel .type { position: absolute; top: -9000px; left: -9000px; }
.vcard .email .type, .vcard .tel .switchboard, .vcard .tel .customerservices, .vcard .tel .facsimile, .vcard .postaladr { font-weight: bold; float: left; width: 150px; text-align: right; padding-right: 10px; margin-top: 20px; }
.vcard .email .value, .vcard .tel .value, .vcard .tel .customerinfo, .vcard .postaladrinfo { float: left; width: 350px; margin-top: 20px; }
.vcard p { clear: left; font-size: 12px; line-height: 16px; }
.vcard div, .vcard span { font-size: 12px; line-height: 16px; }
.vcard .adr span { display: block; }
.vcard .adr span.locality, .vcard .adr span.postal-code { display: inline; }
.vcard .postaladrinfo { margin-bottom: 20px; }
.inlineSans { font-size: 13px; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.internalNavMain { font-size: 11px; line-height: 11px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.midSans { font-size: 12px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.smallSans { font-size: 10px; line-height: 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.smallLinks { font-size: 10px; line-height: 15px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.FrontLevel1 { font-size: 16px; font-weight: bold; line-height: 18px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.FrontLevel3 { font-size: 11px; font-weight: bold; line-height: 12px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.TocHead { font-size: 14px; line-height: 18px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.field { font-size: 14px; font-family: Arial; }
.FrontLevel2 { font-size: 14px; font-weight: bold; line-height: 16px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.inlineTocSans { color: rgb(0, 0, 0); font-size: 10px; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.interfaceText { font-size: 12px; line-height: 18px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.internalNav { color: rgb(102, 102, 102); font-size: 11px; line-height: 11px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.internalNavOptions { color: rgb(204, 0, 0); font-size: 10px; line-height: 12px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.sectionHead { font-size: 16px; line-height: 16px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.SectionNav { color: rgb(102, 102, 102); font-size: 11px; line-height: 13px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.sideTocText { color: rgb(0, 0, 0); font-size: 10px; line-height: 12px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.sideTocLink { text-decoration: none; }
.sideTocHead { color: rgb(0, 0, 0); font-size: 11px; line-height: 13px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.Splash { color: rgb(255, 255, 255); font-size: 10px; line-height: 14px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.SplashToo { color: rgb(204, 204, 204); font-size: 13px; line-height: 14px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.smallLinksB { font-size: 10px; line-height: 20px; text-decoration: none; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.spacer { color: rgb(204, 204, 204); font-size: 16px; line-height: 14px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.subDHead { font-weight: bold; font-size: 12px; line-height: 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.style1 { font-size: 16px; font-weight: bold; }
a:hover { text-decoration: underline; }
.xtoplinks:hover { background-color: rgb(102, 153, 255); text-decoration: none; }
