/* ::::: http://www.pnas.org/shared/css/hw-global.css ::::: */

/* ::::: http://www.pnas.org/shared/css/hw-global-sidebars.css ::::: */

#col-2 { background-color: rgb(238, 238, 238); }
#col-3 { background-color: rgb(216, 216, 216); }
#col-2 div#docked-slugline, #col-2 div#slugline, #col-2 .cb-corr-slug div.correction-for-article, #col-2 .cb-corr-slug div.retraction-for-article, #col-2 .cb-corr-slug div.revision-for-article { font-size: 86.38%; margin-left: 0pt; padding: 0pt 5px 0pt 0pt; }
#col-2 div#docked-slugline .slug-metadata-note, #col-2 div#slugline .slug-metadata-note { display: block; margin-top: 3px; padding-bottom: 3px; }
#col-2 div#docked-slugline cite, #col-2 div#slugline cite { margin: 3px 0pt; }
div.content-box ol { list-style: none outside none; margin: 0pt; padding: 0pt; }
#col-2 div.content-box { margin: 1em 7px 0pt 0pt; font-size: 83.33%; background-color: rgb(219, 219, 219); border-right: 1px solid white; padding: 5px 12px 5px 0px; line-height: 1; }
#col-3 div.content-box { margin: 0px; font-size: 83.33%; padding: 5px 0px; line-height: 1; }
#col-2 .content-box h3 { font-size: 1.2em; margin: 0px; padding: 0.3em 0px 0.3em 5px; }
#col-3 .content-box h3 { font-size: 1.2em; margin: 0px; padding: 0.3em 0px; }
#col-3 .content-box h4 { font-size: 1.1em; margin: 0px; padding: 0.3em 0px; }
#col-2 div.cb-contents { background-color: rgb(238, 238, 238); border-left: 1px solid rgb(213, 218, 186); margin: 0px; padding: 0px 0px 5px; }
#col-3 div.cb-contents { margin: 0px; padding: 0px 0px 5px; }
#col-2 div.cb-section { padding: 0px; margin: 0px 0px 0px -1px; border-left: 1px solid white; background-color: white; border-right: 10px solid rgb(238, 238, 238); }
#col-2 div.cb-section ol { padding: 3px 0px; }
#col-3 div.cb-section { padding: 3px 10px 3px 0pt; margin: 0pt; border-bottom: 1px solid rgb(185, 194, 141); }
#col-2 div.content-box div.cb-slug, #col-2 div.content-box div.cb-corr-slug { padding-top: 3px; }
div.content-box .cb-slug ol, div.content-box div.cb-corr-slug ol { border: 1px solid rgb(238, 238, 238); margin: 0pt 4px; }
#col-3 div.content-box div.sidebar-etoc-link { border: medium none; padding-bottom: 0px; }
div.cb-section li .free, div.cb-section li .free-to-you { margin-left: 0.5em; font-weight: bold; font-style: italic; }
div.cb-section li .pdf-direct-link, div.cb-section li .variant-indicator { font-weight: bold; }
#col-3 ol { list-style: none outside none; }
#col-3 div.content-box { background-color: rgb(221, 221, 221); padding: 1em; }
div.content-box a, div.content-box span.variant-indicator { line-height: 1.4; text-decoration: none; }
div.content-box a:hover { border-bottom: 1px dotted rgb(102, 0, 51); }
div.content-box a:link, div.content-box a:visited, div.content-box a:hover, div.content-box a:active { color: rgb(64, 64, 64); }
#col-3 div.content-box .cb-section { margin-bottom: 0.5em; }
#col-3 .cb-section, #col-3 .cb-section ol, #col-3 .cb-section ol li { margin: 0px; padding: 0px; }
div.content-box div.cb-section .notice { font-weight: bold; }
#col-2 a.prev-results-link, #col-2 a.next-results-link, div.content-box div.cb-section .notice a, div.content-box div.cb-section a.pdf-direct-link { background-color: rgb(255, 240, 184); }
form.searchbox { margin: 0px auto 1em; width: 100%; }
form.searchbox #sidebar-search-input, form.searchbox #issue-search-input { margin-left: 0px; width: 115px; }
form.searchbox #sidebar-search-go, form.searchbox #issue-search-go { width: 35px; margin-left: 5px; }
#col-3 #sidebar-current-issue { background-color: rgb(192, 192, 192); border: 2px solid rgb(169, 169, 169); margin: 5px 10px; padding: 5px; }
#sidebar-cur-issue-coverlines ul { list-style: square outside none; margin-left: 0px; padding-left: 0px; }
#sidebar-cur-issue-coverlines ul li { padding-left: 0px; margin-left: 15px; }
div#docked-slugline, div#slugline { color: rgb(51, 51, 0); font-weight: bold; }
#col-2 div#slugline, #col-2 div#docked-slugline { margin: 0pt 5px; }
div#docked-slugline cite, div#slugline cite { font-style: normal; display: block; color: rgb(51, 51, 0); font-weight: normal; }
div#docked-slugline .slug-pub-date, div#docked-slugline .slug-pages, div#slugline cite .slug-pub-date, div#slugline cite .slug-pages { font-weight: bold; }
.current-issue { margin: 0.5em 0px 0.5em auto; width: 100%; }
.current-issue img { border: 1px solid rgb(204, 204, 204); }
/* ::::: http://www.pnas.org/shared/css/hw-global-elements.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline-style: none; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; line-height: inherit; text-align: inherit; vertical-align: baseline; }
a img, :link img, :visited img { border: 0px none; }
:focus { outline: medium none; }
body { line-height: 1.25; color: black; background: none repeat scroll 0% 0% white; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; }
body { font-size: 100%; line-height: 1; background: none no-repeat fixed 0% 0% white; color: black; font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
p, pre, label, ul, ol, dl, fieldset, address { margin: 1em 5%; }
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 0.4em; }
h1, h2, h3, h4 { text-align: left; font-weight: bold; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
li, dd { margin-left: 5%; }
strong { font-weight: 700; }
sup { font-size: 0.85em; vertical-align: super; line-height: 0pt; }
div.hw-gen-page { font-size: 0.8em; padding: 0.5em 4em 2em 2em; }
.hw-gen-page #skip-link { position: absolute; left: -9999px; }
#content-block { margin: 0pt; padding: 0pt; border: 0pt none; line-height: 1.3; overflow: hidden; }
#content-block p { margin: 15px 0px; padding: 0pt; border: 0pt none; line-height: 1.5; }
#content-block { float: right; width: 518px; padding: 0px 20px 0px 5px; }
#col-2, #col-3 { width: 210px; overflow: hidden; }
#col-2 { float: left; }
#footer { clear: both; }
div.hw-gen-page img.adborder1 { border: 1px solid black; }
#content-block { float: left; }
#col-2 div { margin: 0px 10px; padding: 5px; }
#col-3 { float: right; }
#col-3 div { margin: 0px 0px 0px 10px; padding: 5px; }
#col-2, #col-3 { margin: 0px; padding: 5px 0px 0px; }
#content-block, #col-2, #col-3 { margin-bottom: 0px; padding-bottom: 0px; }
#col-2 { padding-right: 7px; }
#authstring * { margin: 0px; padding: 0px; }
#authstring { width: 640px; text-align: center; margin-bottom: 1.5em; }
#authstring ul { list-style: none outside none; }
#authstring li { display: inline; border-left: 1px solid gray; padding: 0em 0.4em; }
#authstring .subscr-ref { font-weight: bold; border-left: medium none; }
#content-block h1, #content-block h2, #content-block h3, #content-block h4, #content-block h5, #content-block h6 { font-family: Georgia,'Times New Roman',serif; }
#footer, #footer * { margin: 0px; padding: 0px; }
#footer { text-align: center; }
#footer ul { list-style: none outside none; font-size: 0.8em; }
#footer li { display: inline; border-left: 1px solid gray; padding: 0px 0.4em; }
#footer li a { color: black; }
#footer .firstitem { border-left: medium none; }
#footer .copyright { font-size: 0.8em; margin: 1em auto; }
#footer .copyright a { color: rgb(102, 0, 51); }
/* ::::: http://www.pnas.org/shared/css/hw-global-citation.css ::::: */

/* ::::: http://www.pnas.org/shared/css/hw-global-classes.css ::::: */

/* ::::: http://www.pnas.org/shared/css/hw-global-dynamic-elements.css ::::: */

div.hw-gen-page .view-more { background-color: white; display: block; font-weight: bold; float: left; margin-left: -2px; margin-right: 5px; font-size: 0.833em; border: 1px solid rgb(220, 220, 220); text-decoration: none; width: 1.3em; height: 0.9em; text-align: center; padding-bottom: 0.4em; cursor: pointer; }
div.hw-gen-page .view-more:hover { background-color: rgb(56, 56, 56); color: white; }
/* ::::: http://www.pnas.org/local/css/hw-pnas-global.css ::::: */

/* ::::: http://www.pnas.org/local/css/hw-pnas-sidebars.css ::::: */

#col-2 div { margin: 0px 0px 0px 10px; }
#col-2 div.content-box { background-color: rgb(60, 112, 60); margin: 1em 0pt 0pt; padding: 5px 15px 5px 0pt; border-right: medium none; }
#col-2 div.cb-contents { background-color: rgb(199, 194, 168); border-left: 1px solid rgb(199, 194, 168); }
#col-2 div.cb-contents h3 { background-color: rgb(199, 194, 168); border-left: 1px solid rgb(199, 194, 168); }
#col-2 div.cb-section { border-right: 10px solid rgb(199, 194, 168); }
div.content-box a:link, div.content-box a:visited, div.content-box a:hover, div.content-box a:active { color: rgb(17, 66, 24); }
#col-2 div#slugline, #col-2 div#docked-slugline { margin-left: 0pt; }
#col-3 #sidebar-current-issue { background-color: rgb(238, 234, 221); border: 4px solid rgb(60, 112, 60); margin: 5px 10px; padding: 5px; }
#col-3 div.cb-section { border-bottom: 2px solid rgb(203, 194, 197); }
#col-3 #sidebar-current-issue div.cb-contents { padding-bottom: 0pt; }
#col-3 div.cb-section {  }
#col-3 div.sidebar-qs { margin: 0pt 10px; background-color: rgb(199, 194, 168); border: 1px solid rgb(203, 194, 197); }
#col-2 div.sidebar-qs form.searchbox, #col-3 div.sidebar-qs form.searchbox { margin: 0pt; }
#col-2 div.sidebar-qs div, #col-3 div.sidebar-qs div { margin: 0pt; padding: 0pt; }
#col-2 div.sidebar-qs img, #col-3 div.sidebar-qs img { padding: 0pt; }
#col-3 div.content-box .cb-contents li { text-align: left; }
#col-3 div.content-box div.current-issue { margin: 0pt; padding: 5px 0pt; text-align: center; }
#col-3 div.content-box div.current-issue img { border: 1px solid rgb(0, 0, 0); }
#col-3 div.content-box div.current-issue a:hover { border: medium none; }
#col-3 h3.cb-contents-header span { color: rgb(17, 66, 24); }
#col-3 div#sidebar-global-nav { position: relative; margin: 0pt; padding: 0pt; }
#col-3 div#sidebar-global-nav ul { list-style: none outside none; margin: 0pt 10px; padding: 0pt; overflow: hidden; border-left: 1px solid rgb(86, 108, 17); border-right: 1px solid rgb(86, 108, 17); }
#col-3 div#sidebar-global-nav ul li { background-position: left center; background-repeat: no-repeat; margin: 0pt; padding: 0.3em 0pt 0.4em 20px; }
#col-3 div#sidebar-global-nav a { font-size: 0.9em; text-decoration: none; color: inherit; }
#col-3 div#sidebar-global-nav ul li:hover { background-position: left center; }
#col-3 div#sidebar-global-nav ul.sidebar-buttons li { border-top: 1px solid rgb(60, 112, 60); background-image: url('sidebar-bullet.gif'); background-color: rgb(199, 194, 168); }
#col-3 div#sidebar-global-nav ul.sidebar-buttons li:hover { background-color: rgb(238, 234, 221); }
#col-3 div#sidebar-global-nav ul.sidebar-buttons li a, #col-3 div#sidebar-global-nav ul.sidebar-buttons li a:hover { color: rgb(92, 41, 70); }
#col-3 div#sidebar-global-nav ul.sidebar-links { border: 1px solid rgb(86, 108, 17); }
#col-3 div#sidebar-global-nav ul.sidebar-links li { background-image: url('sidebar-bullet.gif'); background-color: rgb(238, 234, 221); color: rgb(221, 226, 207); }
#col-3 div#sidebar-global-nav ul.sidebar-links li a, #col-3 div#sidebar-global-nav ul.sidebar-links li a:hover { color: rgb(92, 41, 70); }
#col-3 div#sidebar-global-nav ul li p { position: absolute; left: -9999px; }
#col-3 div.rollover-info-box { display: none; }
#col-3 div.most-links-box { padding: 0pt; margin: 0.75em 10px 0pt; float: left; }
#col-3 div.most-links-box div.most-header { padding: 0pt; margin: 0pt; background: url('most-border-bg.gif') repeat-x scroll center bottom transparent; float: left; width: 100%; }
#col-3 div.most-links-box h3 { float: left; font-style: italic; font-size: 0.85em; margin: 0pt; padding: 3px 3px 0pt 0pt; color: white; }
div.most-links-box ul { clear: both; margin: 0pt; padding: 0pt; list-style: none outside none; }
div.most-links-box ul li { margin: 0pt; padding: 0pt; display: none; }
div.most-links-box ul li.most-cur-sel { display: inline; }
div.most-links-box ul li.most-cur-sel li { display: list-item; }
div.most-links-box ul.most-headings { clear: none; }
div.most-links-box ul.most-headings li { display: list-item; float: left; font-size: 1em; font-weight: bold; background-image: url('most-unsel-rbg.gif'); background-position: right 1px; background-repeat: no-repeat; }
div.most-links-box ul.most-headings li a { display: block; margin: 0pt; padding: 4px 4px 2px; background-image: url('most-unsel-lbg.gif'); background-position: left 1px; background-repeat: no-repeat; }
div.most-links-box ul.most-headings li.most-cur-sel { background-image: url('most-sel-rbg.gif'); background-position: right top; }
div.most-links-box ul.most-headings li.most-cur-sel a { background-image: url('most-sel-lbg.gif'); background-position: left top; padding-bottom: 3px; color: black; }
div.most-links-box h4 { display: none; }
#col-3 div.most-links-box div.most-list { border-right: 1px solid rgb(86, 108, 17); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(86, 108, 17) rgb(86, 108, 17); background-color: rgb(238, 234, 221); margin: 0pt; padding: 0pt 0pt 0.5em; }
#col-3 div.most-links-box div.most-list a.view-all { margin-left: 10px; }
#col-3 div.most-links-box ol { clear: both; margin: 0pt; padding: 0.5em 0.5em 0.5em 25px; list-style: decimal outside none; }
div.most-links-box ol li { padding: 0pt; margin: 0.2em 0.4em; }
div.most-links-box li a { font-size: 83.33%; color: rgb(92, 41, 70); text-decoration: none; }
div.most-links-box div.most-list a:hover { border-bottom: 1px dotted rgb(92, 41, 70); }
div.hw-gen-page { position: relative; background-color: white; padding: 5px; width: 970px; top: 0px; margin: 0pt auto; }
#col-2 { background-color: rgb(178, 176, 165); }
#col-3 { background-color: rgb(60, 112, 60); }
#header { width: 970px; position: relative; clear: both; padding: 0pt; height: 154px; }
#header a { text-decoration: none; }
div.main-logo { position: absolute; display: block; width: 175px; height: 61px; top: 83px; right: 1px; background-image: url('pnashead.gif'); background-position: 0pt center; background-repeat: no-repeat; }
div.main-logo a { display: block; width: 259px; height: 61px; }
#header .button-list { list-style: none outside none; display: block; margin: 0pt; padding: 0pt; position: absolute; }
#header .button-list li { display: inline; }
#header .header-buttons a { position: absolute; background-image: url('smallbuttons_top.jpg'); background-repeat: no-repeat; border-bottom: 5px solid rgb(5, 108, 17); }
#header .header-buttons a:hover { border-bottom: 5px solid rgb(92, 41, 70); }
.header-buttons { width: 450px; top: 113px; height: 21px; }
.header-buttons a { height: 19px; }
.header-buttons a.ifora-link { width: 78px; left: 0px; background-position: left top; }
.header-buttons a.edboard-link { background-position: -78px top; width: 79px; left: 78px; }
.header-buttons a.about-link { background-position: -158px top; width: 38px; left: 157px; }
.header-buttons a.subscribe-link { background-position: -196px top; width: 52px; left: 195px; }
.header-buttons a.advertise-link { background-position: -248px top; width: 52px; left: 247px; }
.header-buttons a.contact-link { background-position: -300px top; width: 45px; left: 299px; }
.header-buttons a.feedback-link { background-position: -345px top; width: 54px; left: 344px; }
.header-buttons a.sitemap-link { background-position: -399px top; width: 46px; left: 398px; }
.secondary-logo { display: block; position: absolute; right: 0px; width: 970px; top: 131px; height: 23px; background-image: url('masthead_banner.jpg'); background-position: right top; background-repeat: no-repeat; background-color: rgb(0, 153, 16); padding: 0em; margin: 0px; z-index: 5; }
#authstring { display: block; list-style: none outside none; font-size: 0.8em; position: absolute; margin: 0pt; padding: 0pt; top: 80px; left: 5px; text-align: left; }
#authstring li { display: inline; position: relative; }
#authstring a, #authstring a:link, #authstring a:active { color: rgb(51, 51, 51); }
#authstring a:visited { color: rgb(0, 51, 51); }
.banner-ads { display: block; list-style: none outside none; width: 970px; height: 60px; margin: 0px; padding: 0px 0px 10px; position: absolute; top: 0px; left: 0px; border-bottom: 1px solid rgb(204, 204, 204); text-align: center; }
.banner-ads li { display: inline; position: relative; height: 60px; margin: 0pt; padding: 0pt 5px; }
#pageid-error div.main-logo, #pageid-error .secondary-logo, #content-block { position: relative; left: 0px; top: 0px; background-position: right center; }
#footer { margin: 0pt; padding-top: 1em; }
#footer .copyright a { color: rgb(92, 41, 70); }
#footer ul { margin-top: 0.75em; }
.main-logo strong, #header .button-list a span, .secondary-logo strong, .quicksearch label, .sidebar-qs label, .prev-next a span { position: absolute; left: -9999px; }
#content-block a, #content-block a:link, #content-block a:active { color: rgb(51, 51, 51); }
#content-block a:visited { color: rgb(0, 51, 51); }
.hw-gen-page #skip-link { color: white; left: -9999px; position: absolute; }
.hw-gen-page #skip-link a { color: white; left: -9999px; position: absolute; }
.secondary-logo strong { color: white; }
/* ::::: http://www.pnas.org/shared/css/hw-page-content.css ::::: */

/* ::::: http://www.pnas.org/shared/css/hw-content-figures.css ::::: */

/* ::::: http://www.pnas.org/shared/css/hw-content-tables.css ::::: */

div.pagetype-content div.table-expansion table th, div.pagetype-content div.table-expansion table td, div.pagetype-content div.table-wrapper table th, div.pagetype-content div.table-wrapper table td { font-family: monospace; padding: 2px 4px; border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(232, 232, 232); }
div.pagetype-content div.table-expansion table, div.pagetype-content div.table-wrapper table { border-right: 2px solid rgb(192, 192, 192); border-width: 1px 2px 2px; border-style: solid; border-color: rgb(192, 192, 192); }
div#pageid-data-supp div#content-block div.table-wrapper { border: medium none; }
h1 { margin: 10px 0pt 0pt; padding: 0pt; }
h1.expansion-article-title, h1.data-supp-article-title { margin: 10px 0pt; }
.highwire-journal-article-marker-end { clear: both; }
/* ::::: http://www.pnas.org/shared/css/hw-page-data-supp.css ::::: */

div#pageid-data-supp div#content-block h2, div#pageid-data-supp div#content-block h3, div#pageid-data-supp div#content-block h4 { margin-left: 0pt; padding-left: 0pt; }
div#pageid-data-supp div#content-block .table-wrapper { border: 1px solid rgb(221, 221, 221); padding: 1px; overflow: auto; }
div#pageid-data-supp div#content-block .table-wrapper table { margin: 0pt; padding: 0pt; }
div#pageid-data-supp div#content-block .table-wrapper tr { height: auto; }
div#pageid-data-supp div#content-block .table-wrapper td { font-size: 88%; text-align: center; height: auto; }
div#pageid-data-supp div#content-block .table-wrapper table.bordered td { margin: 0pt; border: 1px solid black; }
div#pageid-data-supp div#content-block .table-wrapper table.bordered td p { margin: 0pt; padding: 0pt; }
div#pageid-data-supp div#content-block .table-wrapper table.padded-7 td { padding: 0.6em; }
/* ::::: http://www.pnas.org/shared/css/hw-global-colexpand.css ::::: */

div.hide-cols { max-width: 970px; }
div#content-option-box { float: right; padding: 5px; margin: 10px 0pt 0pt; }
div#content-option-box ul, div#content-option-box li { margin: 0pt; padding: 0pt; }
div#content-block div.option-box-docked { padding: 2px 2px 2px 1px; background-color: white; position: fixed; top: -10px; }
div#content-option-box ul { list-style: none outside none; padding: 0pt; margin: 0pt; }
div.hide-cols div#content-block { width: auto; }
div#content-block li#content-toggle a { display: block; width: 24px; border: medium none; margin: 0pt; padding: 0pt; height: 13px; background: url('col-expand.gif') no-repeat scroll center center transparent; text-decoration: none; }
div#content-block li#content-toggle a.expanded { background: url('col-contract.gif') no-repeat scroll right center transparent; }
div#content-block li#content-toggle a span { display: none; }
div.hide-cols div#cols-min { position: relative; clear: both; }
.hide-cols div#col-2-min, .hide-cols div#col-3-min { width: 100px; height: 15px; float: right; }
.hide-cols div#col-2-min { border-bottom: 1px dashed rgb(184, 184, 144); border-left: 1px solid rgb(128, 128, 0); background-color: rgb(226, 229, 208); }
.hide-cols div#col-3-min { border-bottom: 1px dashed rgb(184, 184, 144); border-left: 1px solid rgb(128, 128, 0); border-right: 1px solid rgb(128, 128, 0); background-color: rgb(213, 218, 186); }
.hide-cols div#col-2-min .view-more, .hide-cols div#col-3-min .view-more { color: black; border: medium none; margin: 0pt 2px; padding: 1px; float: right; width: 13px; height: 13px; background-color: inherit; background-image: url('pulldown.gif'); background-repeat: no-repeat; background-position: center center; }
.hide-cols div#col-2-min .view-more:hover, .hide-cols div#col-3-min .view-more:hover { color: white; background-color: rgb(64, 64, 64); }
div.hide-cols div#col-2, div.hide-cols div#col-3 { display: none; }
div#pageid-content.hide-cols div.table-expansion, div#pageid-data-supp.hide-cols div#content-block .ds-img-wrap, div#pageid-data-supp.hide-cols div#content-block .table-wrapper { width: 98%; overflow: visible; }
div.hide-cols div#content-block { width: auto; overflow: visible; clear: both; }
div#pageid-data-supp.hide-cols div#content-block .table-wrapper { width: auto; overflow: visible; }
div#pageid-data-supp.hide-cols div#content-block .table-wrapper table { border-collapse: collapse; }
div#pageid-data-supp.hide-cols .table-wrapper table th, div#pageid-data-supp.hide-cols .table-wrapper table td { font-family: monospace; padding: 3px; border: 1px solid gray; }
/* ::::: http://www.pnas.org/local/css/hw-pnas-page-content.css ::::: */

div.hide-cols div#col-2-min { background-color: rgb(216, 219, 227); }
div.hide-cols div#col-3-min { background-color: rgb(177, 183, 199); }
