
/* ::::: http://www.eecs.berkeley.edu/Includes/eecsHome.css ::::: */

body { margin: 0pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; }
.topnavbackground { background-image: url('submenu-background.jpg'); }
#header { color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); width: 100%; }
#title a { color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); text-decoration: none; }
#title a:hover { color: rgb(255, 204, 102); background-color: rgb(0, 32, 97); text-decoration: none; }
#title h2 { margin: 0pt; padding: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); text-align: left; }
#coetitle a { color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); text-decoration: none; }
#coetitle a:hover { color: rgb(255, 204, 102); background-color: rgb(0, 32, 97); text-decoration: none; }
#coetitle h2 { margin: 0pt; padding: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); text-align: left; }
#ucbtitle a { color: rgb(255, 204, 102); background-color: rgb(0, 32, 97); text-decoration: none; }
#ucbtitle a:hover { color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); text-decoration: none; }
#ucbtitle h2 { margin: 0pt; padding: 0pt; text-align: left; }
#logintitle a { background: rgb(229, 229, 229) none repeat; color: rgb(0, 0, 0); text-decoration: none; }
#logintitle a:hover { background: rgb(255, 255, 255) none repeat; color: rgb(255, 0, 0); text-decoration: none; }
#logintitle h4 { margin: 0pt; padding: 0pt; text-align: center; }
#eecs { margin: 0pt; padding: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); font-family: verdana,sans-serif; font-style: normal; font-variant: small-caps; font-weight: bold; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; letter-spacing: 0.3em; }
#coe { margin: 0pt 0pt 10px; padding: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); font-family: verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; }
#berk { font-family: times,garamond,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 16px; line-height: normal; font-size-adjust: none; font-stretch: normal; }
#berk a:hover { color: rgb(255, 255, 255); background-color: rgb(0, 32, 97); }
tr.sidecolor { background-color: rgb(255, 255, 255); }
p.login { margin: 0pt; padding: 0pt; color: rgb(0, 0, 0); font-family: Geneva,Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 12px; line-height: normal; font-size-adjust: none; font-stretch: normal; text-align: center; }
.leftsidebar-image { background-image: url('template-leftnav.gradient.jpg'); background-repeat: no-repeat; height: 360px; }
.rightsidebar-image { background-image: url('template-rightnav.gradient.jpg'); background-repeat: no-repeat; height: 600px; width: 200px; }
td.divline { margin: 0pt; padding: 10px 0pt 0pt; }
#sideline hr { color: rgb(239, 206, 119); background-color: rgb(239, 206, 119); height: 3px; }
#maststripe div { background: rgb(254, 229, 160) none repeat; }
a {  }
a:link { text-decoration: none; }
a:visited { text-decoration: none; color: rgb(0, 0, 153); }
a:hover { text-decoration: none; color: rgb(255, 0, 0); }
a:active { text-decoration: none; color: rgb(255, 0, 0); }
.search { margin: 5px 0pt 0pt 5px; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; }
.searchtypes { font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; }
ul.nobullet { list-style-type: none; }
ul.square { list-style-type: square; }
ol.uproman { list-style-type: upper-roman; }
ol.lowalpha { list-style-type: lower-alpha; }
ol.upalpha { list-style-type: upper-alpha; }
#leftcoltext h4 { margin: 0pt; padding: 0.75em 0.5em 0.5em; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#rightcoltext h4 { margin: 0pt; padding: 1em 0.5em 0.5em; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#rightcoltext p { margin: 0pt; padding: 0.5em 0.5em 0.5em 1.5em; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
.sidenavhead { margin: 0pt; padding: 1em 0.5em 0pt 0.7em; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; }
.sidenavtext { margin: 0pt; padding: 0.25em 0.25em 1em 0.7em; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; font-weight: normal; font-variant: normal; line-height: 16px; text-transform: none; }
td.mastbackground { background: rgb(0, 32, 97) none repeat; color: rgb(0, 0, 0); }
td.maststripe { color: rgb(253, 221, 136); background-color: rgb(253, 221, 136); }
.sectionhead { margin: 0pt; font-size: 19px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: rgb(0, 0, 0); text-align: left; white-space: normal; text-indent: 0px; vertical-align: top; }
.sectionh2 { margin: 0pt; background: rgb(241, 241, 241) none repeat; font-size: 19px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: rgb(0, 0, 0); text-align: left; white-space: normal; text-indent: 0px; vertical-align: top; }
.subhead { margin: 0pt; padding: 0.25em 0pt 0.25em 0.1em; background: rgb(241, 241, 241) none repeat; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: rgb(0, 0, 0); text-align: left; white-space: normal; text-indent: 0px; vertical-align: top; }
td.return { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(223, 226, 233) none repeat; color: rgb(0, 0, 0); font-weight: bold; font-size: 14px; text-align: center; border-collapse: collapse; }
td.backtotop { border: 1px solid rgb(204, 204, 204); background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; border-collapse: collapse; }
td.credit-title { padding: 2px 6px 0pt 0pt; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: bold; text-align: right; }
td.credit-people { padding: 2px 0pt 0pt; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; text-align: left; }
td.Adminofficers-title { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
td.Adminaddress-title { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
p.ContactChair { color: rgb(0, 0, 0); font-weight: bold; font-size: 12px; text-align: left; }
p.DeptAddress { margin: 0pt; padding: 1em; background: rgb(255, 250, 236) none repeat; }
table.eecsaddresses { width: 100%; }
td.eeaddress-text { border: 1px solid rgb(186, 192, 203); padding: 4px 4px 4px 10px; background-image: url('gradient.blue-wide.jpg'); background-repeat: no-repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.csaddress-text { border: 1px solid rgb(186, 192, 203); padding: 4px 4px 4px 10px; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.cshome-photo { border: 0pt none ; margin: 0pt; border-collapse: collapse; }
td.cshome-address { background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; }
p.cshome-street { margin: 0pt; padding: 0pt 0.25em 0pt 0pt; font-weight: bold; }
p.cshome-phone { margin: 0pt; padding: 0pt 0.25em 0pt 0pt; font-weight: normal; }
td.cshome-links { margin: 0pt; background-image: url('gradient.blue-wide.jpg'); background-repeat: no-repeat; font-weight: bold; line-height: 1.5; }
td.cshome-hours { padding: 10px 5px 2.5px; font-size: 14px; font-weight: normal; text-align: left; }
ul.cshomelink, ul.cshomelink li { list-style-type: square; list-style-image: url('arrow.gif'); list-style-position: outside; }
ul.spaced li { margin: 0.5em 0pt 0pt; padding-bottom: 0.25em; }
ol.spaced li { margin: 0.5em 0pt 0pt; padding-bottom: 0.25em; }
ol.spaces li { margin: 0.5em 0pt 0pt; list-style-type: decimal; list-style-image: none; list-style-position: outside; padding-bottom: 0.25em; }
td.cshome-contentleft { padding: 0pt 0pt 1em; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.cshome-contentright { padding: 0pt 0pt 1em; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.eehome-photo { border: 0pt none ; border-collapse: collapse; }
td.eehome-address { background-image: url('gradient.blue-wide.jpg'); background-repeat: no-repeat; }
p.eehome-street { padding: 0pt 0.25em 0pt 0pt; font-weight: bold; }
p.eehome-phone { padding: 0pt 0.25em 0pt 0pt; font-weight: normal; }
td.eehome-links { margin: 0pt; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; font-weight: bold; line-height: 1.5; }
td.eehome-hours { padding: 10px 5px 2.5px; font-weight: normal; font-size: 14px; text-align: left; }
ul.eehomelink, ul.eehomelink li { list-style-type: square; list-style-image: url('arrow.gif'); list-style-position: outside; }
td.eehome-contentleft { padding: 0pt 0pt 1em; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.eehome-contentright { padding: 0pt 0pt 1em; background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.submenu-title { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
td.submenu-nolinetitle { margin: 1em 0.25em 1em 0em; padding: 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
table.boxindex, td.boxindex { border: 1px solid rgb(204, 204, 204); padding: 1em; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; }
td.subindex { border: 1px solid rgb(204, 204, 204); background: rgb(241, 241, 241) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; font-size: 14px; text-align: center; }
td.subindex-small { border: 1px solid rgb(204, 204, 204); background: rgb(241, 241, 241) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; font-size: 12px; text-align: center; }
td.subindex-left { border: 1px solid rgb(204, 204, 204); background: rgb(254, 229, 160) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; font-size: 14px; text-align: left; }
td.degree-index { border: 1px solid rgb(204, 204, 204); background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; font-size: 14px; text-align: center; }
td.submenu1 { border: 1px solid rgb(204, 204, 204); background: rgb(223, 226, 233) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: normal; text-align: center; }
td.degree-submenu1 { border: 1px solid rgb(204, 204, 204); background: rgb(223, 226, 233) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: normal; text-align: center; }
td.degree-submenu2 { border: 1px solid rgb(204, 204, 204); padding: 5px; background: rgb(246, 247, 249) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: normal; text-align: center; }
td.hotlines-bold { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(254, 229, 160) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; }
td.hotlines { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(254, 229, 160) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: normal; }
td.hotlines-nonemerg { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.emergwebsites { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(230, 230, 230) none repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.emergwebsites-bold { border: 1px solid rgb(204, 204, 204); padding: 0.25em 0.5em; background: rgb(230, 230, 230) none repeat; color: rgb(0, 0, 0); font-weight: bold; border-collapse: collapse; }
td.facaward-index { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 10px 20px 5px 0pt; color: rgb(0, 0, 0); background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; border-collapse: collapse; }
ul.facaward-list li { margin: 0pt; padding: 0pt; list-style-type: disc; list-style-image: none; list-style-position: outside; font-weight: bold; }
td.facaward-subindex { border: 1px solid rgb(204, 204, 204); background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; text-align: center; }
td.facaward-title { background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: bold; }
td.facaward-text { background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.facaward-other { border: 1px solid rgb(204, 204, 204); background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; }
td.facaward-return { border: 1px solid rgb(204, 204, 204); padding: 0.3em; background: rgb(254, 229, 160) none repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; text-align: center; }
td.menumore { border: 1px solid rgb(204, 204, 204); padding: 3px 1px; background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.menumore-ee { border: 1px solid rgb(204, 204, 204); padding: 3px 1px; background: rgb(210, 214, 223) none repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.menumore-cs { border: 1px solid rgb(204, 204, 204); padding: 3px 1px; background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); font-weight: normal; border-collapse: collapse; }
td.researchareas-title { margin: 1em 0.25em 1em 0em; padding: 0pt 0pt 0pt 2em; font-size: 16px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
div.researchareas ul, div.researchareas ul li { margin: 0pt 0pt 0.25em 1.75em; padding: 0pt; list-style-type: disc; font-size: 14px; }
p.otherresearch { margin: 0pt; padding: 0pt 0pt 0pt 2em; font-size: 14px; font-weight: normal; }
table.resguide, td.resguide { padding-left: 1em; }
table.resguideindex, td.resguideindex { border: 1px solid rgb(204, 204, 204); padding: 1em; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; color: rgb(0, 0, 0); border-collapse: collapse; font-weight: bold; }
table.resguidestaff, td.resguidestaff { border: 1px solid rgb(204, 204, 204); padding: 1em; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; color: rgb(0, 0, 0); border-collapse: collapse; line-height: 1.5em; font-weight: bold; }
ul.resguidestaff { margin-top: 0.2em; }
ul.resguidestaff li { margin: -0.25em; }
td.mapcontents { background: rgb(255, 250, 236) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.parkingblurb { background: rgb(230, 230, 230) none repeat; font-weight: normal; }
td.reserve-cory { border: 1px solid rgb(204, 204, 204); padding: 5px; background: rgb(210, 214, 223) none repeat; color: rgb(0, 0, 0); font-weight: bold; border-collapse: collapse; }
td.reserve-soda { border: 1px solid rgb(204, 204, 204); padding: 5px; background: rgb(255, 242, 198) none repeat; color: rgb(0, 0, 0); font-weight: bold; border-collapse: collapse; }
td.prospugradbox { border: 1px solid rgb(204, 204, 204); margin: 0pt; padding: 0pt; background-color: rgb(255, 249, 227); color: rgb(0, 0, 0); border-collapse: collapse; }
td.studentinfo-ugradtitle { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
td.studentinfo-ugraditems { padding: 0.5em; background-image: url('gradient.blue-wide.jpg'); background-repeat: no-repeat; }
td.studentinfo-gradtitle { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
td.studentinfo-graditems { padding: 0.5em; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; }
p.csa { margin: 0pt 0pt 0pt -0.25em; padding: 0pt; color: rgb(0, 0, 0); font-size: 18px; font-weight: bold; text-align: center; }
table.recruit { padding: 1em; color: rgb(0, 0, 0); }
td.acadpers-facsearch { border: 1px solid rgb(204, 204, 204); margin: 1em; padding: 0.5em 1em; background-image: url('gradient.yellow-wide.jpg'); background-repeat: no-repeat; font-size: 16px; font-weight: bold; text-align: center; border-collapse: collapse; }
td.acadpers-affiliated { border: 1px solid rgb(204, 204, 204); margin: 1em; padding: 0.5em 1em; font-size: 16px; font-weight: bold; background-image: url('gradient.blue-wide.jpg'); background-repeat: no-repeat; text-align: center; border-collapse: collapse; }
td.acadpers-affilsearch { border: 1px solid rgb(204, 204, 204); margin: 1em; padding: 0.5em 1em; background: rgb(230, 230, 230) none repeat; font-size: 16px; font-weight: bold; text-align: center; border-collapse: collapse; }
td.gradaffairs-opening { padding: 10px 5px 2.5px 4px; font-weight: normal; font-size: 14px; text-align: left; }
td.white { background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.white2 { background: rgb(255, 255, 255) none repeat; color: rgb(0, 0, 0); font-weight: bold; }
td.smletter { background: rgb(255, 255, 255) none repeat; font-size: 12px; font-weight: bold; }
th.white { background: rgb(255, 255, 255) none repeat; font-weight: bold; }
th.lftwhite { background: rgb(255, 255, 255) none repeat; font-weight: bold; text-align: left; }
td.palegray { background: rgb(230, 230, 230) none repeat; font-weight: normal; }
td.palegray2 { background: rgb(230, 230, 230) none repeat; font-weight: bold; }
td.palegray3 { background: rgb(230, 230, 230) none repeat; font-weight: normal; }
td.gray { background: rgb(204, 204, 204) none repeat; font-size: 12px; font-weight: bold; }
th.gray { background: rgb(204, 204, 204) none repeat; font-weight: bold; }
td.deepgray { background: rgb(188, 186, 199) none repeat; font-size: 12px; font-weight: bold; }
td.grayh2 { background: rgb(204, 204, 204) none repeat; font-size: 18px; font-weight: bold; text-align: center; }
td.graylh2 { background: rgb(230, 230, 230) none repeat; font-size: 18px; font-weight: bold; text-align: left; }
td.yellowlh2 { background: rgb(253, 221, 136) none repeat; font-size: 18px; font-weight: bold; text-align: left; }
td.deepyellow { background: rgb(255, 204, 102) none repeat; }
th.deepyellow { background: rgb(255, 204, 102) none repeat; font-size: 14px; font-weight: bold; }
td.paleyellow { background: rgb(255, 248, 229) none repeat; font-weight: normal; }
td.paleyellow2 { background: rgb(255, 248, 229) none repeat; font-weight: bold; }
td.graybutton { background: rgb(204, 204, 204) none repeat; font-weight: bold; text-align: center; }
td.graybutton2 { background: rgb(204, 204, 204) none repeat; font-weight: bold; text-align: left; }
td.palegraybutton { background: rgb(230, 230, 230) none repeat; font-weight: bold; text-align: center; }
td.palegraybutton2 { background: rgb(230, 230, 230) none repeat; font-weight: normal; text-align: center; }
td.ctrgraybutton { background: rgb(230, 230, 230) none repeat; font-size: 12px; font-weight: normal; text-align: center; }
td.smgraybutton { background: rgb(204, 204, 204) none repeat; font-size: 12px; font-weight: bold; text-align: center; }
td.smpalegraybutton { background: rgb(230, 230, 230) none repeat; font-size: 12px; font-weight: bold; text-align: center; }
td.grayindex { background: rgb(230, 230, 230) none repeat; color: rgb(0, 0, 0); font-weight: bold; }
td.grayindex2 { background: rgb(230, 230, 230) none repeat; color: rgb(0, 0, 0); font-weight: normal; }
td.EEbackground { background: rgb(0, 32, 97) none repeat; color: rgb(102, 153, 255); }
p.sidebarEE { margin: 0pt; padding: 0pt; text-align: center; }
p.sidebarEE a { background: rgb(0, 32, 97) none repeat; color: rgb(102, 153, 255); font-weight: bold; text-decoration: none; }
p.sidebarEE a:hover { color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(0, 32, 97); text-decoration: none; }
p.sidebarEE a:visited { text-decoration: none; color: rgb(102, 153, 255); background-color: rgb(0, 32, 97); }
td.CSbackground { background: rgb(0, 32, 97) none repeat; color: rgb(249, 187, 11); }
p.sidebarCS { margin: 0pt; padding: 0pt; text-align: center; }
p.sidebarCS a { margin: 0px; padding: 0px; color: rgb(249, 187, 11); font-weight: bold; background-color: rgb(0, 32, 97); text-decoration: none; }
p.sidebarCS a:hover { margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(0, 32, 97); text-decoration: none; }
p.sidebarCS a:visited { text-decoration: none; color: rgb(249, 187, 11); background-color: rgb(0, 32, 97); }
.topnavhead { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; font-weight: bold; font-variant: normal; line-height: normal; text-transform: none; color: rgb(0, 0, 0); letter-spacing: normal; white-space: nowrap; }
.topnavtext { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-style: normal; line-height: 16px; font-weight: normal; font-variant: normal; text-transform: none; color: rgb(0, 0, 0); vertical-align: top; }
.sidesearch { margin: 0.5em 0pt 0pt; }
.topsearch { margin: 0pt; }
.submit { font-size: 10px; }
#footer hr { color: rgb(253, 221, 136); background-color: rgb(253, 221, 136); height: 3px; }
#footer td, #footer td a { font-size: 12px; }
#footer .noBorder { border: 0pt none ; }

/* ::::: http://www.eecs.berkeley.edu/Includes/eecsPage.css ::::: */

#content { font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content dl, dt { padding-left: 0.5em; }
#content p { margin: 0.5em 1em 1em 1.5em; }
#content p.big { margin: 0pt 0.25em 1em 5px; padding: 0pt 0pt 0pt 5px; font-size: 18px; font-weight: bold; }
#content p.modified { text-align: center; font-size: 6pt; }
#content ul.indexlist li { margin: 0pt; list-style-type: disc; list-style-image: none; list-style-position: outside; font-weight: bold; }
#content p.prospugrad-list { margin: 0.5em 0pt; padding: 0pt 0pt 0pt 10px; font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; line-height: 1.5; }
#content ul.indexlist2 li { margin: 0.5em 0pt 0pt; list-style-type: square; list-style-image: none; list-style-position: outside; }
#content ul.indexlist3 li { margin: 0.5em 0pt 0pt 1.75em; list-style-type: square; list-style-image: none; list-style-position: outside; }
#content ul.indexlist4 li { margin: 0pt 0pt 0pt 1.75em; list-style-type: disc; list-style-image: none; list-style-position: outside; }
#content ul.indexlist5 li { margin: 0.5em 0pt 0pt; list-style-type: square; list-style-image: none; list-style-position: outside; padding-bottom: 0.25em; }
#content ul.indexlist6 li { margin: 0.5em 0pt 0pt; list-style-type: disc; list-style-image: none; list-style-position: outside; padding-bottom: 0.25em; }
#content ul.index li { margin: 0pt; padding: 0pt 0pt 0.25em; list-style-type: disc; list-style-image: none; list-style-position: outside; }
#content ol.indexlist1 li { margin: 0.5em 0pt 0pt; padding-bottom: 0.25em; }
#content h1 { border-bottom: 4px solid rgb(253, 221, 136); padding: 0.25em; font-size: 22px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h1 a { padding: 0.25em 0.25em 0.25em 0pt; font-size: 22px; margin-left: 5px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h2 { border-bottom: 2px solid rgb(204, 204, 204); margin: 2em 0.25em 1em 5px; padding: 5px 0pt 0pt 5px; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h2 a { margin: 2em 0.25em 1em 0pt; padding: 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h2.alt { margin: 1em 0.25em 1em 5px; padding: 0pt 0pt 0pt 5px; }
#content h2.top { margin: 0pt 0.25em 1em 5px; padding: 0pt 0pt 0pt 5px; }
#content h3 { margin: 1.5em 0.25em 0pt 5px; font-size: 16px; font-weight: bold; padding-left: 0.5em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h3.alt { margin: 0pt 0.25em 0.25em 0pt; font-size: 14px; }
#content h4 { margin: 0.6em 0.25em 0.25em 5px; padding: 0pt; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h4 a { margin: 0pt; padding: 0pt; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h5 { margin: 0.6em 0.25em 0.25em 5px; font-size: 12px; padding-left: 0pt; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content h5 a { margin: 0pt; padding: 0pt; font-size: 12px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#content table th { font-size: 15px; }
#content .hidden { overflow: hidden; position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; }
#content .form { line-height: 2em; font-size: 14px; }
#content .form .label { text-align: right; }
#content .submitForm { padding: 0.5em 0.5em 0.5em 0pt; margin-top: 0.5em; margin-left: 1em; }
#content p.important { border-top: 2px dotted red; border-bottom: 2px dotted red; margin: 3em 2em; padding: 1em; font-size: 15px; }
#content pre { font-size: 12px; }
#content #loginStatus { border-right: 5px solid rgb(204, 204, 204); padding: 0.5em; text-align: right; font-size: 10px; margin-top: -12px; }
#facultypage .hidden { overflow: hidden; position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#facultypage h1 { margin: 0pt; padding: 0.25em 0pt 0.5em; font-size: 36px; font-family: Geneva,Arial,Helvetica,sans-serif; font-weight: bold; }
#facultypage h2 { margin: 0pt; padding: 0pt 0pt 0.75em; font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 24px; font-weight: bold; font-style: italic; }
#facultypage h3 { margin: 0pt; padding: 0.25em 0pt 0pt; font-size: 16px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#facultypage h4 { margin: 0pt; padding: 0.25em 0pt 0pt; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#facultypage p { margin: 0pt; padding: 0.25em 1em 0.5em; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#facultypage ul, #facultypage table td, #facultypage table th { margin: 0pt; padding: 0.25em 0.5em 0.5em 1.5em; list-style-type: none; list-style-image: none; list-style-position: outside; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#facultypage ul li { margin: 0pt; padding: 0pt 0pt 0.25em 0em; list-style-type: disc; list-style-image: none; list-style-position: outside; }
#facultypage ul.tight li { margin: 0pt; padding: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#layout h1 { border-bottom: 4px solid rgb(253, 221, 136); margin: 0.25em 0.25em 0.25em -0.75em; font-size: 22px; padding-bottom: 0em; }
#layout h2 { border-bottom: 2px solid rgb(204, 204, 204); margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
#layout h2 a { margin: 1em 0.25em 1em 0em; font-size: 18px; font-weight: bold; }
#layout h3, #layout h3 a { margin: 0.5em 0.25em 0.5em 0pt; font-size: 16px; font-weight: bold; }
#directory td { border: medium none ; white-space: nowrap; font-size: 12px; }
#directory th { border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(0, 0, 0); border-width: medium medium 1px; }
#directory tr.odd td { background-color: rgb(238, 238, 238); }
#directory tr.anchor td { background-color: rgb(255, 204, 102); }
#pageMenu { padding: 0pt; margin-left: 5px; }
#pageMenu p { margin: 0.5em 0pt; padding-left: 5px; }
#pageMenu p a { margin: 0pt; padding: 0pt; }
#pageMenu blockquote { margin: 0.5em 0pt 0.5em 0.5em; padding: 0pt 0pt 0pt 1em; }
#pageMenu blockquote a { margin: 0.5em 0pt; padding: 0pt; }
#pageMenu ul, #pageMenu table td, #pageMenu table th { margin-left: 2.5em; padding-left: 5px; }
#pageMenu ul, #pageMenu ul li { font-size: 14px; }
#pageMenu h3 { margin: 1em 0pt -0.5em; padding: 5px; font-size: 16px; font-weight: bold; }
#pageMenu h4 { margin: 1em 0pt -0.5em; }
#pageCommittees { margin: 0pt; padding: 0pt; }
#pageCommittees p { margin: 0.5em 0pt; padding-left: 10px; }
#pageCommittees p a { margin: 0pt; padding: 0pt; }
#pageCommittees blockquote { margin: 0.5em 0pt 0.5em 0.5em; padding: 0pt 0pt 0pt 1em; }
#pageCommittees blockquote a { margin: 0.5em 0pt; padding: 0pt; }
#pageCommittees ul, #pageCommittees table td, #pageCommittees table th { margin-left: 3em; padding-left: 8px; }
#pageCommittees ul ul { margin: 0.5em 0pt 0.5em 1.5em; }
#pageCommittees h1 { border: 4px solid rgb(253, 221, 136); padding: 0.25em; font-size: 22px; font-family: Geneva,Arial,Helvetica,sans-serif; margin-top: 3em; }
#pageCommittes h2 { border-bottom: 2px solid rgb(204, 204, 204); margin: 1.4em 0.25em 1em 0pt; padding: 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageCommittees h2 a { margin: 1.4em 0.25em 1em 0pt; padding: 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageCommittees h3 { margin: 1.6em 0.25em 0pt 5px; font-size: 16px; font-weight: bold; padding-left: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide { margin: 0pt; padding: 0pt; }
#pageResguide p { margin: 0.5em 0pt; padding-left: 10px; }
#pageResguide p a { margin: 0pt; padding: 0pt; }
#pageResguide blockquote { margin: 0.5em 0pt 0.5em 0.5em; padding: 0pt 0pt 0pt 1em; }
#pageResguide blockquote a { margin: 0.5em 0pt; padding: 0pt; }
#pageResguide ul, #pageResguide table td, #pageResguide table th { margin-left: 2.5em; padding-left: 8px; }
#pageResguide ul ul { margin: 0.5em 0pt 0.5em 1.5em; }
#pageResguide h2 { border-bottom: 2px solid rgb(204, 204, 204); margin: 2em 0.25em 1em 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; padding-top: 1em; }
#pageResguide h2 a { margin: 2em 0.25em 1em 0pt; padding: 0pt; font-size: 18px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide h3 { margin: 1.6em 0.25em 0pt 5px; font-size: 16px; font-weight: bold; padding-left: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide h3 a { margin: 1.6em 0.25em 0pt 0pt; padding: 0pt; font-size: 16px; font-weight: bold; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide h4 { margin: 0.6em 0.25em 0.25em 8px; font-size: 14px; padding-left: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide h4 a { margin: 0.6em 0.25em 0.25em 0pt; padding: 0pt; font-size: 14px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#pageResguide ul.spaced li { margin: 0pt; list-style-type: disc; list-style-image: none; list-style-position: outside; padding-bottom: 0.5em; }
#noline { margin: 0pt; padding: 0pt; font-size: 14px; }
#noline h1 { border-bottom: medium none; margin: 0.25em 0.25em 1em -0.75em; padding: 0.25em; font-size: 22px; font-family: Geneva,Arial,Helvetica,sans-serif; }
#noline h2 { border-bottom: medium none; margin: 1.4em 0.25em 1em 5px; font-size: 18px; font-weight: bold; padding-left: 0.25em; padding-bottom: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#noline h2 a { border-bottom: medium none; margin: 11.4em 0.25em 1em 0pt; font-size: 18px; font-weight: bold; padding-left: 0pt; padding-bottom: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#spaced { margin: 0pt; padding: 0pt; font-size: 14px; }
#spaced p { margin: 0.5em 0em 1em; font-family: Geneva,Arial,Helvetica,sans-serif; font-weight: normal; font-size: 14px; }
#spaced ul, #spaced ol, #spaced table td, #spaced table th { margin: 0.5em 0.5em 0.75em; padding: 0pt; }
#spaced ul ul { margin: 0.5em 0.25em 0.5em 0.5em; }
#spaced ol ol { margin: 0.5em 0.25em 0.5em 0.5em; }
#highlight { background-color: rgb(255, 242, 198); }
#highlight h2 { border-bottom: medium none; margin: 1.4em 0.25em 1em 5px; font-size: 18px; font-weight: bold; padding-left: 0.25em; padding-bottom: 0.25em; padding-top: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#highlight h2 a { border-bottom: medium none; margin: 11.4em 0.25em 1em 0pt; font-size: 18px; font-weight: bold; padding-left: 0pt; padding-bottom: 0.25em; padding-top: 0.25em; font-family: Geneva,Arial,Helvetica,sans-serif; }
#staff { margin: 0pt; padding: 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(0, 0, 204); }
#staff a:active { font-size: 10pt; font-style: normal; text-decoration: none; color: rgb(0, 153, 204); }
#staff a:hover { text-decoration: none; background-color: rgb(241, 222, 201); }
#staff a:link { font-size: 10pt; font-style: normal; text-decoration: none; color: rgb(0, 0, 255); }
#staff a:visited { font-size: 10pt; text-decoration: none; color: rgb(174, 52, 188); }
#staff p { font-size: 10pt; }
#staff p.address { font-size: 10pt; text-align: center; }
#staff p.mailing { font-size: 10pt; }
#staff p.mailing:first-line { font-size: 10pt; font-weight: bold; }
#staff p.links { font-size: 10pt; }
#staff p.links:first-line { font-size: 10pt; font-weight: bold; }
#staff p.attribution { font-size: 8pt; text-align: center; }
#staff p.title { font-weight: bold; }
#staff p.title-center { font-weight: bold; text-align: center; }
#staff table {  }
#staff h1 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 24pt; padding-bottom: 0.25em; }
#staff h2 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em 0em; font-size: 18pt; padding-bottom: 0.25em; text-align: center; }
#staff h2.center { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 18pt; padding-bottom: 0.25em; text-align: center; }
#staff h3 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 16pt; padding-bottom: 0.25em; }
#staff h4 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 14pt; padding-bottom: 0.25em; }
#staff h5 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 12pt; padding-bottom: 0.25em; }
#staff h6 { border-bottom: 0pt none; margin: 0.25em 0.25em 1em -0.75em; font-size: 10pt; padding-bottom: 0.25em; }
#mini { margin: 20px; padding: 0pt 20px; font-size: 14px; }
#mini table { margin-left: 20px; }
#mini h1 { border-bottom: 4px solid rgb(253, 221, 136); margin: 0.25em 0.25em 1em -0.75em; font-size: 22px; padding-bottom: 0.25em; }
#mini p.main { margin: 20px 20px 20px -10px; padding: 0pt; }
#mainpage p { margin: 0px 0px 0px 15px; padding: 0px; font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: normal; color: rgb(0, 0, 0); text-align: left; }

/* ::::: http://www.eecs.berkeley.edu/Pubs/TechRpts/2003/5252.html ::::: */

#content h1, h2, h3 { border: 0pt none ; text-align: center; }
#content h2.withdraw { color: red; }
#content pre { margin: 0.5em 1em 1em 1.5em; }
