
/* ::::: http://www.nabble.com/site4.css ::::: */

body, input, button, textarea, select { font-family: verdana,geneva,helvetica,arial,sans-serif; }
body, table .nabble { margin: 0.8em; font-size: 0.84em; }
code { font-size: 1.1em; }
.small { font-size: 0.9em; }
.nabble, .nabble table, .nabble .info-message th { color: rgb(0, 0, 0); }
.nabble h1, .nabble .light-black { color: rgb(51, 51, 51); }
.nabble .important { color: rgb(204, 0, 0); }
.nabble th, .nabble .form-label, .nabble .weak-color { color: rgb(102, 102, 102); }
.nabble .separator { color: rgb(218, 218, 218); }
.nabble, .nabble .no-bg-color { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble .shaded-bg-color { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble th, .nabble .dark-bg-color { background: rgb(221, 221, 221) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble .highlight { background: rgb(255, 255, 102) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble .error-message, .nabble .info-message, .nabble .light-highlight { background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble .info-message th, .nabble .dark-highlight { background: rgb(255, 204, 102) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.nabble .top-shadow { background-image: url('topshadow.png'); background-repeat: repeat-x; }
.nabble table, .nabble li, .nabble div, .nabble .medium-border-color { border-color: rgb(204, 204, 204); }
.nabble td, .nabble .light-border-color { border-color: rgb(238, 238, 238); }
.nabble .dark-border-color { border-color: rgb(102, 102, 102); }
.nabble .error-message { border-color: rgb(204, 51, 0); }
.nabble .info-message { border-color: rgb(255, 204, 51); }
.nabble p.first-para { margin-top: 0pt; }
.nabble a, .nabble table, .nabble input, .nabble textarea, .nabble select { font-size: 1em; }
.nabble option { white-space: pre; }
.nabble h1 { font-size: 1.8em; font-weight: normal; margin-top: 0.4em; margin-bottom: 0.5em; }
.nabble h1 a:link, .nabble h1 a:visited { text-decoration: none; font-weight: bold; }
.nabble h2 { padding: 0.3em 0pt; font-size: 1.3em; }
.nabble .smaller { font-size: 0.9em; font-weight: normal; }
.nabble .top-bar { vertical-align: top; font-size: 0.9em; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 0.4em; height: 1.6em; }
.nabble .header { border-bottom-width: 2px; border-bottom-style: solid; padding-bottom: 0.5em; }
.nabble .header h1 { float: left; margin-top: 0.3em; }
.nabble .search-box { text-align: right; padding-top: 1em; }
.nabble .top-right-link { font-weight: bold; }
.nabble .footer-table { width: 100%; border-collapse: collapse; margin-top: 2.9em; }
.nabble .footer-table td { font-size: 0.9em; line-height: 2em; padding-left: 0.5em; padding-right: 0.5em; }
.nabble .footer-right { text-align: right; }
.nabble td.priority, .nabble td.rating, .nabble td.count, .nabble td.frequency, .nabble th.rating, .nabble th.count, .nabble th.frequency { text-align: center; }
.nabble td.text {  }
.nabble td.numeric { text-align: right; }
.nabble td.flag { width: 11px; }
.nabble td.date-time { white-space: nowrap; }
.nabble td.actions { white-space: nowrap; font-size: 0.9em; text-align: center; }
.nabble .message-actions { font-size: 0.9em; margin-top: 0.45em; margin-bottom: 1.8em; }
.nabble .message-actions1 { margin-top: 0pt; margin-bottom: 0pt; }
.nabble .message-actions2 { margin-top: 0.5em; margin-bottom: 0pt; }
.nabble .return-link { padding: 0.4em; width: 25em; border-top-width: 1px; border-top-style: solid; margin-top: 2em; }
.nabble .separator { margin: 0pt 0.2em; display: inline; }
.nabble .editor-table { border-style: solid; border-width: 1px; border-spacing: 0pt; }
.nabble .editor-table td { padding: 0.42em; border-bottom-width: 1px; border-bottom-style: solid; }
.nabble .edit-profile-table { border: 0pt none ; margin: 0.4em 2em; border-spacing: 0pt; }
.nabble .edit-profile-table td { padding: 0.4em; }
.nabble .instructional-message { padding: 0.58em; }
.nabble form { margin: 0pt; }
.nabble .form-label { font-weight: bold; text-align: right; font-size: 0.9em; }
.nabble .reqd-info { font-size: 0.9em; }
.nabble .form-label .reqd-info { font-size: 1em; }
.nabble td.toolbar { border-bottom: 0pt none; padding-bottom: 0pt; }
.nabble td.toolbar input, .nabble td.toolbar button { font-size: 0.9em; }
.nabble .html-buttons input, .nabble .html-buttons button { padding: 0pt; overflow: visible; height: 2.18em; }
.nabble .smileys table { border-style: solid; border-width: 1px; border-collapse: collapse; }
.nabble .smileys caption { padding: 0.5em; text-align: left; font-weight: bold; font-size: 0.9em; }
.nabble .smileys td { border-style: solid; border-width: 1px; text-align: center; }
.nabble .content-description { margin: 1em; }
.nabble .content-description p, .nabble .content-description li { line-height: 1.67em; }
.nabble .content-description h2 { margin: 1.1em 0pt 0pt; font-weight: bold; font-size: 1.17em; }
.nabble blockquote.quote { margin: 1.4em 1.8em; border-left-width: 2px; border-left-style: solid; font-size: 0.9em; }
.nabble blockquote.quote blockquote.quote { font-size: 1em; }
.nabble div.quote { padding: 0pt 1em; border-top-width: 1px; border-top-style: solid; display: inline-block; }
.nabble blockquote.quote div.quote-author { padding: 0.5em 0pt; }
.nabble blockquote.quote div.quote-message { margin: 0.5em 0pt; }
div.shrinkable-quote { overflow: hidden; }
div.shrink-quote a { font-size: 80%; text-decoration: none; }
div.quote div.shrink-quote a { cursor: pointer; font-size: 90%; }
.nabble .list-table { border-style: solid; border-width: 1px; border-collapse: collapse; width: 100%; }
.nabble .list-table th { padding: 0.4em; text-align: left; border-bottom-width: 2px; border-bottom-style: solid; font-weight: bold; }
.nabble .list-table th.frequency, .list-table th.count { text-align: center; }
.nabble .list-table td { padding: 0.3em 0.4em; border-bottom-width: 1px; border-bottom-style: solid; }
.nabble .list-table table td { border: medium none ; padding: 0pt; }
.nabble .message-table { border-style: solid; border-width: 2px; margin: 0.8em 0pt; width: 42em; }
.nabble .message-row { border-style: solid; border-width: 2px; padding: 5px; }
.nabble div.error-message { border-style: solid; border-width: 1px; margin: 0.1em; padding: 0.1em; text-align: center; }
.nabble ul.toptab { list-style-type: none; padding-left: 0pt; padding-bottom: 0pt; margin-left: 0pt; margin-bottom: 0.4em; white-space: nowrap; }
.nabble ul.toptab li { border-style: solid; border-width: 1px; padding: 0.4em 1.25em; margin-right: 0.5em; display: inline; }
.nabble ul.toptab li.selected { border-top-width: 3px; }
.nabble ul.toptab li a { text-decoration: none; }
.nabble div.top-border { border-style: solid; border-width: 1px; }
.nabble .matching-forums-table { width: 20em; border-collapse: collapse; }
.nabble .matching-forums-table td { border-style: solid; border-width: 1px; padding: 0.3em; }
.nabble .matching-forums-table td.heading { border-width: 0pt 0pt 1px; font-weight: bold; }
.nabble .matching-forums-table td ul.level0 { padding-left: 2em; margin-left: 0pt; }
.nabble .search-result-line1 { font-size: 1.25em; }
.nabble .search-result-line3 { font-size: 0.75em; }
.nabble noscript table { width: 100%; }
.nabble noscript td { border-style: solid; border-width: 1px; text-align: center; }
.inline { display: inline; }
.nabble .ad { margin-top: 2em; }
.nabble .border1 { border-style: solid; border-width: 1px; }
.nabble .signature { border-top-width: 1px; border-top-style: solid; margin-top: 2em; }
span.dropdown { cursor: pointer; padding-right: 0.5em; }
span.dropdown-item { color: rgb(0, 0, 238); }
span.dropdown table { border: 1px solid rgb(204, 204, 204); padding: 0.1em 0.2em; background: rgb(238, 238, 238) none repeat scroll 0% 0%; position: absolute; display: none; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; z-index: 1000; border-collapse: collapse; }
span.dropdown table td { padding: 0.2em; font-size: 90%; white-space: nowrap; }
span.dropdown table td a { text-decoration: none; }
tr.dropdown-hover { background: rgb(221, 221, 221) none repeat scroll 0% 0%; cursor: pointer; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.post-hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
span.post-date { font-size: 85%; color: rgb(106, 106, 106); }
span.post-author { margin: 0pt 0.2em 0pt 0.3em; color: rgb(17, 102, 17); white-space: nowrap; font-size: 100%; }
span.post-subject { overflow: hidden; font-size: 90%; color: rgb(17, 17, 102); white-space: nowrap; padding-right: 0.5em; }
span.post-snippet, a.post-unindent { color: rgb(144, 144, 144); }
.post-border, td.post-border { border-color: rgb(217, 217, 217); }
td.post-row { background-image: url('post-row.gif'); background-repeat: repeat-x; }
td.post-top-left { width: 12px; background-image: url('post-top-left.gif'); background-repeat: no-repeat; }
td.post-bottom-mid { background: transparent url('post-bottom.gif') repeat-x scroll 0% 0%; width: 100%; height: 10px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
td.post-bottom-left { background: transparent url('post-bottom-left.gif') no-repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
td.post-bottom-right { background: transparent url('post-bottom-right.gif') no-repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
span.connect-line { background-image: url('connect-line.gif'); background-repeat: repeat-y; }
span.connect-end { background-image: url('connect-line.gif'); background-repeat: no-repeat; }
td.connect-end { background-image: url('connect-end.gif'); background-repeat: no-repeat; }
td.connect-node { cursor: pointer; background-image: url('connect-node.gif'); background-repeat: no-repeat; }
td.connect-node-closed { background-image: url('connect-node-closed.gif'); background-repeat: no-repeat; }
img.avatar { border-style: solid; border-width: 2px; vertical-align: bottom; }
.nabble a:link { color: rgb(0, 0, 238); }
.nabble a:visited { color: rgb(85, 26, 139); }

/* ::::: null ::::: */

.nabble .chron-dump-table td { padding: 0.8em 0.4em 1.25em 0.8em; border-bottom-width: 1px; border-bottom-style: solid; }
.nabble .chron-dump-table td h2 { font-weight: bold; font-size: 1.2em; display: inline; margin-left: 0pt; margin-right: 0.6em; }
.nabble .chron-dump-table td.current-message { width: 1.7em; padding-top: 1.25em; }
.nabble .chron-dump-table td div.message-details { margin: 0.75em 0pt; }
.nabble .chron-dump-table td div.message-details a { text-decoration: none; }
.nabble .chron-dump-table td div.message-details a:hover { text-decoration: underline; }
