
/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/styles/css/StyleSheet.css ::::: */

body a { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); line-height: 14px; }
body a:visited { color: rgb(153, 0, 0); }
a.subNavLinks { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 51, 102); text-decoration: none; }
a.subNavLinks:visited { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(153, 0, 0); text-decoration: none; }
a.subNavLinks:hover { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 51, 102); text-decoration: underline; }
a.topUnderlineLinks { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(255, 255, 255); text-decoration: none; }
a.topUnderlineLinks:link { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(255, 255, 255); text-decoration: none; }
a.topUnderlineLinks:visited { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(207, 226, 255); text-decoration: none; }
a.topUnderlineLinks:hover { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(207, 226, 255); text-decoration: underline; }
a.dropDownNav { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 51, 102); text-decoration: none; }
a.dropDownNav:link { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 51, 102); text-decoration: none; }
a.dropDownNav:visited { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(153, 0, 0); text-decoration: none; }
a.headTitle { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
a.headTitle:link { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
a.headTitle:visited { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
.headNav { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(255, 255, 255); text-decoration: none; }
.footerGrey { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(153, 153, 153); }
.bodyCopy { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); }
.sectionHeaders { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; line-height: 13px; color: rgb(205, 102, 0); }
.sectionHeaders_plain { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(205, 102, 0); }
.sectionHeadersRed { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(153, 0, 0); line-height: 14px; }
.sectionHeadersMed { font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; color: rgb(205, 102, 0); }
.sectionHeadersLarge { font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; color: rgb(205, 102, 0); }
.bodyCopySmall { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); }
.bodyCopyBlack { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 0, 0); letter-spacing: normal; }
.searchBox { border: 1px solid rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 10px; height: 18px; }
.radiobutton { border: 1px none rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 11px; }
.headTitle2 { padding: 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; }
.lowerNavSelected { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 0, 0); font-weight: bold; }
.subNavSecondColor { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(205, 102, 0); }
.subNav { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 51, 102); text-decoration: none; }
.bodyCopyBlackLarge { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 0, 0); }
.bodyCopyBlackLargeSpaced { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 0, 0); line-height: 14px; }
.headNavBlue { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); text-decoration: none; font-weight: bold; }
.viewArticles { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(255, 255, 255); background-color: rgb(205, 102, 0); width: 85px; }
.searchBoxGrey { border: 1px solid rgb(153, 153, 153); font-family: Arial,Helvetica,sans-serif; font-size: 11px; height: 18px; }
.headNavBlueXLarge { font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(0, 51, 102); text-decoration: none; font-weight: bold; line-height: 16px; }
.addToFileCabinet { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(255, 255, 255); background-color: rgb(205, 102, 0); width: 130px; }
.searchBoxWhite { border: medium none ; font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); height: 18px; }
.searchBoxWhite:disabled { border: medium none ; font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); height: 18px; }
.headNavBlueXLarge2 { font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: rgb(0, 51, 102); text-decoration: none; font-weight: bolder; line-height: 18px; }
.bodyCopySpaced { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); line-height: 19px; }
.bodyCopyBlueSpaced { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); line-height: 14px; }
.bodyCopyBluereg { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); }
.button { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(255, 255, 255); background-color: rgb(205, 102, 0); width: auto; }
.sectionHeadersBlue { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(0, 51, 102); }
.pullDownMenu { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); }
.bodyCopyGrey { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); }
.bodyCopyGreySpaced { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(102, 102, 102); line-height: 14px; }
.bookstd { font-family: Arial,Helvetica,sans-serif; font-size: 11px; line-height: 13px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(0, 153, 204); left: 5px; }
a.snav { color: rgb(0, 51, 102); font-family: Arial,Helvetica,sans-serif; font-size: 11px; text-decoration: none; font-weight: bold; }
a.snav:hover { color: rgb(205, 102, 0); font-family: Arial,Helvetica,sans-serif; font-size: 11px; text-decoration: none; font-weight: bold; }
td.snav { background-color: rgb(255, 255, 255); }
td.snavSelect { background-color: rgb(239, 239, 231); }
td.bodySm { color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica; font-size: 9px; }
.snborder { background-color: rgb(207, 226, 255); }
.pubtd { font-family: Arial,Helvetica,sans-serif; font-size: 11px; line-height: 13px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); left: 5px; }
.pubtd_nb { font-family: Arial,Helvetica,sans-serif; font-size: 11px; line-height: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); left: 5px; }
.tree_tab { font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 51, 102); }
.tree_font { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 51, 102); }
.guidetable { border: 1px solid rgb(207, 226, 255); padding: 5px; }
#accessTable { width: 564px; }
#accessTable td { border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); }
#accessTable td.borderLeft { border-left: 1px solid rgb(0, 0, 0); }
#accessTable td.borderTop { border-top: 1px solid rgb(0, 0, 0); }
#accessTable .sectionTitle { font-weight: bold; background-color: rgb(239, 239, 231); }
#accessTable .blueCell { text-align: center; font-weight: bold; background-color: rgb(0, 131, 182); }
#accessTable .greyCell { text-align: center; font-weight: bold; background-color: rgb(207, 226, 255); }
#accessTable .lblueCell { background-color: rgb(207, 226, 255); }
#accessTable .orangeCell { text-align: center; font-weight: bold; background-color: rgb(205, 102, 0); }
#blueTable { width: 100%; }
#blueTable td { border: 1px solid rgb(207, 226, 255); }
#blueTable .blueCell { background-color: rgb(207, 226, 255); }
#authorouter { border: 1px solid rgb(207, 226, 255); padding: 2px; width: 400px; }
#authorscroll { overflow: hidden; }
#authorscroll .iecontainer { overflow: hidden; float: left; position: absolute; height: 150px; }
#iecontainer { overflow: hidden; float: left; position: absolute; height: 150px; }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu1Container { overflow: hidden; visibility: hidden; z-index: 100; left: 211px; top: 84px; }
#menu1Container, #menu1Content { position: absolute; width: 190px; height: 140px; clip: rect(0pt, 190px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu2Container { overflow: hidden; visibility: hidden; z-index: 100; left: 285px; top: 84px; }
#menu2Container, #menu2Content { position: absolute; width: 120px; height: 110px; clip: rect(0pt, 120px, 110px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu3Container { overflow: hidden; visibility: hidden; z-index: 100; left: 370px; top: 84px; }
#menu3Container, #menu3Content { position: absolute; width: 180px; height: 140px; clip: rect(0pt, 180px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu4Container { overflow: hidden; visibility: hidden; z-index: 100; left: 505px; top: 84px; }
#menu4Container, #menu4Content { position: absolute; width: 120px; height: 130px; clip: rect(0pt, 120px, 130px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu5Container { overflow: hidden; visibility: hidden; z-index: 100; left: 615px; top: 84px; }
#menu5Container, #menu5Content { position: absolute; width: 180px; height: 110px; clip: rect(0pt, 180px, 110px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu6Container { overflow: hidden; visibility: hidden; z-index: 100; left: 317px; top: 84px; }
#menu6Container, #menu6Content { position: absolute; width: 190px; height: 140px; clip: rect(0pt, 190px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu7Container { overflow: hidden; visibility: hidden; z-index: 100; left: 404px; top: 84px; }
#menu7Container, #menu7Content { position: absolute; width: 120px; height: 140px; clip: rect(0pt, 120px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu8Container { overflow: hidden; visibility: hidden; z-index: 100; left: 501px; top: 84px; }
#menu8Container, #menu8Content { position: absolute; width: 180px; height: 140px; clip: rect(0pt, 180px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu9Container { overflow: hidden; visibility: hidden; z-index: 100; left: 647px; top: 84px; }
#menu9Container, #menu9Content { position: absolute; width: 190px; height: 140px; clip: rect(0pt, 190px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu11Container { overflow: hidden; visibility: hidden; z-index: 100; left: 211px; top: 84px; }
#menu11Container, #menu11Content { position: absolute; width: 190px; height: 140px; clip: rect(0pt, 190px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu12Container { overflow: hidden; visibility: hidden; z-index: 100; left: 270px; top: 84px; }
#menu12Container, #menu12Content { position: absolute; width: 120px; height: 110px; clip: rect(0pt, 120px, 110px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu13Container { overflow: hidden; visibility: hidden; z-index: 100; left: 340px; top: 84px; }
#menu13Container, #menu13Content { position: absolute; width: 180px; height: 140px; clip: rect(0pt, 180px, 140px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu14Container { overflow: hidden; visibility: hidden; z-index: 100; left: 470px; top: 84px; }
#menu14Container, #menu14Content { position: absolute; width: 120px; height: 130px; clip: rect(0pt, 120px, 130px, 0pt); }

/* ::::: http://ieeexplore.ieee.org.ejproxy.a-star.edu.sg/search/srchabstract.jsp?arnumber=1565332&isnumber=33215&punumber=10468&k2dockey=1565332@ieeecnfs&query=%28objective+evaluation+%3Cin%3E+metadata%29+%3Cand%3E+%2833215+%3Cin%3E+isnumber%29&pos=0 ::::: */

#menu15Container { overflow: hidden; visibility: hidden; z-index: 100; left: 615px; top: 84px; }
#menu15Container, #menu15Content { position: absolute; width: 180px; height: 110px; clip: rect(0pt, 180px, 110px, 0pt); }
