/*****************************************************************************
 *
 * HW-shared CSS stylesheet for styling data supplements.
 *
 *****************************************************************************/

div#pageid-data-supp div#content-block h2,
div#pageid-data-supp div#content-block h3,
div#pageid-data-supp div#content-block h4 {
	margin-left: 0;
	padding-left: 0;
}
div#pageid-data-supp div#content-block .ds-img-wrap {
	display: block;
	overflow: auto;
}

div#pageid-data-supp div#content-block .table-wrapper {
	border: 1px solid #ddd;
	padding: 1px;
	overflow: auto;
}
div#pageid-data-supp div#content-block .table-wrapper table {
  margin: 0;
  padding: 0;
}
div#pageid-data-supp div#content-block .table-wrapper tr {
	height: auto;
}
div#pageid-data-supp div#content-block .table-wrapper th {
  font-weight: bold;
}
div#pageid-data-supp div#content-block .table-wrapper td {
	font-size: 88%;
	text-align: center;
	height: auto;
}
div#pageid-data-supp div#content-block .table-wrapper table.bordered td {
	margin: 0;
	border: 1px solid black;
}
div#pageid-data-supp div#content-block .table-wrapper table.bordered td p {
	margin: 0; padding: 0;
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-1 td {
	padding: .1em; /*1px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-2 td {
	padding: .2em; /*2px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-3 td {
	padding: .3em; /*2px 3px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-4 td {
	padding: .35em; /*2px 4px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-5 td {
	padding: .4em; /*2px 5px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-6 td {
	padding: .5em; /*3px 6px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-7 td {
	padding: .6em; /*3px 7px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-8 td {
	padding: .7em; /*4px 8px;*/
}
div#pageid-data-supp div#content-block .table-wrapper table.padded-9 td {
	padding: .8em; /*9px;*/
}
