
/* ::::: http://www.sciencedirect.com.ejproxy.a-star.edu.sg/science/page/static/stylesheets/css_gen_v01.css ::::: */

body { margin: 0.4em 0em 0em; }
div, html, img, input, select, table, td, li, .pageText { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; }
.alertMsg, .errMsg { color: rgb(255, 0, 0); font-weight: bold; }
div.msgBox { border: 1px solid rgb(222, 222, 222); padding: 6px 5px; width: 80%; }
div.imgIcon { float: left; color: rgb(255, 0, 0); font-weight: bold; padding-right: 5px; }
div.imgIcon h3 { margin: 0px; padding: 0px; font-size: 1em; }
div.errMsgText, div.alertMsgText { color: rgb(255, 0, 0); font-weight: bold; padding-left: 26px; }
div.confirmMsgText, div.infoMsgText { color: rgb(0, 0, 0); font-weight: bold; padding-left: 26px; }
div.msgText { color: rgb(0, 0, 0); padding-left: 50px; font-weight: normal; }
div.errMsgText a, div.alertMsgText a { color: rgb(255, 0, 0); font-weight: bold; }
div.confirmMsgText a, div.infoMsgText a { color: rgb(0, 0, 0); font-weight: bold; }
div.msgText a { font-weight: normal; }
.pageHeading { margin: 5px 0px 0px 5px; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; font-size: 150%; color: rgb(140, 201, 25); }
.pageHeadingBlack { margin: 5px 0px 0px 5px; font-family: arial,helvetica,sans-serif; font-weight: bold; font-size: 150%; color: Black; }
.pageContent { margin: 5px; }
#sdLoginBox { padding: 0.1em; overflow: hidden; background-color: rgb(221, 221, 221); background-repeat: repeat-x; background-position: left bottom; height: 6.7em; width: 29.5em; font-size: 0.8em; }
#sdLoginBox input { font-size: 0.9em; }
#sdLoginBox div, #sdLoginBox html, #sdLoginBox img, #sdLoginBox input, #sdLoginBox select, #sdLoginBox table, #sdLoginBox td { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; }
#sdLoginBoxFold { overflow: hidden; text-align: right; }
#sdQuickSearch table { font-size: 1em; padding-bottom: 0.3em; }
#sdQuickSearch input { font-size: 1em; }
#sdQuickSearch td { font-family: arial,verdana,helvetica,sans-serif; }
#sdBody { font-size: 75%; font-family: arial,verdana,helvetica,sans-serif; width: 100%; padding-top: 4px; padding-bottom: 4px; }
a.ActionButton { text-decoration: none; }
a.ActionButton:hover, a.ActionButton:visited:hover, #a:link .ActionButton.Active, a:visited .ActionButton.Active { text-decoration: underline; }
.ActionButtonDisabled { text-decoration: none; color: rgb(153, 153, 153); }
a, a:link { text-decoration: none; }
a:hover { text-decoration: underline; }
a.linkclosed:hover, a.linkopen, a.linkopen:link, a.linkopen:visited, a.linkopen:active, span.linkopen { color: white; background-color: rgb(119, 119, 119); text-decoration: none; }
.linknoborder img { border: medium none ; }
.linkdisabled { color: rgb(153, 153, 153); }
input.xpstyle { border: 1px solid rgb(102, 102, 102); }
input.qsinput { height: 1.6em; font-family: arial,verdana,helvetica,sans-serif; }
table.sdMainNav { border-bottom: 0.1em solid black; background-repeat: repeat-x; background-position: left top; height: 2em; margin-top: 0.2em; width: 100%; font-size: 1em; }
td.sdMainNav { background-position: left top; background-repeat: repeat-x; }
.sci_dirNav { background-color: rgb(108, 157, 49); }
.sci_dirNavActive {  }
.blueNav { background-color: rgb(0, 0, 170); }
.blueNavActive { background-color: rgb(186, 211, 243); color: rgb(0, 0, 170); }
.redNav { background-color: rgb(153, 0, 0); }
.redNavActive { background-color: rgb(247, 206, 206); color: rgb(153, 0, 0); }
.greyNav { background-color: rgb(127, 127, 127); }
.greyNavActive { background-color: rgb(230, 230, 230); color: rgb(127, 127, 127); }
.greenNav { background-color: rgb(0, 119, 3); }
.greenNavActive { background-color: rgb(194, 237, 192); color: rgb(0, 119, 3); }
.orangeNav { background-color: rgb(204, 82, 0); }
.orangeNavActive { background-color: rgb(255, 223, 202); color: rgb(204, 82, 0); }
table.sdMainNav a:hover { text-decoration: none; }
table.sdMainNavCenter td { border-left: 0.01em solid white; height: 1.82em; font-size: 1em; }
table.sdMainNavCenter tbody, td, tr, div { font-size: 1em; }
table.sdMainNavCenter { border-right: 0.01em solid white; height: 1.82em; }
table.sdMainNav a, table.sdMainNav a:link, table.sdMainNav a:visited { color: white; font-weight: normal; height: 1.82em; padding-bottom: 0.33em; padding-top: 0.19em; vertical-align: middle; text-decoration: none; }
div.sdMainNavPadding { padding-left: 1em; padding-right: 1em; }
.alphaDivider { position: relative; display: inline; width: 0px; height: 0px; }
.alphaSelect { position: absolute; top: -11px; left: 0px; height: 14px; background-color: rgb(119, 119, 119); }
.libBannerText { font-size: smaller; font-family: Verdana,Arial,Helvetica,sans-serif; }
.sci_dirBtn { background-color: rgb(122, 165, 68); }
.sci_dirBtnHov { color: rgb(255, 255, 255); background-color: rgb(29, 107, 47); }
.blueBtn { background-color: rgb(0, 0, 170); }
.blueBtnHov { color: rgb(0, 0, 170); background-color: rgb(186, 211, 243); }
.greenBtn { background-color: rgb(0, 119, 3); }
.greenBtnHov { color: rgb(0, 119, 3); background-color: rgb(194, 237, 192); }
.greyBtn { background-color: rgb(127, 127, 127); }
.greyBtnHov { color: rgb(127, 127, 127); background-color: rgb(230, 230, 230); }
.redBtn { background-color: rgb(153, 0, 0); }
.redBtnHov { color: rgb(153, 0, 0); background-color: rgb(247, 206, 206); }
.orangeBtn { background-color: rgb(204, 82, 0); }
.orangeBtnHov { color: rgb(204, 82, 0); background-color: rgb(255, 223, 202); }
input.btn { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 0px 1px; overflow: visible; font-weight: bold; color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; vertical-align: middle; cursor: pointer; width: auto; }
input.btnhov { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 0px 1px; overflow: visible; font-weight: bold; font-size: 12px; text-decoration: none; vertical-align: middle; cursor: pointer; width: auto; }
a.articleBtn, a.articleBtn:hover { border: medium none ; margin: 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(153, 153, 153); text-decoration: none; cursor: pointer; }
a.articleBtnActive, a.articleBtnActive:hover { background-color: rgb(122, 165, 68); text-decoration: none; cursor: default; }
a.articleBtn:hover { background-color: rgb(122, 165, 68); }
a.btn, a.btn:hover { border: 1px solid rgb(102, 102, 102); margin: 0px 1px 0px 0px; padding: 1px 5px; font-size: 12px; font-family: arial,verdana,helvetica,sans-serif; height: 1.17em; font-weight: bold; color: rgb(255, 255, 255); vertical-align: middle; text-decoration: none; }
a.sci_dirBtn { background-color: rgb(122, 165, 68); }
a.sci_dirBtn:hover { color: rgb(255, 255, 255); background-color: rgb(29, 107, 47); }
a.blueBtn { background-color: rgb(0, 0, 170); }
a.blueBtn:hover { color: rgb(0, 0, 170); background-color: rgb(186, 211, 243); }
a.greenBtn { background-color: rgb(0, 119, 3); }
a.greenBtn:hover { color: rgb(0, 119, 3); background-color: rgb(194, 237, 192); }
a.greyBtn { background-color: rgb(127, 127, 127); }
a.greyBtn:hover { color: rgb(127, 127, 127); background-color: rgb(230, 230, 230); }
a.redBtn { background-color: rgb(153, 0, 0); }
a.redBtn:hover { color: rgb(153, 0, 0); background-color: rgb(247, 206, 206); }
a.orangeBtn { background-color: rgb(204, 82, 0); }
a.orangeBtn:hover { color: rgb(204, 82, 0); background-color: rgb(255, 223, 202); }
a.noul:hover { text-decoration: none; }
.tableFmBg { border-top: 2px solid rgb(140, 201, 25); border-bottom: 2px solid rgb(140, 201, 25); margin: 0px; padding: 0px; background-color: rgb(239, 239, 239); }
.sci_dirBorder { border-top: 2px solid rgb(140, 201, 25); border-bottom: 2px solid rgb(140, 201, 25); }
.blueBorder { border-top: 2px solid rgb(0, 0, 170); border-bottom: 2px solid rgb(0, 0, 170); }
.greenBorder { border-top: 2px solid rgb(0, 119, 3); border-bottom: 2px solid rgb(0, 119, 3); }
.greyBorder { border-top: 2px solid rgb(127, 127, 127); border-bottom: 2px solid rgb(127, 127, 127); }
.redBorder { border-top: 2px solid rgb(153, 0, 0); border-bottom: 2px solid rgb(153, 0, 0); }
.orangeBorder { border-top: 2px solid rgb(204, 82, 0); border-bottom: 2px solid rgb(204, 82, 0); }
.sci_dirBorderBtm { border-bottom: 2px solid rgb(140, 201, 25); }
.blueBorderBtm { border-bottom: 2px solid rgb(0, 0, 170); }
.greenBorderBtm { border-bottom: 2px solid rgb(0, 119, 3); }
.greyBorderBtm { border-bottom: 2px solid rgb(127, 127, 127); }
.redBorderBtm { border-bottom: 2px solid rgb(153, 0, 0); }
.orangeBorderBtm { border-bottom: 2px solid rgb(204, 82, 0); }
.sci_dirBoxBorder { border: 2px solid rgb(140, 201, 25); }
.blueBoxBorder { border: 2px solid rgb(0, 0, 170); }
.greenBoxBorder { border: 2px solid rgb(0, 119, 3); }
.greyBoxBorder { border: 2px solid rgb(127, 127, 127); }
.redBoxBorder { border: 2px solid rgb(153, 0, 0); }
.orangeBoxBorder { border: 2px solid rgb(204, 82, 0); }
.tableFmBgGray { background-color: rgb(239, 239, 239); font-family: arial,helvetica,sans-serif; font-size: 1em; }
.tableFmBgGrayNoCell { margin: 5px; padding: 5px; background-color: rgb(239, 239, 239); font-family: arial,helvetica,sans-serif; font-size: 1em; }
.tableFmBgPad { background-color: rgb(239, 239, 239); padding-top: 5px; padding-bottom: 5px; margin-top: 5px; margin-bottom: 5px; }
.tableFmCell { padding-left: 10px; margin-left: 10px; padding-top: 3px; padding-bottom: 3px; text-align: right; font-weight: bold; vertical-align: top; }
.tableFmCellTop { padding-top: 0px; text-align: right; font-weight: bold; vertical-align: top; }
.tableFmCellAbove { padding: 5px; text-align: left; font-weight: bold; }
.tableFmCellL { padding-left: 10px; margin-left: 10px; padding-top: 3px; padding-bottom: 3px; text-align: left; font-weight: bold; vertical-align: top; }
.tableFmDivider { margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); height: 2px; width: 100%; }
.redtableFmDivider { margin: 0px; padding: 0px; background-color: rgb(153, 0, 0); height: 2px; width: 100%; }
.SDtxtLarger { font-family: arial,helvetica,sans-serif; font-size: larger; font-weight: bold; }
.SDtxtSmall { font-family: arial,helvetica,sans-serif; font-size: xx-small; color: rgb(0, 0, 0); }
.SDtxtSmallBold { font-size: 0.9em; font-weight: bold; }
.SDtxtNote { font-family: arial,helvetica,sans-serif; font-weight: normal; color: rgb(0, 0, 0); font-size: 1em; }
.SDtxtNoteSmall { font-family: arial,helvetica,sans-serif; font-weight: normal; color: rgb(0, 0, 0); font-size: 10px; }
.SDtxtPgTitleBlack { font-family: arial,helvetica,sans-serif; font-weight: bold; color: rgb(0, 0, 0); font-size: 150%; }
a.errMsg { color: rgb(255, 0, 0); text-decoration: none; }
a.errMsg:hover { text-decoration: underline; }
.boldText { font-weight: bold; }
.sci_dirColor { color: rgb(122, 165, 68); }
.blueColor { color: rgb(0, 0, 170); }
.greenColor { color: rgb(0, 119, 3); }
.greyColor { color: rgb(127, 127, 127); }
.redColor { color: rgb(153, 0, 0); }
.orangeColor { color: rgb(204, 82, 0); }
.tablePlainWhite { padding: 0px; background-color: rgb(255, 255, 255); }
.inputBox { border: 1px solid rgb(102, 102, 102); background-color: rgb(255, 255, 255); vertical-align: top; font-size: 1em; }
a.tabActive, a.tabActive:hover { border: medium none ; margin: 0px 2px 0px 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 1em; text-decoration: none; }
a.tab, a.tab:hover { border: medium none ; margin: 0px 2px 0px 0px; padding: 1px 20px; font-weight: bold; color: rgb(255, 255, 255); font-size: 1em; background-color: rgb(153, 153, 153); text-decoration: none; }
a.sci_dirTabActive, a.sci_dirTabActive:hover { background-color: rgb(122, 165, 68); text-decoration: none; cursor: default; }
a.sci_dirTab:hover { background-color: rgb(122, 165, 68); }
a.blueTabActive, a.blueTabActive:hover { background-color: rgb(0, 0, 170); text-decoration: none; cursor: default; }
a.blueTab:hover { background-color: rgb(0, 0, 170); }
a.greenTabActive, a.greenTabActive:hover { background-color: rgb(0, 119, 3); text-decoration: none; cursor: default; }
a.greenTab:hover { background-color: rgb(0, 119, 3); }
a.greyTabActive, a.greyTabActive:hover { background-color: rgb(127, 127, 127); text-decoration: none; cursor: default; }
a.greyTab:hover { background-color: rgb(127, 127, 127); }
a.redTabActive, a.redTabActive:hover { background-color: rgb(153, 0, 0); text-decoration: none; cursor: default; }
a.redTab:hover { background-color: rgb(153, 0, 0); }
a.orangeTabActive, a.orangeTabActive:hover { background-color: rgb(204, 82, 0); text-decoration: none; cursor: default; }
a.orangeTab:hover { background-color: rgb(204, 82, 0); }
.textBoxMultipleRow { font-family: Arial,Helvetica,sans-serif; background-color: rgb(255, 255, 255); font-size: 1em; }
a.nextPrev { margin: 0px 10px; width: 1%; color: rgb(255, 255, 255); font-size: 1em; text-decoration: none; }
a.nextPrev:hover { margin: 0px 10px; width: 1%; color: rgb(255, 255, 255); font-size: 1em; text-decoration: underline; }
input.nextPrev { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 238); font-size: 1em; text-decoration: none; vertical-align: middle; background-color: transparent; width: auto; }
input.nextPrevHov { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 238); font-size: 1em; text-decoration: underline; vertical-align: middle; background-color: transparent; width: auto; }
input.listAction { border: medium none ; margin: 0px 5px; padding: 0px 1px; overflow: visible; color: rgb(0, 0, 0); font-size: 0.95em; text-decoration: none; cursor: pointer; vertical-align: middle; background-color: transparent; width: auto; }
.smCaps { font-variant: small-caps; }
.nowrap { white-space: nowrap; }
span.hit { color: rgb(255, 0, 0); font-weight: bold; }
span.bf { font-weight: bold; }
span.it { font-style: italic; }
span.monospace { font-family: courier; }
span.sans-serif { font-family: sans-serif; }
span.underline { text-decoration: underline; }
span.pit { font-family: arial,verdana,helvetica,sans-serif; color: rgb(115, 115, 115); font-size: 0.9em; }
.charImg { border: medium none ; vertical-align: baseline; }
span.cross-out { text-decoration: line-through; }
.h1 { font-size: 2em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h2 { font-size: 1.3em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h3 { font-size: 1.2em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h4 { font-size: 1.1em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.h5 { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; font-weight: bold; }
.ImageScroller { overflow: auto; width: 100%; }
.ImageScrollerPurchHist { overflow: auto; width: 455px; }
.ImageScrollerPurchCurr { overflow: auto; width: 415px; }
div.auto_complete { border: 1px solid rgb(136, 136, 136); margin: 0px; padding: 0px; position: absolute; width: 250px; background-color: white; z-index: 100; }
div.auto_complete ul { margin: 0px; padding: 0px; list-style-type: none; }
div.auto_complete ul li.selected { background-color: blue; color: white; }
div.auto_complete ul li { margin: 0pt; padding: 2px; list-style-type: none; display: block; cursor: pointer; }
.previewBox { border: 1px solid grey; padding: 10px; display: none; width: 95%; height: 325px; background-color: rgb(238, 238, 238); }
.previewBar1 { padding: 0.5em; display: block; clear: both; float: none; background-color: rgb(255, 255, 255); }
.previewBar2 { border-bottom: 1px solid rgb(204, 204, 204); display: block; width: 100%; height: 20px; font-weight: bold; }
.previewContent { padding: 0.5em; overflow: auto; height: 280px; background-color: rgb(255, 255, 255); }
.txtHidden { overflow: hidden; position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; }
.font1 { font-size: 0.8em; }
.font2 { font-size: 0.9em; }
.font3 { font-size: 1em; }
.font4 { font-size: 1.1em; }
.font5 { font-size: 1.2em; }
.resultRow { border-top: 1px solid rgb(238, 238, 238); }
a.blackLink { font-size: 0.95em; color: rgb(0, 0, 0); }
