/* ::::: http://www.cell.com.ejproxy.a-star.edu.sg/css/cell/cpsj_core.css ::::: */

html, body, ol, ul, li, dl, dt, dd, img { border: 0pt none ; margin: 0pt; padding: 0pt; }
body { margin: 0px; padding: 0pt 495px; color: rgb(0, 0, 0); font-family: arial,helvetica,"Lucida Grande",Tahoma,verdana,sans-serif; text-align: left; font-size: 90%; }
#sizer { padding: 0pt; width: 100%; text-align: left; max-width: 990px; }
#expander { margin: 0pt -495px; background: transparent url('right_bg.gif') repeat-y scroll right top; min-width: 856px; position: relative; min-height: 1px; }
div.info_outline_closed { background: transparent url('right_bg_narrow.gif') repeat-y scroll right top ! important; }
#fulltext_body #expander { background: transparent url('right_bg_ft.gif') repeat-y scroll right top ! important; }
body.home, body.toc, body.archive { background: transparent url('left_bg.gif') repeat-y scroll left top; }
body.wide #expander { background: transparent none repeat scroll 0% 0%; }
* html #expander { height: 0pt; }
a { color: rgb(0, 0, 0); }
p { margin: 0.8em 0pt; }
.alignright { margin: 0pt 10px 10px 0pt; text-align: right; }
.small { font-size: 0.8em; }
.hide { display: none; }
#header { background: rgb(0, 85, 135) none repeat scroll 0% 0%; min-height: 8.75em; clear: both; width: 100%; min-width: 1000px; }
* html #header { height: 8.75em; }
#header h1 { margin: 0pt; padding: 0pt; float: left; }
#header h1 img { margin: 15px 0pt 0pt 15px; }
#header_middle { padding-top: 12px; padding-left: 245px; }
#cover_images { padding: 0pt 0pt 0pt 80px; }
#cover_images a { margin-right: 5px; }
#cover_images a img { border: 2px solid rgb(255, 255, 255); height: 95px; width: 72px; }
#cover_images a:hover img { border: 2px solid rgb(170, 170, 170); }
#console { width: 228px; text-align: center; float: right; height: 71px; font-size: 0.8em; color: rgb(255, 255, 255); }
#console p { margin: 0pt; padding: 4px 8px 0pt 0pt; color: rgb(0, 85, 135); text-align: right; font-size: 0.8em; }
#console a { color: rgb(0, 85, 135); }
#console ul { margin: 10px 1em 10px 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; }
#console ul li { display: inline; }
#console ul li a { line-height: 1.2em; font-size: 1.1em; white-space: nowrap; text-align: right; color: rgb(255, 255, 255); font-weight: bold; margin-left: 1px; margin-right: 3px; }
#console form#searchBox { margin: 4px 10px 0pt 0pt; padding: 7px 2px 5px 8px; background: rgb(0, 85, 135) url('search_bg.gif') no-repeat scroll left top; text-align: left; float: right; width: 208px; height: 59px; font-size: 1.2em; }
#console form input { border: 1px solid rgb(111, 158, 189); width: 131px; }
#console form input.radio { border: medium none  ! important; margin: 0pt; padding: 0pt; width: auto ! important; }
input.button, a.button { border: medium none  ! important; padding: 2px 0pt; background: rgb(75, 120, 55) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; line-height: 1em; font-size: 1em; font-family: arial,helvetica,"Lucida Grande",Tahoma,verdana,sans-serif; }
a.button { padding: 4px 37px ! important; display: block ! important; text-decoration: none; width: 4em ! important; font-size: 0.96em; }
a.button:hover, input.button:hover { background: rgb(0, 85, 135) none repeat scroll 0% 0% ! important; }
p a.button { margin: 0pt auto ! important; }
p.buttons input.button { padding: 2px 4px; }
#console form input.button { font-size: 0.85em; }
#console form input.button { width: 55px ! important; }
#console form label { font-size: 0.9em; margin-left: 4px; color: rgb(18, 86, 133); }
#global_nav { border-style: solid none solid solid; border-color: white -moz-use-text-color white white; border-width: 2px medium 2px 2px; background: rgb(228, 221, 197) none repeat-x scroll 0% 0%; clear: both; height: 21px; min-width: 1000px; }
.globalsubtab ul { margin: 0pt; padding: 0pt; list-style-image: none; list-style-position: outside; list-style-type: none; position: relative; z-index: 999999; }
#global_nav ul li, .globalsubtab ul li { border-right: 2px solid white; margin: 0pt; padding: 0pt; background: rgb(228, 221, 197) url('globalnav_bg.gif') repeat-x scroll 0% 0%; display: block; float: left; position: relative; }
.globalsubtab ul li { border-right: medium none; }
#global_nav ul li.expander a { padding-right: 18px; background-color: rgb(228, 221, 197); background-repeat: no-repeat; background-position: right 0.5em; background-image: url('arrow.png'); }
#global_nav ul li a, .globalsubtab ul li a { border: 1px solid tan; margin: 0pt ! important; padding: 0pt 7px; background: transparent none repeat scroll 0% 0%; color: rgb(15, 89, 136); display: block; float: left; font-size: 0.8em; font-weight: bold; line-height: 1.68em; text-decoration: none; }
.globalsubtab ul li a { font-size: 0.85em; }
#global_nav ul li a:hover, .globalsubtab ul li a:hover { background-color: rgb(247, 243, 230); }
.globalsubtab { border: 1px solid tan; padding: 2px 4px; background: rgb(215, 207, 181) none repeat scroll 0% 0%; position: absolute; top: 148px; left: 650px; z-index: 20000; font-size: 0.8em; display: none; }
#global_nav div ul li a { line-height: 14px; white-space: nowrap; font-size: 0.9em; width: 105px ! important; }
.globalsubtab ul li { margin: 0pt 1px 1px 0pt; }
#changeJournaljournals { float: left; width: 130px; }
#changeJournaljournals ul li a { width: 110px; }
#changeJournaltrends { float: left; width: 165px; }
#changeJournaltrends ul li a { width: 150px; }
#changeJournaljournals div, #changeJournaltrends div { padding: 1px 0pt 0pt 2px; font-size: 1em; font-weight: bold; color: rgb(85, 85, 85); }
#forAuthorsSubTab { top: 148px; left: 280px; width: 140px; }
#forAuthorsSubTab ul li a { width: 125px; }
#journalInfoSubTab { top: 148px; left: 380px; width: 160px; }
#journalInfoSubTab ul li a { width: 145px; }
#CellPressSubTab { left: 770px; top: 148px; width: 110px; }
#CellPressSubTab ul li a { width: 92px; }
#changeJournalSubTab { top: 148px; left: 650px; }
#main_banner, #footer_ad { background: rgb(231, 227, 200) none repeat scroll 0% 0%; clear: both; height: 90px; text-align: center; }
#footer_ad { border-top: 10px solid rgb(255, 255, 255); background: rgb(239, 239, 239) none repeat scroll 0% 0%; width: 100%; z-index: 1; }
#main_banner img, #footer_ad img { width: 728px; height: 90px; }
#footer_ad a, #footer_ad img { margin: 0pt; padding: 0pt; }
div#main_banner { overflow: hidden; clear: both; }
#main_content, #main_fulltext_content { padding: 10px 376px 0pt 10px; font-size: 0.85em; }
#main_fulltext_content {  }
div.info_outline_closed #main_content, div.info_outline_closed #main_fulltext_content { padding-right: 73px ! important; }
#fulltext_body #main_content, #fulltext_body #main_fulltext_content { padding-right: 218px ! important; }
#main_content dl { margin: 10px 0pt 20px 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#main_content dt { margin: 0pt; padding: 0pt; font-weight: bold; }
#main_content dd { margin: 0pt; padding: 0pt; width: 99%; color: rgb(51, 51, 51); }
* html #main_content dd { width: auto; }
#main_content dd a { color: rgb(35, 59, 147); }
body.home #main_content, body.archive #main_content, body.outline_open #main_content, body.outline_open #main_fulltext_content, body.archive #main_content, body.toc #main_content { padding: 1px 376px 0pt 190px; }
body.outline_open { background: transparent url('left_bg.gif') repeat-y scroll left top; }
body.outline_closed { background: transparent url('left_bg_narrow.gif') repeat-y scroll left top; }
body.outline_closed #main_content, body.outline_closed #main_fulltext_content { padding: 10px 376px 0pt 73px; }
body.outline_closed #left_column { width: 63px; }
body.wide #main_content { padding: 10px 10px 0pt; }
#fulltext_body #left_column ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
div.article_links { line-height: 1.4em; margin-bottom: 5px; margin-top: 3px; font-size: 0.8em; color: rgb(51, 51, 51); }
div.article_links a { color: rgb(37, 66, 142); font-size: 1.25em; }
#footer { border-top: 10px solid rgb(255, 255, 255); background: rgb(234, 229, 200) none repeat scroll 0% 0%; clear: both; height: 6em; text-align: center; }
#footer ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#top_links ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#footer_content { margin: 1em auto 0pt; min-width: 450px; width: 30em; }
#main_content h4, #main_fulltext_content h4 { margin: 0pt 0pt 8px ! important; padding: 0pt; font-size: 13px; }
#footer_content h4 { margin: 0pt 13px 0pt 0pt; padding: 0pt; width: 73px; height: 51px; float: left; }
#footer_content h4 img { display: block; width: 73px; height: 51px; }
* html #footer_content h4 a img { display: none; }
* html #footer_content h4 a { z-index: 1; width: 73px ! important; height: 51px ! important; display: block; background-image: url('cell_press.gif'); }
#footer_content form { margin: 0pt; padding: 0pt; float: left; text-align: left; }
#footer_content ul { margin: 3px 0pt 0pt; padding: 0pt; font-size: 0.7em; }
#footer_content ul li { float: left; color: rgb(136, 136, 133); }
#footer_content ul li a { color: rgb(136, 136, 133); text-decoration: none; margin-left: 3px; }
#footer_content ul li a:hover { text-decoration: underline; }
#footer select { vertical-align: bottom; }
#footer input.image { margin: 0pt; vertical-align: bottom; }
#footer input#footer_go { margin: 0pt; vertical-align: bottom; }
#footer p.copyright { margin: 0px 0pt 0pt 3px; padding: 0pt; clear: left; color: rgb(136, 136, 133); font-size: 0.7em; line-height: 1.2em; }
#footer p.copyright a { color: rgb(136, 136, 133); text-decoration: none; }
#footer p.copyright a:hover { text-decoration: underline; }
#left_column { border-top: 10px solid rgb(255, 255, 255); background: rgb(233, 236, 227) none repeat scroll 0% 0%; width: 180px; float: left; padding-top: 10px; font-size: 0.85em; }
* html #left_column { position: relative; }
#right_column { border-top: 10px solid rgb(255, 255, 255); background: rgb(222, 228, 240) none repeat scroll 0% 0%; width: 356px; float: right; padding-top: 10px; font-size: 0.85em; }
#fulltext_body #right_column { width: 208px; }
div.info_outline_closed #right_column { width: 63px ! important; }
#right_column p { margin: 0pt; padding: 10px; }
#main_boombox { padding-top: 10px; padding-left: 10px; margin-bottom: 15px; }
#floating_login_form { border: 2px solid rgb(204, 204, 204); padding: 12px 6px 6px; background: rgb(222, 228, 240) none repeat scroll 0% 0%; width: 21.8em; position: absolute; top: 2.6em; right: 9999pt; color: rgb(0, 85, 135); font-size: 0.8em; z-index: 2009999; }
#subscribe_main { margin: 2em 0pt 1.5em ! important; padding: 1em; background: rgb(222, 228, 240) none repeat scroll 0% 0%; clear: both; width: 660px; }
#floating_login_form label { display: block; width: 6.5em; float: left; clear: left; line-height: 1.7em; font-weight: bold; }
#floating_login_form input { border: 1px solid rgb(111, 158, 189); display: block; width: 9.5em; float: left; margin-bottom: 5px; }
#floating_login_form input.hidden { border: 0pt none ; margin: 0pt; }
#login_submit { margin: 5px 0pt 0pt 6.5em; }
* html #login_submit { margin: 5px 0pt 0pt 3.3em; }
#forgotlink { display: block; clear: both; color: rgb(0, 85, 135); font-size: 11px; margin-left: 6.8em; }
#floating_login_form #rememberme_label { margin: 2px 0pt 0pt 6.8em; font-size: 11px; font-weight: normal; width: 120px ! important; line-height: 1.3em; }
* html #floating_login_form #rememberme_label { margin: 2px 0pt 0pt 3.4em; }
#welcome { background: rgb(228, 221, 197) none repeat scroll 0% 0%; text-align: right; font-size: 0.9em; line-height: 1.68em; color: rgb(160, 65, 47); display: block; float: right; position: relative; padding-right: 4px; }
#auto_login { border: 0pt none  ! important; }
a#close_login { position: absolute; right: 4px; top: 4px; display: block; width: 18px; height: 18px; line-height: 18px; text-decoration: none; padding-left: 2px; padding-bottom: 2px; text-align: center ! important; }
a#close_login:hover { background: rgb(75, 118, 57) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
p.alert, .loginError, #floating_login_form div.error { margin-top: 0pt; padding-top: 0pt; padding-bottom: 0.2em ! important; color: rgb(255, 85, 85); font-size: 0.85em ! important; font-weight: bold; text-align: right; padding-right: 13px; }
#main_content div.alert { border: 1px solid rgb(0, 0, 0); padding: 10px 0.5em 10px 36px; text-align: left ! important; font-size: 1em; margin-top: 1em; line-height: 16px ! important; width: 26.3em; }
#main_content div.registerwide { width: 620px ! important; }
#main_content div.alertwide { width: 57.3em ! important; }
#main_content .registerform div.alert { width: 57.5% ! important; margin-bottom: 1em ! important; }
#main_content #main_search div.alert { width: auto ! important; }
#main_content div.errormsg { background: rgb(239, 239, 239) url('msg_icon_error.gif') no-repeat scroll 5px 8px; }
#main_content div.alertmsg { background: rgb(239, 239, 239) url('msg_icon_alert.gif') no-repeat scroll 5px 4px; }
#main_content div.infomsg { background: rgb(239, 239, 239) url('msg_icon_info.gif') no-repeat scroll 5px 4px; }
#main_content div.confirmmsg { background: rgb(239, 239, 239) url('msg_icon_confirm.gif') no-repeat scroll 5px 8px; }
input.checkbox { width: auto ! important; float: left ! important; }
#main_content h3, #main_fulltext_content h3 { margin: 10px 0pt 10px 0px ! important; padding: 0pt; font-size: 1.1em; }
#main_content h2, #main_fulltext_content h2 { margin: 0pt 0pt 5px; padding: 0pt; color: rgb(160, 65, 47); font-size: 1.3em; }
#main_content h3, #main_fulltext_content h3 { margin: 14px 0pt 0pt 0px; padding: 0pt; color: rgb(160, 65, 47); font-size: 1.2em; }
#main_fulltext_content div.alert { border: 1px solid rgb(0, 0, 0); padding: 10px 0.5em 10px 36px; margin-top: 1em; font-size: 1em; width: 26.3em; line-height: 16px ! important; text-align: left ! important; }
#main_fulltext_content div.alertwide { width: 39.1em ! important; }
#main_fulltext_content div.alertmsg { background: rgb(239, 239, 239) url('msg_icon_alert.gif') no-repeat scroll 5px 4px; }
#main_abstract_content div.alert { border: 1px solid rgb(0, 0, 0); padding: 10px 0.5em 10px 36px; margin-top: 1em; margin-left: 0.8em; font-size: 0.8em; width: 26.3em; line-height: 16px ! important; text-align: left ! important; }
#main_abstract_content div.alertwide { width: 39.1em ! important; }
#main_abstract_content div.alertmsg { background: rgb(239, 239, 239) url('msg_icon_alert.gif') no-repeat scroll 5px 4px; }
#left_column h2, #right_column h2 { margin: 0pt 0pt 0pt 0px ! important; color: rgb(160, 65, 47); font-size: 1.3em ! important; }
.cover_panel .handle { background: transparent url('cover_panel_top.gif') no-repeat scroll 0pt 0pt ! important; display: block ! important; padding-top: 28px; padding-left: 21px; }
.cover_panel { background: transparent url('cover_panel_bottom.gif') no-repeat scroll 0pt 100%; margin-left: 10px; margin-bottom: 20px ! important; }
.cover_panel p { margin: 0pt; padding: 0pt 10px 10px 0pt; text-align: center; font-size: 0.9em; }
.home_panel { background: transparent url('left_panel_bottom.gif') no-repeat scroll 0pt 100%; margin-left: 10px; margin-bottom: 20px; }
.home_panel .handle, #article_outline h4, #archive_outline h4 { margin: 0pt; background: transparent url('left_panel_top.gif') no-repeat scroll 0pt 0pt; padding-top: 15px; padding-left: 15px; position: relative; }
#article_outline h4, #archive_outline h4 { font-size: 1.3em; }
#article_outline h4 a, #archive_outline h4 a { text-decoration: none; color: rgb(160, 65, 47); font-size: 1em; }
#left_column ul { padding: 5px 0pt 10px 15px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#left_column ul li ul { padding-bottom: 0px ! important; }
.home_panel ul li { font-size: 0.9em; padding-bottom: 5px; padding-right: 20px ! important; }
.home_panel ul li a { color: rgb(39, 60, 153); }
.right_panel, #article_options { background: transparent url('right_panel_bottom.gif') no-repeat scroll 0pt 100%; font-size: 0.8em; margin-left: 10px; margin-bottom: 10px; padding-bottom: 5px; }
.right_panel { font-size: 0.9em; }
#article_options h4 { font-size: 1.4em ! important; margin-bottom: 0pt; padding-bottom: 2px ! important; }
#right_column .right_panel .handle, #article_options h4.handle { background: transparent url('right_panel_top.gif') no-repeat scroll 0pt 0pt; padding-top: 15px; padding-left: 15px; }
#fulltext_body #right_column .right_panel .handle, #fulltext_body #article_options h4.handle { background: transparent url('right_panel_top_ft.gif') no-repeat scroll 0pt 0pt; }
#fulltext_body .right_panel, body#fulltext_body #article_options { background: transparent url('right_panel_bottom_ft.gif') no-repeat scroll 0pt 100%; }
#fulltext_body #article_options h4.handle { position: relative; }
#right_column h3, #right_column h4 { margin: 0pt; padding: 5px 0pt 5px 15px; font-size: 1em; }
#right_column h4 { margin: 0pt; padding: 5px 0pt 5px 15px; color: rgb(160, 65, 47); font-size: 1.3em; }
#right_column .right_panel p { padding: 8px 15px; font-size: 1em; }
#right_column ul { margin: 5px; list-style-image: none; list-style-position: outside; list-style-type: none; }
#right_column ul li { background: transparent url('right_bull.gif') no-repeat scroll left 0.6em; padding-right: 15px; padding-left: 14px; }
#fulltext_body #right_column ul li { background: transparent none repeat scroll 0pt 50%; }
#right_column ul li a { font-size: 1.1em; display: block; line-height: 1.5em; }
#right_column dl { margin: 5px 5px 5px 16px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#right_column dt, #right_column dd { padding-right: 15px; }
#right_column dt { font-weight: bold; }
table#search_results { width: 99%; }
table#search_results th, table#search_results td { padding-left: 18px; }
table#search_results td { padding-bottom: 8px; padding-top: 8px; }
table#search_results th { background: rgb(0, 85, 135) none repeat scroll 0% 0%; white-space: nowrap; padding-right: 10px; color: rgb(255, 255, 255); line-height: 1.75em; }
table#search_results th.last, table#search_results td.last { text-align: center; }
table#search_results .col-author { width: 20%; }
table#search_results .col-title { width: 40%; }
table#search_results td { padding-right: 10px; }
table#search_results tr.shade1 td { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
table#search_results tr.shade2 td { background: rgb(233, 236, 229) none repeat scroll 0% 0%; }
table#search_results tr td a { color: rgb(35, 59, 147); }
.registerform strong { line-height: 1.8em; }
.registerform { margin: 1em 0pt 1.5em; padding: 1em; background: rgb(222, 228, 240) none repeat scroll 0% 0%; width: 640px; }
.login_box { margin: 1em 1.1em 1.5em 0pt; padding: 1em; background: rgb(222, 228, 240) none repeat scroll 0% 0%; float: left; width: 28em; min-height: 12.8em; }
* html div.login_box { height: 12.8em; }
.ind_sub { height: 10em ! important; }
.ind_sub p { margin-top: 0pt; height: 5em ! important; }
.ind_sub a.button, #ppvAccess input.button { margin: 0pt auto ! important; text-align: center; width: 22em ! important; display: block ! important; float: none; }
#main_content #main_supp a.button, #main_fulltext_content #main_supp a.button { display: inline; text-align: center; width: 12em ! important; float: left; margin-right: 0.4em ! important; }
.login_box h3 { margin: 0pt 0pt 10px ! important; padding: 0pt ! important; }
div.login_box label { width: 8.7em; display: block; float: left; clear: left ! important; padding-right: 0.7em; line-height: 2em; white-space: nowrap; }
.login_box form { margin: 0pt; padding: 0pt; }
#pw_username { line-height: 2em; }
div.login_box label span.note { width: 8.5em; white-space: normal ! important; font-size: 0.8em; line-height: 1em ! important; }
div.login_box input { width: 10em; float: left; display: block; }
.registerform input { width: 16em; float: left; display: block; margin-bottom: 2px; }
.registerform fieldset label { width: 18em; float: left; display: block; }
table#email_alerts { width: 640px; padding-bottom: 5px; }
#email_alerts td input { width: 20px; float: left; clear: none; }
#email_alerts label { margin: 0pt; padding: 0pt; float: left ! important; width: auto ! important; clear: none ! important; font-weight: normal ! important; }
table#email_alerts th { border-bottom: 1px solid rgb(16, 47, 27); padding-bottom: 2px; margin-top: 5px; }
table#email_alerts td { padding-top: 2px; line-height: 1.6em; }
p.buttons { text-align: right; }
p.alerts { width: 664px; }
#edit_search { padding: 3px 5px; background: rgb(75, 118, 57) none repeat scroll 0% 0%; display: block; position: absolute; right: 0pt; top: 0pt; width: 6em; font-weight: bold; color: rgb(255, 255, 255); text-decoration: none; text-align: center; }
#edit_search:hover { text-decoration: underline; }
p#results_no { position: relative; }
div.result-pages { border: 1px solid rgb(204, 204, 204); margin: 4px 0pt; padding: 4px; clear: both; }
div.result-pages p { margin: 0pt; padding: 0pt; float: left; width: 20%; }
div.result-pages ul { list-style-type: none; list-style-image: none; list-style-position: outside; width: 70%; float: right; text-align: right; }
div.result-pages ul li { display: inline; }
div.result-pages ul li a { color: rgb(37, 66, 142); }
.registerform div.alert { width: 57.5% ! important; margin-bottom: 1em ! important; }
.registerform select { margin: 0.2em 0pt; float: left; width: 39%; }
select#reg_title, select#titleId, select.reg_title { width: 20%; min-width: 16em; margin-right: 30%; }
.register_error, .subscribe_error, .feedback_error { font-weight: bold; color: rgb(142, 1, 1); clear: both; }
fieldset { border: 0pt none ; }
fieldset.reg_comms label { width: 100% ! important; line-height: 1.6em; white-space: nowrap; }
* html fieldset.reg_comms label { line-height: 2em; }
fieldset.reg_comms label input { margin-right: 0.6em ! important; }
* html fieldset.reg_comms label input { margin-right: 0.2em ! important; }
a.usernameavailable { display: block; float: left; margin-left: 0.4em; width: 16em; line-height: 2.2em; font-size: 0.9em; }
label#loginlabel, label#clearlabel { color: rgb(222, 228, 240) ! important; }
#send, #_eventId_login { margin-left: 9.5em; }
* html #send { clear: both; margin-left: 4.75em; }
.registerform label { font-weight: bold; clear: left; }
a#alerts_fpw { display: block ! important; float: left; width: 6.7em; font-size: 0.8em ! important; padding-left: 2.5em; padding-bottom: 0.8em; }
span#fpw { display: block; clear: both; font-size: 0.8em ! important; padding-left: 11.7em; line-height: 1em; }
.subscribe_button { width: 247px; float: left; }
.subscribe_button .button { width: 190px; margin-bottom: 8px; }
form#subscribe_online, form#renew_online, form#activate { width: 247px; float: left; }
form#activate { width: 230px; float: left; padding-bottom: 10px; }
.subscribe_button { width: 230px; float: left; }
input.ecomm_go { line-height: 1em; margin-left: 4px ! important; margin-top: 2px; height: 22px; }
.registerform input.button { width: 9em; float: left; display: block; margin-bottom: 2px; }
form#subscribe { margin: 20px 0pt 10px; padding: 0pt; width: 750px; }
#select_journal ul, select_product ul, #your_info ul { margin-top: 5px; margin-left: 20px; }
#select_journal li, #your_info li { color: rgb(0, 85, 135); font-weight: bold; }
#j_price { font-size: 1.2em; display: block; float: left; width: 20em; line-height: 2em; color: rgb(0, 85, 135); }
#select_product label { display: block; }
#subscribe_rates td, #subscribe_rates th { padding-bottom: 5px; }
#ecom_trail { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding: 5px 1em; width: 640px; margin-bottom: 10px; }
.ecom_trail_selected { width: 200px; float: left; text-align: center; font-size: 1.1em; color: rgb(0, 85, 135); font-weight: bold; }
.ecom_trail_notselected { width: 200px; float: left; text-align: center; font-size: 1.1em; font-weight: bold; color: rgb(51, 51, 51); }
.ecom_trail_sep { width: 10px; text-align: center; float: left; }
#ecom_pricebox { clear: both; display: block; }
p#priceContainer { padding: 20px 0pt 10px ! important; clear: both; display: block; color: rgb(0, 85, 135); font-size: 1.4em; width: 557px; }
p#priceContainer strong.label { color: rgb(0, 0, 0); line-height: 1em; width: 24.5%; }
p#priceContainer input { font-size: 0.7em; float: right; }
#journal_price { display: block; float: left; margin-left: 20px ! important; }
* html #journal_price { margin-left: 0px; }
#add_button { margin-top: 30px; display: block; float: right; margin-right: 31px; }
#update_button { float: right; margin-right: 31px ! important; }
* html #add_button, * html #update_button, * html input.continue { margin-right: 16px ! important; }
#discountCode { width: 280px; }
#pricing_explanations { margin: 30px 0pt 0pt 20px; clear: both; }
input.continue { float: right ! important; margin-right: 31px ! important; }
.form_panel ul { margin: 0pt ! important; padding: 15px 15px 15px 25px; background: transparent url('form_panel_top.gif') no-repeat scroll 0pt 0pt; clear: both; list-style-type: none; list-style-image: none; list-style-position: outside; display: block; }
.form_panel li { line-height: 1.4em; margin-bottom: 0.4em; color: rgb(0, 0, 0) ! important; font-weight: normal ! important; }
.form_panel { margin: 20px auto 10px; background: transparent url('form_panel_bottom.gif') no-repeat scroll 0pt 100%; width: 580px; clear: both; }
.form_panel p.first { margin: 0pt; padding: 15px 15px 15px 25px; background: transparent url('form_panel_top.gif') no-repeat scroll 0pt 0pt; }
.advanced_search label { clear: left; display: block; float: left; width: 21.5%; margin-top: 0.5em; font-weight: bold; }
.registerform label { clear: left; display: block; float: left; width: 24.5%; margin-top: 0.5em; font-weight: bold; }
.jrnl_main { width: 160px ! important; }
.advanced_search input, .registerform input, .registerform strong { margin: 0.2em 0pt; display: block; float: left; width: 48.5%; }
.registerform strong { line-height: 1.8em; }
.registerform #email_alerts input { width: auto ! important; }
.advanced_search input.radio { width: auto ! important; }
.advanced_search input.button { height: 1.8em ! important; }
.advanced_search select { margin: 0.4em 0pt; float: left; clear: right; }
strong.toc_pages { color: rgb(111, 111, 111); }
#short_fields { padding-top: 1em; padding-left: 21.5%; }
#short_fields label, #radio_fields label, #adv_jnrl_holder label, #from_fields label { clear: none; width: auto ! important; float: left; white-space: nowrap; margin-right: 0.5em; margin-left: 0pt; padding-left: 0pt; }
#from_fields { padding-top: 0.5em; }
#from_fields label { width: auto ! important; display: inline ! important; float: left; position: static; }
#radio_fields label { margin-right: 0.5em; line-height: 1.65em ! important; }
label#srch_from, label#searchYearFrom { clear: left; padding-left: 24.4%; width: 100px; }
input#srch_pub_all { margin-bottom: 0.5em; }
#short_fields input { width: 2.3em ! important; margin-right: 0.8em; }
#radio_fields input { width: auto ! important; margin-right: 0.2em; margin-top: 0em; padding-top: 0pt; line-height: 1em ! important; vertical-align: top; clear: none; }
#from_fields input { float: none ! important; clear: none ! important; width: auto ! important; display: inline ! important; vertical-align: middle; }
fieldset { border: 0pt none ; margin: 0pt; padding: 0pt; }
form.advanced_search { margin: 1em 0pt 1.5em; padding: 1em; background: rgb(222, 228, 240) none repeat scroll 0% 0%; }
* html form.advanced_search { margin: 0pt ! important; }
.advanced_search { margin-bottom: 1em ! important; }
form.advanced_search p { clear: both; }
label#label_srch_dates { clear: left; display: block; width: 20.5% ! important; }
fieldset#radio_fields, fieldset#misc_fields { padding-top: 1em; }
input.srch_submit, input.srch_reset { margin-top: 0.2em ! important; margin-left: 0.5em ! important; float: left; width: 8em ! important; }
input.srch_reset { margin: 0.5em 0pt 0pt ! important; display: block; }
#search_tips { padding: 1em; background: rgb(233, 236, 227) none repeat scroll 0% 0%; clear: left; margin-top: 0em; margin-bottom: 1em; width: 700px; margin-right: 20px; }
#search_tips h3 {  }
#search_tips ul { margin: 1em 2em 1em 2.2em; }
#search_tips ul li { margin-bottom: 0.5em; }
div.cell_journals { width: 290px; margin-top: 3px; float: left; }
div.jrnl_main {  }
div.cell_journals input { clear: left; line-height: 12px ! important; }
div.cell_journals label { line-height: 12px ! important; display: block; width: 140px; clear: right; padding-left: 7px ! important; font-weight: normal; }
.error_note { clear: both; }
#info1, #info2 { display: none; }
.ecomm_submit_buttons { padding: 25px 0pt 20px; clear: both; }
.reg_note { font-size: 0.9em; display: block ! important; clear: both ! important; margin-left: 20em ! important; color: rgb(51, 51, 51); }
.basket_price { font-weight: bold; }
.basket_subtotal { font-size: 1.1em; }
#basket { margin-top: 10px; }
.basket_billing { margin: 15px 15px 15px 0pt; padding: 0pt 15px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 265px; float: left; }
.basket_billing h3 { padding: 0pt; margin-top: 0pt; }
.registerform h3 { clear: both; }
#promoCode { width: 243px; }
p.price { color: rgb(0, 85, 135); font-size: 1.4em; }
span.price-note { padding-left: 20px; color: rgb(51, 51, 51); font-weight: normal; font-size: 0.65em; }
input#clearbutton { margin: 0pt 4px 0pt 9.5em; width: 7em ! important; }
* html input#clearbutton { margin: 0pt 0.4em 0pt 4.75em; }
p.note { font-weight: bold; color: rgb(142, 1, 1); }
#rss { padding: 0.5em 1em 1em; background: rgb(222, 228, 240) none repeat scroll 0% 0%; width: 400px; }
.search_highlighter { background: rgb(255, 255, 0) none repeat scroll 0% 0%; }
#main_content td .search_highlighter, #main_content h3 .search_highlighter { color: rgb(0, 0, 0) ! important; }
#article_options span.search_highlighter { background-color: transparent ! important; }
#article_outline span.search_highlighter { background-color: transparent ! important; }
p.article_doi span.search_highlighter { background-color: transparent ! important; }
p.article_source span.search_highlighter { background-color: transparent ! important; }
#article_options ul li, #left_column ul li { margin-bottom: 3px; }
#article_options ul li, #article_options ul li a { background: transparent none repeat scroll 0% 0%; }
#subscribe_sum { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 10px; width: 582px; clear: both; }
#subscribe_sum td { padding: 4px; font-weight: bold; color: rgb(0, 85, 135); }
#subscribe_sum td a { background: rgb(75, 118, 57) none repeat scroll 0% 0%; display: block; font-size: 0.8em; width: 1.4em; color: rgb(255, 255, 255); text-decoration: none; }
#subscribe_sum td a:hover { background: rgb(0, 85, 135) none repeat scroll 0% 0% ! important; }
#subscribe_sum td a { border: 0pt none ; margin: 0pt auto; background: rgb(75, 118, 57) none repeat scroll 0% 0%; display: block; font-size: 0.8em; width: 1.4em; color: rgb(255, 255, 255); text-decoration: none; }
#subscribe_sum input.submit { border: 0pt none ; padding: 0pt; background: rgb(75, 118, 57) none repeat scroll 0% 0%; width: 20px; color: rgb(255, 255, 255); font-size: 0.9em; text-align: center; float: none ! important; vertical-align: bottom; }
#subscribe_sum form { margin: 0pt ! important; padding: 0pt ! important; text-align: center; }
#subscribe_sum form.radioform { text-align: left ! important; }
#subscribe_sum th { padding: 5px 4px; font-weight: bold; }
a#login_fpw { display: block ! important; float: left; width: 6.7em; font-size: 0.8em ! important; padding-left: 2.2em; }
#remember_inline_label { padding-left: 0.25em; padding-bottom: 0.4em; width: 10em; float: left ! important; clear: none ! important; font-size: 0.8em ! important; }
#main_content #select_product .alert { width: 565px ! important; }
.infobubble { border: 2px solid rgb(75, 120, 55); padding: 8px 10px 10px; font-size: 1.1em; background-color: rgb(239, 239, 239); display: none; text-indent: -1px; position: absolute; top: 0px; left: -317px; width: 290px; z-index: 100000; }
.infobubble a { display: inline ! important; }
.mlktScroll { border: 1px solid rgb(204, 204, 204); padding: 2px; overflow: auto; height: 100px; width: 270px; background-color: rgb(255, 255, 255); }
.mlktLink { position: relative; width: 280px; z-index: 100000; }
#fulltext_body .mlktLink { width: 140px; }
.mlktEmpty { padding: 5px; background-color: rgb(255, 255, 255); }
p.article_type { font-size: 1.4em; font-weight: bold; color: rgb(186, 181, 162); }
#article_abstract h2 { color: rgb(30, 28, 29); }
#article_outline { padding: 0pt; background: transparent url('left_panel_bottom.gif') no-repeat scroll 0pt 100%; position: fixed; left: 10px; width: 160px; top: 273px; height: auto; margin-right: 1%; margin-bottom: 115px; font-size: 0.9em; }
#archive_outline { padding: 0pt 0pt 4px; background: transparent url('left_panel_bottom.gif') no-repeat scroll 0pt 100%; margin-left: 10px; width: 160px; top: 267px; height: auto; margin-right: 1%; margin-bottom: 25px; font-size: 0.9em; }
* html #article_outline, * html #archive_outline { height: 220px; }
* html #archive_outline { margin-top: 60px ! important; height: 220px; }
#article_outline_list, #article_outline_list_archive { margin: 7px 7px 10px 0pt ! important; overflow: auto; max-height: 160px ! important; width: 135px; }
div.outline_closed div#article_outline { display: none; }
div.info_outline_closed div#article_options { display: none; }
#article_options ul { margin-top: 0pt; }
div.outline_closed div#article_outline ul, div.outline_closed div#article_outline h4 { display: none ! important; }
#article_outline ul li a { text-decoration: none; display: block; font-size: 1em; line-height: 1.4em; padding-right: 4px; }
#article_outline ul li a:hover { text-decoration: underline ! important; }
a#open_link { background: transparent url('outline_open.jpg') no-repeat scroll left top; display: none; color: rgb(255, 255, 255); text-align: center; text-decoration: none; font-weight: bold; position: fixed; left: 10px; top: 267px; height: 146px; width: 45px; }
a#open_link img { display: none; position: absolute; left: 19px; top: 16px; }
a#open_link:hover img { display: block ! important; }
a#open_info_link { background: transparent url('outline_info_open.jpg') no-repeat scroll left top; display: none; color: rgb(255, 255, 255); text-align: center; text-decoration: none; font-weight: bold; margin-left: 10px; height: 146px; width: 45px; position: relative; }
a#open_info_link img { display: none; position: absolute; left: 17px; top: 119px; }
a#open_info_link:hover img { display: block ! important; }
a#close_link { position: absolute; top: 15px; right: 12px; font-size: 0.9em; }
#close_info_link { position: absolute; top: 20px; right: 30px; text-decoration: none; color: rgb(160, 65, 47); font-size: 0.9em; }
a#close_link:hover, a#close_info_link:hover { color: rgb(75, 120, 55) ! important; }
body.outline_closed div#article_outline { display: none; }
body.outline_closed {  }
body.outline_closed div#article_outline ul, body.outline_closed div#article_outline h4 { display: none ! important; }
* html { background-image: url('spacer.gif'); background-repeat: no-repeat; background-attachment: fixed; }
* html #link_holder { display: block; position: absolute; left: 10px; top: 0px; }
* html div#link_holder {  }
* html #article_outline, * html #toc_outline { position: absolute; left: 0px; top: 0px; margin-top: 13px; }
* html div#article_outline, * html div#toc_outline {  }
h2#top_title { color: rgb(30, 28, 29); }
#fulltext_body h3 { text-transform: uppercase; }
#main_content h4, #main_fulltext_content h4 { margin: 0pt; padding: 0pt; color: rgb(160, 65, 47); }
#main_content h4 a.zoom, #main_fulltext_content h4 a.zoom { margin: 0pt; padding: 0pt; color: rgb(160, 65, 47); }
a.ja50-ce-cross-ref { text-decoration: none; }
.ja50-figure { border: 1px solid rgb(0, 85, 135); padding: 10px; background: rgb(230, 235, 240) none repeat scroll 0% 0%; margin-bottom: 1em; }
div.large-figure { overflow-x: auto; }
.figbox { border: 1px solid rgb(51, 51, 51); padding: 10px; background: rgb(239, 239, 239) none repeat scroll 0% 0%; }
.article_figure td img { border: 1px solid rgb(0, 85, 135); margin-right: 1em; }
.article_figure td a:hover img { border: 1px solid rgb(51, 51, 51); padding: 1px; margin-right: 1em; }
.ja50-ce-label { color: rgb(160, 65, 47); font-weight: bold; }
.ja50-ce-caption { padding-top: 1em; }
.article_figure_versions { margin-top: 2em; }
.article_figure_versions a { color: rgb(160, 65, 47); margin-right: 2em; }
#main_content p.sub_buttons a.button { margin: 0pt ! important; padding: 4px ! important; width: 200px ! important; text-align: center ! important; }
#main_content_popup { padding: 10px; width: 600px; position: relative; }
a#close_popup { padding: 4px; background: rgb(0, 85, 135) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; display: block; text-align: right; margin-bottom: 1.2em; }
a#close_popup:hover { text-decoration: underline; }
.left_box, .right_box { height: 16em; }
#main_supp { max-width: 650px; }
* html #main_supp { width: 650px; }
#main_supp dl { margin: 0pt; padding-bottom: 1em; }
#main_supp dt { margin-top: 1em; margin-bottom: 0.3em; font-weight: normal; }
#journal_price { display: block; float: left; margin-left: 100px; }
* html #journal_price { margin-left: 80px; }
p#priceContainer strong.label { color: rgb(0, 0, 0); line-height: 1em; width: 24.5%; }
#add_button { margin-top: 30px; display: block; float: right; margin-right: 31px; }
#update_button { float: right; margin-right: 31px ! important; }
* html #add_button, * html #update_button, * html input.continue { margin-right: 16px ! important; }
#discountCode { width: 280px; }
a#rss_link { margin: 0pt 0pt 15px 15px; padding: 3px 0pt 21px 26px; background: transparent url('rss_icon.gif') no-repeat scroll 0px 0px; width: 100%; line-height: 45px; height: 20px; text-decoration: none; }
#main_content h2.advanced a { margin: 0pt ! important; position: absolute; right: 0pt; top: 5px; font-size: 0.8em; text-decoration: none; color: rgb(0, 85, 135); z-index: -1; }
#checkbox_fields { margin-top: 8px; margin-bottom: 0.5em; }
#main_supp h2 { color: rgb(30, 28, 29); }
p.article_supplement { margin: 0pt 0pt 5px; padding: 0pt; color: rgb(160, 65, 47); font-size: 1.3em; font-weight: bold; }
.article_comment { padding: 10px 20px 20px; background: rgb(222, 228, 240) none repeat scroll 0% 0%; margin-bottom: 25px; }
a.top { display: block; font-weight: bold; color: rgb(0, 85, 135); margin-top: 10px; }
#main_supp h3 { clear: both; margin-bottom: 10px; }
#main_content_popup { padding: 10px; width: 600px; position: relative; }
#feedback_popup { max-width: 480px; }
* html #feedback_popup { width: 480px; }
.popup_caption { border: 2px solid rgb(204, 204, 204); padding: 0.3em; }
.popup_caption p { margin-top: 0pt; }
a#close_popup { padding: 4px; background: rgb(0, 85, 135) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; display: block; text-align: right; margin-bottom: 1.2em; }
a#close_popup:hover { text-decoration: underline; }
#main_content_popup .article_figure_versions { margin: 0.75em 0pt; }
body.popup #expander { overflow: hidden; width: 650px ! important; }
body.popup #expander { background: transparent none repeat scroll 0% 0% ! important; }
body.popup #main_content { overflow: hidden; width: 650px ! important; }
#adv_jnrl_holder { float: left; width: 450px; }
#purchase_sub { text-align: center ! important; }
#expander #purchase_sub input.button { margin: 0pt 2em ! important; font-family: arial,verdana,helvetica; text-align: center; display: block ! important; width: 22em ! important; }
.registerform select.exp { width: 120px ! important; margin-right: 5px; }
#registerStatus { height: 20px; }
strong.pages { padding-left: 1em; }
h2#leading_edge { color: rgb(160, 65, 47) ! important; }
h2#research { color: rgb(2, 85, 139) ! important; }
#toc_panel ul { margin-top: 15px; }
#toc_panel ul li { margin: 0pt; padding: 0pt; }
#toc_panel ul li a { color: rgb(160, 65, 47); text-decoration: none; display: block; font-weight: bold; padding-bottom: 10px; }
#toc_panel ul li a:hover { text-decoration: underline; }
#toc_panel h4 { font-size: 1em; font-weight: normal; padding-left: 15px; padding-right: 15px; }
.login_box .ecomm_submit_buttons { padding-top: 10px ! important; }
#add_j_button { width: 9.2em; }
p.caption { margin: 0pt ! important; padding: 0pt ! important; }
#archive_panel { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-top: 10px; height: 240px; width: 100%; top: 250px; left: 0px; position: absolute; }
#year_selector { background: rgb(233, 236, 227) none repeat scroll 0% 0%; width: 180px; float: left; padding-top: 40px; font-size: 0.85em; height: 230px; position: relative; margin-right: 10px; }
#year_selector label { position: absolute; top: 10px; left: 10px; font-size: 1.3em; display: block; text-align: center; width: 170px; color: rgb(160, 65, 47); font-weight: bold; }
#year_selector select { margin: 0pt auto; width: 5em; display: block; height: 210px; }
#archive_panel table { float: left; width: 900px; margin-left: 10px; }
#pb-productslider { list-style-type: none; list-style-image: none; list-style-position: outside; z-index: 0; }
#pb-productslider .pb-productimage { list-style-type: none; list-style-image: none; list-style-position: outside; }
#subscribe_sum td input.radio { padding: 0pt ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 30px ! important; vertical-align: middle ! important; display: block; float: left; line-height: 30px; }
#subscribe_sum td.radiocell { vertical-align: bottom; }
#subscribe_sum td p { display: inline; }
#expander .adv_tips { border-top: 34px solid rgb(255, 255, 255) ! important; }
#renewJournalForm td.updated-price { color: rgb(75, 120, 55) ! important; }
p.vsp_sub { margin: 14px 0pt 0pt 0px; padding: 0pt; color: rgb(160, 65, 47); font-size: 1.2em; font-weight: bold; }
p.vsp_fulltext_sub { margin: 10px 0pt 10px 0px; padding: 0pt; color: rgb(160, 65, 47); font-size: 1.2em; font-weight: bold; }
#article_text { line-height: 1.6em; }
#article_text p, div.summary, div.ja50-ce-caption { line-height: 1.6em; }
.ja50-ce-table { border: 1px solid rgb(75, 120, 55); padding: 4px 10px 4px 4px; background: rgb(233, 236, 227) none repeat scroll 0% 0%; overflow-x: scroll; overflow-y: visible; margin-bottom: 10px; min-height: 100px; height: auto; }
* html .ja50-ce-table { overflow: hidden; width: 566px; }
* html .outline_closed .ja50-ce-table { width: 686px; }
.ja50-table th, .ja50-table td { white-space: nowrap; padding-right: 5px ! important; }
#expander td.ja50-article-history { white-space: nowrap; width: 100%; }
.ja50-ce-table { font-size: 0.9em; }
.ja50-table-body { padding-top: 5px; }
.ja50-table th { border-top: 1px solid rgb(51, 51, 51); border-bottom: 1px solid rgb(51, 51, 51); padding: 5px 0pt; text-align: left; }
.ja50-table-header-cell { font-weight: bold; color: rgb(75, 120, 55); font-size: 1em; padding-bottom: 0.4em; }
.ja50-article-history { border-top: 1px solid rgb(75, 120, 55); padding-top: 0.4em; }
body.home #cover_plus { display: block; padding-bottom: 15px; }
#coverpopup { border: 2px solid rgb(204, 204, 204); padding: 20px; background: rgb(222, 228, 240) none repeat scroll 0% 0%; overflow: auto; position: absolute; width: 691px; top: 25px; left: 152px; font-size: 0.9em; text-align: justify; display: none; z-index: 99999999; }
#coverpopup img { border: 1px solid rgb(0, 0, 0); margin: 0pt auto; padding: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: block; text-align: center; }
#coverpopup h3 { margin: 5px 0pt; color: rgb(160, 65, 47) ! important; font-size: 1.2em ! important; text-align: center; }
#coverpopup a#close_popup { background: transparent none repeat scroll 0% 0%; position: absolute; right: 10px; top: 10px; width: 20px; text-align: center; display: block; color: rgb(51, 51, 51); font-weight: bold; font-size: 1.2em; }
#coverpopup a#close_popup:hover { background: rgb(75, 120, 55) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
#console form#defaultLoginForm { margin: 0pt; padding: 0pt 0pt 0pt 2px; background: transparent none repeat scroll 0pt 50%; display: inline; }
input#login_link { border: 0pt none  ! important; width: 36px ! important; margin-right: 3px; }
#renewNow { color: rgb(160, 65, 47) ! important; }
#article_text p a { color: rgb(0, 85, 135); }
#article_text #article_meta p a { color: rgb(0, 0, 0); text-decoration: none; }
#article_text p a:hover { text-decoration: underline; }
.ja50-table-header-cell { white-space: nowrap; }
#sub_ind { padding: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 5px; }
#sub_ind h4, #sub_ind h5 { margin: 3px 0pt; padding: 0pt; color: rgb(0, 0, 0); }
#sub_ind h5 { font-size: 1em; }
#thumb_panel a { margin: 25px auto 15px; display: block; text-align: center; }
body.wide p.buttons { width: 664px; }
dl.featured { padding: 8px; background: rgb(230, 235, 240) none repeat scroll 0% 0%; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; }
dl.sponsored { padding: 8px; background: rgb(235, 240, 235) none repeat scroll 0% 0%; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; }
.featured_ad .handle { background: transparent url('right_ad_wide_top.gif') no-repeat scroll 0pt 0pt ! important; display: block ! important; }
.featured_ad { background: transparent url('right_ad_wide_bottom.gif') no-repeat scroll 0pt 100% ! important; }
.featured_ad li { font-size: 0.9em; }
.featured_ad dd { padding-bottom: 10px; }
#main_fulltext_content h5 { margin: 0pt; padding: 0pt; font-size: 1em ! important; }
#ppvback { float: left; display: block; }
#subscribe_sum p { line-height: 20px ! important; }
#fulltext_body dl dt a { color: rgb(0, 85, 135) ! important; }
body.toc #main_content span, body.archive #main_content span { padding: 1px 9px; background: rgb(0, 85, 135) none repeat scroll 0% 0% ! important; font-weight: bold; color: rgb(255, 255, 255); font-size: 0.9em; }
body.toc #main_content span.free, body.archive #main_content span.free { background: rgb(231, 227, 200) none repeat scroll 0pt 0pt ! important; color: rgb(160, 65, 47); margin-left: 5px; }
.rel_jrnl { color: rgb(0, 85, 135) ! important; }
#issueContainer { background: transparent url('left_bg.gif') repeat-y scroll left top; margin-top: 275px; }
#issueContainer #main_content { border-top: 10px solid rgb(255, 255, 255) ! important; }
#expander #issueContainer #left_column, #expander #issueContainer #right_column { border-top: 20px solid rgb(255, 255, 255) ! important; }
* html #article_outline_list_archive li { padding-left: 12px ! important; }
#article_outline_list_archive li ul { padding: 0pt ! important; margin-left: 0.1em; list-style-type: none; list-style-image: none; list-style-position: outside; }
#article_outline_list_archive li ul li { margin: 0pt; padding: 0pt; }
#article_outline_list_archive li a { margin: 0pt; padding: 0pt; text-decoration: none; display: block; }
#article_outline_list_archive li a:active { text-decoration: underline; }
#article_outline_list_archive li a:hover { text-decoration: underline; }
ul#article_outline_list_archive { padding: 8px 10px 8px 8px; overflow: auto; margin-bottom: 8px; list-style-type: none; list-style-image: none; list-style-position: outside; height: auto; max-height: 25em; text-align: left; }
ul#article_outline_list_archive li ul { margin: 0pt ! important; padding: 0.4em 1em 0.4em 0pt ! important; background: rgb(230, 235, 240) none repeat scroll 0% 0%; }
ul#article_outline_list_archive li a { margin: 0.5em 0pt 0.5em 5px; background: rgb(255, 255, 255) url('top_link_arrow_on.gif') no-repeat scroll left top ! important; display: block; padding-left: 20px; font-size: 1.2em; text-decoration: none; font-weight: bold; text-align: left; }
ul#article_outline_list_archive li a:hover { text-decoration: underline; }
ul#article_outline_list_archive li ul li a { background: transparent none repeat scroll 0% 0% ! important; font-size: 1em; text-decoration: none; font-weight: normal; }
ul#article_outline_list_archive li ul { margin: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
* html ul#article_outline_list_archive { height: 23.5em; }
#container { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
#productbrowser { background: transparent url('scroll_bg.jpg') no-repeat scroll 50% top; }
#pb-productslidertrack { background: transparent url('scroll_bar.gif') no-repeat scroll 0% 0%; }
#pb-productsliderhandleimage { background: transparent url('scroll_handle.gif') no-repeat scroll 0% 0%; }
body.archive { background: transparent none repeat scroll 0% 0% ! important; }
body.flat { background: transparent url('left_bg.gif') repeat-y scroll left top ! important; }
#toc_panel { position: relative; height: 1%; }
#panel_nav { padding-left: 36px; padding-bottom: 5px; }
#left_column_flat { position: absolute; z-index: 99999; top: 272px; left: 0px; }
.flat #left_column { padding-top: 250px ! important; }
* html .flat #left_column { padding-top: 410px ! important; }
#abstract_body #article_options ul { width: 310px; }
#existing_subs { margin: 1em 0pt 1.5em; padding: 1em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 460px; }
#existing_subs td { padding-bottom: 0.5em; padding-top: 0.2em; color: rgb(0, 85, 135); font-weight: bold; }
#fulltext_body #article_options { position: relative ! important; z-index: 1; }
div#cover_detail { width: 100%; font-size: 0.9em; }
div#cover_detail img { margin: 0pt auto 0.7em; display: block; text-align: center; }
#bookmark_this { display: block ! important; color: rgb(255, 255, 255) ! important; position: absolute; right: 20px; top: 3px; }
* html #bookmark_this { right: 373px; }
* html #fulltext_body #bookmark_this { right: 233px; }
#bookmark_this ul { border: 1px solid rgb(204, 204, 204); padding: 5px 10px 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; text-align: left; display: none; float: none; list-style-type: none; list-style-image: none; list-style-position: outside; margin-left: 2px; width: 138px; }
#bookmark_this:hover ul, #expander #bookmark_this ul.shown { display: block ! important; }
#bookmark_this ul li a { padding-left: 25px; font-size: 11px; display: block; height: 22px; text-decoration: none; }
#bookmark_this ul li a:hover { color: rgb(51, 51, 51); }
#bookmark_this ul li { border-bottom: 1px solid rgb(255, 255, 255); line-height: 20px; position: relative; }
#bookmark_this ul li img { position: absolute; left: 0pt; top: 0pt; }
#article_type_holder { position: relative; }
div#left-col-editors {  }
div#left-col-thisweeks { padding-left: 10px; padding-right: 10px; }
div#left-col-editors h3 { margin: 0pt ! important; }
#article_nav a { border: 1px solid rgb(186, 181, 162); padding: 5px 10px; display: inline-block; margin-top: 10px; margin-bottom: 10px; width: 100px; text-align: center; font-size: 11px; color: rgb(0, 85, 135); text-decoration: none; }
div#jobsbox { margin: 20px 0pt; padding: 20px 20px 30px; background-color: rgb(233, 236, 227); font-size: 0.9em; line-height: 1.5em; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; }
div.jt_job_position { margin-top: 10px; font-weight: bold; }
#free_article { margin-bottom: -63px; position: relative; left: 281px; }
* html #free_article { top: 3px; }
:first-child + html #free_article { top: 3px; }
.right_panel { font-size: 0.9em; min-height: 70px; height: auto ! important; }
#article_rss a { text-decoration: none ! important; }
#article_rss { float: right; font-size: 12px; font-weight: normal; z-index: -1; }
#article_rss img { position: relative; top: 5px; }
h2 #article_rss { display: block; position: relative; margin-top: -25px; }
#most_read_box #image_a { text-decoration: none ! important; margin-left: 15px; display: block; margin-bottom: 15px; }
#most_read_box #image_a img { position: relative; top: 5px; }
body.toc #main_content span.free { background: rgb(228, 221, 197) none repeat scroll 0% 0% ! important; color: rgb(160, 65, 47) ! important; margin-left: 5px; }
li.pb-productimage a { text-decoration: none; }
li.pb-productimage a span { text-decoration: underline; }
div.navigation_pagination { border: 1px solid rgb(204, 204, 204); margin: 10px 0pt; padding: 5px; height: 15px; }
div.navigation_pagination .left { float: left; }
div.navigation_pagination .right { float: right; }
#main_content div.navigation_pagination span, div.navigation_pagination span a { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; color: rgb(37, 66, 142); font-weight: normal; }
#share_buttons { float: left; height: 40px; }
#share_buttons_explanation_text { padding: 0.4em 0pt 0pt; }
#label_radio { width: 23em; }
#share_buttons label { float: left ! important; width: 60px; clear: none ! important; }
#share_buttons label input { vertical-align: top ! important; line-height: 2em; }
.reg_comms strong { margin: 0px 0pt ! important; padding: 5px 0pt 0pt ! important; display: block; clear: both; font-weight: bold; }
:first-child + html #shareMyConferences { margin-top: -2px ! important; }
#infobubble_book { border: 1px solid gray; padding: 10px ! important; background: rgb(255, 255, 255) none repeat scroll 0pt 0pt; margin-left: 155px; width: 150px; }
#bookmark li { padding-left: 0pt ! important; }
#bookmark li a { margin-left: 6px ! important; }
a#comments_button { border: 1px solid rgb(186, 181, 162); padding: 7px 10px 1px 31px; background: transparent url('comment-bg.png') no-repeat scroll 0pt 3px; color: rgb(0, 85, 135); display: block; float: right; font-size: 11px; height: 17px; line-height: 10px; position: absolute; right: 10px; top: -51px; width: auto; }
a#comments_button_with_reflect { border: 1px solid rgb(186, 181, 162); padding: 7px 10px 1px 31px; background: transparent url('comment-bg.png') no-repeat scroll 0pt 3px; color: rgb(0, 85, 135); display: block; float: right; font-size: 11px; height: 17px; line-height: 10px; position: absolute; right: 10px; top: 10px; width: auto; }
#reflectfeedbackbutton { border: 1px solid rgb(186, 181, 162); padding: 42px 10px 1px; background: rgb(223, 223, 223) url('reflect_comments_bg.gif') no-repeat scroll 0pt 0pt; right: 10px; width: 182px; height: 97px; top: -138px; font-size: 11px; line-height: 10px; position: absolute; }
#reflectfeedbackbutton ul { list-style-type: none; list-style-image: none; list-style-position: outside; }
#reflectfeedbackbutton ul li { font-size: 11px; padding-top: 10px; }
#toggleReflectOption { cursor: pointer; }
#reflectfeedbackbutton p { line-height: 10px; }
#reflectfeedbackbutton a { font-size: 11px; color: rgb(0, 85, 135) ! important; }
div.abstract { border: 1px solid rgb(224, 224, 224); padding: 5px; line-height: 1.6em; margin-bottom: 1em; background-image: url('abstractbg.gif'); background-repeat: repeat-x; background-position: center bottom; min-width: 400px; }
ul.graphicalAbstract { float: right; display: block; margin-left: 10px; }
ul.graphicalAbstract li.summaryHeading { list-style-type: none; list-style-image: none; list-style-position: outside; padding-bottom: 2px; }
ul.graphicalAbstract li.graphicalAbstractImage { background-repeat: no-repeat; background-position: left top; width: 400px; list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.summaryAbstractHighlights li { margin-left: 15px; }
ul.summaryAbstractHighlights li.highlightsHeading { list-style-type: none; list-style-image: none; list-style-position: outside; margin-left: 0pt; }
ul.downloadMMCLinks { margin-top: 10px; clear: left; }
ul.summarySection { clear: left; }
#fulltextIE6Redirection { display: block; width: 100%; height: 100%; background-color: rgb(255, 255, 255); }
ul.summarySection li { list-style-type: none; list-style-image: none; list-style-position: outside; }
ul.summarySection li.summarySubHeading { padding-top: 10px; font-weight: bold; }
.mmcLinkEnd { list-style-type: none; list-style-image: none; list-style-position: outside; float: none; clear: left; height: 8px; }
#nonAotfAbstractBlank { display: block; clear: left; }
.nonAOTFMessage { border-bottom: 10px solid rgb(255, 255, 255); display: block; margin-top: 10px; width: 99%; float: left; }
.ja50-ce-caption a:hover { text-decoration: underline; }
.ja50-ce-caption a { color: rgb(0, 85, 135); }
a#close_link { display: block; }
