/* ::::: http://www.lgcstandards-atcc.org/Portals/_default/default.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
td { vertical-align: top; }
sup { vertical-align: super; }
a:focus { outline: 0pt none; border-width: 0pt; }
input:focus { outline: 0pt none; }
body { line-height: 1; color: black; background: none repeat scroll 0% 0% white; }
table { border-collapse: separate; border-spacing: 0pt; }
caption, th, td { text-align: left; font-weight: normal; }
h2 { margin: 0.75em 0pt; }
h4, p, blockquote, fieldset, dir, menu { margin: 1.12em 0pt; }
p { margin: 1em 0pt; }
form {  }
label { margin: 0pt; }
select { min-width: 1.5em; }
body { font: 12px Verdana,Arial,Helvetica,clean,sans-serif; }
table { font-size: inherit; }
select, input, textarea { font: 99% Verdana,Arial,Helvetica,clean,sans-serif; }
body * { line-height: 1.22em; }
h2 { font-size: 1.5em; }
h4, p, blockquote, fieldset, form, dir, menu { font-size: 1em; }
sub, sup { font-size: 0.85em; }
/* ::::: http://www.lgcstandards-atcc.org/Portals/5/Skins/LGC/skin.css ::::: */

body { text-align: center; }
div#wrapSkinSearch { width: 800px; margin: 0pt auto; text-align: left; }
div#wrapLogo { height: 152px; background-image: url('last-column.jpg'); background-position: 550px 0.002in; background-repeat: repeat-x; }
div#wrapHeader { width: 100%; height: 152px; background-image: url('wholething_nologo.jpg'); background-repeat: no-repeat; }
#wrapHeader a img { float: left; margin: 4px 0pt 0pt 4px; border-width: 0px; }
div#headerSearch { padding-top: 1px; font-size: 80%; width: 25%; float: right; margin-top: 57px; text-align: left; }
#headerSearch h2 { text-align: left; margin: 0pt 0pt 3px; color: rgb(0, 153, 153); font-weight: bold; }
#headerSearch select { width: 100%; }
#SearchInput { width: 100%; margin: 3px 0pt 0pt; }
#SearchInput label { float: left; }
#SearchInput input.textBox { width: 82%; float: left; }
#SearchInput input.goButton { width: 15%; float: left; }
#SearchInputLGC { width: 100%; margin: 3px 0pt 0pt; }
#SearchInputLGC input.textBox { width: 75%; float: left; }
#SearchInputLGC input.goButton { width: 20%; float: right; }
#userLinks { clear: both; float: right; margin: 3px 0pt 0pt; }
#userLinks a, #userLinks a:link, #userLinks a:visited, #userLinks a:active, #userLinks a:hover { padding-left: 10px; font-size: 85%; color: rgb(0, 153, 153); text-decoration: underline; }
#userLinks a:hover { text-decoration: none; }
div#wrapMenu1 { clear: both; float: right; margin-top: 7px; }
#adminMenuWrapper { margin: 1px 0pt 0pt; }
div#mainbody { clear: both; width: 100%; margin: 0pt; padding: 0pt; }
div#footer { clear: left; float: right; text-align: center; width: 85%; font-family: tahoma,courier new,arial; font-size: 90%; margin-top: 15px; }
div#FooterSearch { padding-top: 30px; float: left; text-align: right; width: 170px; }
div#footer a, #footer a:link, #footer a:visited, #footer a:active, #footer a:hover { color: rgb(0, 153, 153); padding-left: 1px; padding-right: 1px; text-decoration: none; }
#footer a:visited { text-decoration: none; color: rgb(91, 16, 184); }
#footer a:hover { text-decoration: underline; }
.copyright { color: rgb(0, 153, 153); font-size: 88%; padding-top: 3px; }
.copyright a, .copyright a:link { color: rgb(0, 102, 204); text-decoration: none; }
.copyright a:hover { color: rgb(0, 102, 204); text-decoration: underline; }
.copyright a:visited { color: purple; text-decoration: none; }
.copyright a:active { color: purple; text-decoration: underline; }
div#wrapContentSearch { margin-left: 0px; padding-right: 6px; }
div#wrapFooterPane { clear: both; width: 100%; margin-top: 2px; }
div#wrapContentPane { width: 100%; margin: 0pt auto; }
/* ::::: http://www.lgcstandards-atcc.org/Portals/5/Containers/LGC/container.css ::::: */

.lgcontainerholder_public { background-color: transparent; border: medium none; width: 100%; margin-bottom: 5px; text-align: left; }
.lghelp { float: right; text-align: right; width: 5%; }
.lgactions_public { float: left; width: 93%; padding: 3px 0pt 3px 2px; color: rgb(0, 153, 153); font-size: 130%; font-weight: bold; text-align: left; white-space: nowrap; }
.lgcontainer_public { clear: both; padding: 8px 0px 0px 2px; }
.lgwrapcontainer_public { text-align: left; }
.lgfooter_public { margin-top: 25px; text-align: center; }
/* ::::: http://www.lgcstandards-atcc.org/Portals/5/portal.css ::::: */

body { padding: 0pt; margin: 0pt; font-family: Verdana,Arial,Helvetica,sans-serif,Tahoma; color: rgb(0, 0, 0); }
a { color: rgb(0, 102, 204); }
a:link { color: rgb(0, 102, 204); text-decoration: none; }
a:visited { color: purple; text-decoration: none; }
a:hover { color: rgb(0, 102, 204); text-decoration: underline; }
a:active { color: purple; text-decoration: underline; }
strong, b { font-weight: bold; }
h2 {  }
ul li { list-style-type: disc; }
label { text-align: left ! important; }
/* ::::: http://www.lgcstandards-atcc.org/WebResource.axd?d=3dKvFtlZJFohOBY3Zmo4z963LvLRd9fSA8XXlctRSdblQo8vecDbGXDO96MkA1V3XfwcqDZvaRuBopbQ1sYck9WUH4XBdLot0&amp;t=633268514500000000 ::::: */

.radmenu { white-space: nowrap; float: left; position: relative; }
.radmenu:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.radmenu ul.horizontal, .radmenu ul.vertical { margin: 0pt; padding: 0pt; display: none; position: relative; left: 0pt; float: left; }
.radmenu .item { float: left; position: relative; list-style: none outside none; }
.radmenu .horizontal .item { clear: none; }
.radmenu ul.active, .radmenu ul.rootGroup { display: block; }
.radmenu .text { display: block; }
.radmenu a.link { cursor: default; display: block; }
.radmenu ul.rootGroup { float: none; }
.radmenu .link { width: auto; }
/* ::::: http://www.lgcstandards-atcc.org/DesktopModules/RadMenu/RadControls/Menu/Skins/LGC/styles.css ::::: */

.RadMenu_LGC { background: url('mainnavigationbackground.jpg') repeat-x scroll center bottom rgb(0, 140, 140); border-left: 1px solid rgb(0, 66, 66); border-top: 1px solid rgb(0, 66, 66); border-bottom: 1px solid rgb(0, 66, 66); white-space: nowrap; }
.RadMenu_LGC .link { text-decoration: none; color: rgb(255, 255, 255); border-left: 1px solid rgb(0, 140, 140); border-right: 1px solid rgb(0, 66, 66); background: none repeat scroll 0% 0% transparent; cursor: pointer ! important; }
.RadMenu_LGC .link:hover, .RadMenu_LGC .focused, .RadMenu_LGC .expanded { text-decoration: none; color: rgb(0, 0, 0) ! important; background: url('mainnavigationbackground_2.jpg') repeat-x scroll center bottom transparent; }
.RadMenu_LGC .link:visited, .RadMenu_LGC .link:active { text-decoration: none; color: rgb(255, 255, 255); }
.RadMenu_LGC .rootGroup .text { padding-left: 5px; margin-right: 2px; font-weight: bold; font-size: 90%; line-height: 15px; padding-right: 5px; }
.RadMenu_LGC .rootGroup .text { background-image: none; }
/* ::::: http://www.lgcstandards-atcc.org/Portals/5/Skins/LGC/formatting.css ::::: */

.hidden { position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; overflow: hidden; }
.templateTable { font-size: 95%; border: 1px solid rgb(237, 237, 237); padding: 0px; white-space: normal; }
.templateHeader { font-size: small; color: black; background-color: rgb(219, 240, 245); height: 22px; font-weight: bold; vertical-align: middle; }
.templateRowHeight { height: 24px; vertical-align: middle; position: relative; white-space: normal; }
.templateLabelHeader { font-weight: bold; }
.templateFirstColumn { width: 143px; white-space: normal; }
.templateFCV_CB { width: 400px; white-space: normal; }
.templateSC_CB { width: 70px; text-align: left; white-space: normal; }
.templateSCV_CB { width: 200px; white-space: normal; }
.templatePermitsForms { text-align: justify; white-space: normal; }
.templateTblColRowsFirstColumn { width: 143px; white-space: normal; }
.templateTblColRowsFirstColumnValue { text-align: justify; white-space: normal; }
.templateDisclaimerTable { font-size: 95%; }
