/* ::::: http://www.sciencedirect.com/science/page/static/stylesheets/css_gen_v01.css ::::: */

body { margin: 0.4em 0em 0em; }
div, html, img, input, select, table, td, li, .pageText { font-size: 1em; font-family: arial,verdana,helvetica,sans-serif; }
.pageContent { margin: 5px; }
#sdBody { font-size: 75%; font-family: arial,verdana,helvetica,sans-serif; width: 100%; padding-top: 4px; padding-bottom: 4px; }
a, a:link { text-decoration: none; }
a:hover { text-decoration: underline; }
table.sdMainNavCenter tbody, td, tr, div { font-size: 1em; }
