
/* ::::: http://jcs.biologists.org/cgi/content/full/116/9/1733/DC1 ::::: */

table.content_box_outer_table { padding: 0px 0px 5px 10px; }
table.content_box_outer_table_in_sidebar_frame { padding: 10px 10px 0px; }
table.content_box_inner_table { padding: 0px 0px 5px; background-color: rgb(240, 240, 240); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 65%; }
table.content_box_pdfinframes { padding: 0px 0px 4px; }
td.content_box_title_highlight { padding: 1px; font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; font-style: italic; color: rgb(255, 255, 255); background-color: rgb(255, 0, 0); font-size: 120%; font-weight: bold; text-align: center; vertical-align: middle; }
td.content_box_title { padding: 1px; font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif; font-style: italic; color: rgb(255, 255, 255); background-color: rgb(130, 130, 130); font-size: 120%; font-weight: bold; text-align: center; vertical-align: middle; }
td.content_box_space_between_sections { padding-top: 2px; }
td.content_box_arrow { padding: 0px 0px 3px 5px; text-align: right; }
td.content_box_item { padding: 0px 5px 3px 3px; text-align: left; vertical-align: top; }
td.content_box_pdfinframes_citation_cell { border: 1px solid rgb(0, 0, 0); padding: 3px; background-color: rgb(255, 255, 255); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 65%; text-align: left; }
font.openaccess { font-weight: bold; padding-left: 3px; padding-right: 3px; background-color: rgb(255, 255, 255); }
font.openaccess_open { color: rgb(0, 0, 0); }
font.openaccess_access { color: rgb(204, 0, 0); }
font.openaccess_oa {  }
.content_box_openaccess_title { text-align: center; white-space: nowrap; background-color: rgb(186, 186, 186); }
div.referrer-based-search-line { margin: 0px 4px 5px 0px; padding: 3px 25px; font-family: arial,sans-serif; font-size: 0.75em; background-color: rgb(0, 153, 24); }
div.referrer-based-search-line .search-terms { font-weight: bold; }
div.referrer-based-search-line .collection-name { font-style: italic; }
@media screen, print, handheld {
  .notonscreen { display: none; }
}
