body {
	margin-top:5px;
	background-color: #FFFFFF;
}
.container { background: url(lib/img/grid.png); } 

#header {
  height:140px;
  color:#fff;
  border-bottom-color:#000;
  border-bottom-width:1px;
  border-style:solid;
}

#headerPicture img{
  margin-right: 0px;
  position: absolute;
  right:0px;
}

img { margin-bottom: 0px;}

#header img {
	margin:0px;
	border-width: 0px;
}

#news h4 { 
  color: #900; 
  margin-top:5px;
}
#header h4 {
	margin: 0px;
	top: -8px;
	position: relative;
}
h2,h3 { color: #900; }


#nav {
  height: 100%;
}

#nav ul {
  list-style:none;
  margin-left:0px;
  display:block;
  width: 100%;
}

#nav ul li {
  border-bottom-width: 1px;
  border-color:#c00;
  border-style: solid;
  display:block;
}

.firstNavLink { border-top-width: 1px; }
#nav ul li a {
  display: block;
  padding-left: 18px;
}
#nav a:link { color: #000; }
#nav a:visited { color: #000; }
#nav a:hover { color : #fff; background-color:#900;}
#nav a:active { color: #000; }
#main {
  padding-top: 3px;
}

#news ul {
  list-style:none;
  margin-left: 0px;
  font-size: .9em;
  
}

#news h3 {
  font-size: 1em;
}


h1 { display: none; }

#foother {
	border-top-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;

}

#foother p {
	font-size: 90%;
	font-style: italic;
	text-align: center;
	margin: 0px 0px 0px 0px;

}

.posters li {
	margin-bottom: 1em;
	margin-left: 1em;

}
