[Desktop Entry]
Icon=text-html
Name=http://www.gene-quantification.de/bioinf-subpage1.html#power
Type=Link
URL[$e]=http://www.gene-quantification.de/bioinf-subpage1.html#power
