
/* ::::: http://www.molecularexpressions.com/includes/style/index/ie_win.css ::::: */

a:link, a:visited { text-decoration: none; }
a:hover { color: rgb(255, 0, 0); }
h1 { font-size: 22px; font-family: arial,sans-serif; font-weight: bold; }
h2 { font-size: 20px; font-family: arial,sans-serif; font-weight: bold; }
h3 { font-size: 18px; font-family: arial,sans-serif; font-weight: bold; }
h4 { font-size: 16px; font-family: arial,sans-serif; font-weight: bold; }
h5 { font-size: 14px; font-family: arial,sans-serif; font-weight: bold; }
h6 { margin: 15px 0px; font-size: 12px; font-family: arial,sans-serif; font-weight: bold; }
.default { font-size: 16px; font-family: arial,sans-serif; }
.minusone { font-size: 14px; font-family: arial,sans-serif; }
.minusonesymbol { font-size: 14px; font-family: symbol; }
.minustwo { font-size: 11px; font-family: arial,sans-serif; }
.minustwosymbol { font-size: 11px; font-family: symbol; }
.nav { font-size: 13px; font-family: verdana,arial,helvetica,geneva; }
.searchbox { font-size: 10px; font-family: verdana,arial,helvetica,geneva; height: 20px; width: 90px; }
.searchboxlarge { font-size: 10px; font-family: verdana,arial,helvetica,geneva; height: 20px; width: 120px; }
.inputbox { font-size: 12px; font-family: arial,sans-serif; width: 140px; font-weight: bold; }
.descbox { font-size: 12px; font-family: arial,sans-serif; width: 240px; font-weight: bold; height: 300px; }
.selecttext { font-size: 12px; font-family: arial,sans-serif; font-weight: bold; }
.editbox { font-size: 12px; font-family: arial,sans-serif; width: 340px; font-weight: bold; }
.headertext { font-size: 14px; font-family: arial,sans-serif; font-weight: bold; }
.admintd { font-family: arial; font-size: 12px; font-weight: bold; }
