#banner,#promosAndTools,#pageNavAndTools,#footer,#breadcrumb,#header{display:none;}
#content{width:100%;}
.topLeftRoundCorner{border-left:2px solid #e1e9eb;border-top:2px solid #e1e9eb;}
.buttonGroup li span input,.buttonGroup li span,.action input,.action,.submit input,.submit{background-image:none;background-color:#fff;}
.tabbedContent li.active{background-color:red;border:2px solid blue;background-image:none;}
.tabbedContent li.active a{background-color:red;background-image:none;border:2px solid red;}